@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,input{padding:0;margin:0;vertical-align: baseline;font: inherit;}
body, button, select, textarea, input{font-family:"Hiragino Sans GB","Microsoft Yahei","微软雅黑",arial,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; }
li{ list-style:none;}
table{ border-collapse:collapse;}
a{ text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());  color:#333;}
/* 去掉 IE 10+ 点击链接时的灰色背去掉点击时的焦点框，同时保证使用键盘可以显示焦点框  */
a:hover{ text-decoration: underline;}
a:active {    background-color: transparent;}
a:active,a:hover {    outline: 0 none;}
/**
 * 统一 Chrome 和 Safari 的焦点框样式
 * Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
 * Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
 * 
 */
a:focus {
    outline: 1px dotted;
    outline: 0 none;
}
/**
* 闭合浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6-7 触发 hasLayout */
}

a img, img{ border:none; vertical-align:middle;}
.green{ color:#1A772A;}
.red{ color:#cf3826;}
.blue{ color:#0055bb}
.hidden{display: none;}
.bolder{font-weight: bolder;}

body{ padding:41px  0 0 0;}
.nav{ width:100%; margin:0 auto 10px; position:fixed; top:0;border-bottom:1px solid #ddd; background:#fff;line-height:40px;height:40px; z-index:999;}
.top{width:1000px; font-size:14px; color:#666; margin:0 auto; position:relative;}
.search{ border:1px solid #ddd; height:29px; font-size:14px; background:url(images/searchdaka.png) no-repeat 5px 5px ; width:258px; border-radius:3px; margin:4px 0 0 5px; text-indent:30px; line-height:29px; position:absolute; left:10px; top:0px;}
.top a{ margin: 0 25px; }
.top .xinlang img,.nav .weixin img{ vertical-align:middle; margin: -3px 0 0 5px;}
.top a.xinlang{ margin: 0 0 0 0px;}
.top a.weixin{ margin: 0 20px 0 10px; position:relative;}
.top a.weixin span{ position:absolute; z-index:2; left:-40px; top:20px; display:none;}
.top a.weixin span img{ width:200px; height:200px;}
.top a.weixin:hover span{ display:block;}
.top a.login{ margin: 0 0 0 20px; position:relative;}
.top a.register{ margin: 0 40px 0 0 ;}
.top span{ margin: 0 40px;}
.topright{ position:absolute; z-index:1; right:0; top:0;}
.banner{ background:url(images/shouyebanner_02.jpg) no-repeat center #eb2c24; height: 286px;width: 100%;margin: 0 auto;}
.top1{margin:0 auto; width:1000px;text-align:right; position:relative;}

.login b,.top .top1 ul li a b{ background:#a11; color:#fff; position:absolute; z-index:1; width:20px;min-width:20px; height:20px; line-height:20px; text-align:center; border-radius:99px; top:-2px; right:5px; font-size:12px;}
.login img { width: 16px; height: 16px; border-radius: 99px; vertical-align: middle; margin: 0 5px 0 0;}
.nav a.weixin span { position: absolute; z-index: 3999; left: -40px; top: 20px; display: none;}
img.sjjt{ width:9px; height:5px;}
.top1 ul{ position:absolute; z-index:99; right:360px; width:110px; border:1px solid #a11; top:30px; background:#fff; text-align:left;}
.nav .top1 ul li a{border-bottom:1px solid #ddd; line-height:2.5em; display:block; margin:0; width:84px; padding: 0 0 0 26px; position:relative;}
 .top1 ul li a b{ top:5px;}
.nav .top1 ul li a:hover{ background:#a11; color:#fff; border-bottom:1px solid #a11;}
.nav4{ background:url(images/navbg_03.png)repeat-x; width:100%; height:63px; margin: -1px 0 15px; }
.nav41{ overflow:hidden; width:1000px; margin:0 auto;line-height:62px;}
.logo{ background:url(images/logo_06.png) no-repeat center; width:170px; height:63px; float:left;}
.nav4r{ float:left; margin: 0 0 0px 25px;}
.nav4r a{ font-size:18px; margin: 0 25px;}
.nav4r .select{ color:#d12627;}
.yqhy{ color:#ff6b1a;}


.main:before,
.main:after {
    content: "";
    display: table;
}

.main:after {
    clear: both;
}

.main{ width:1000px; margin:0 auto 10px; overflow:hidden;}
.footer{ font-size:14px; width:100%;margin:0 auto;  text-align:center; background:#d12627; color:#fff; border-top:1px solid #a11; line-height:67px; height:67px;}
.footer a{ color:#fff; }

/* 翻页 */

.pagination{ text-align:center; padding:20px 0; clear:both;font-size: 14px;}
.previous_page{margin:  0 10px 0 0px;font-size: 14px;}
.next_page{margin:  0 0 0 10px;font-size: 14px;}
.pagination a{font-size: 14px;color: #a11; }
.current{font-size: 14px;}
/*  */
.adddz{font-size: 14px;line-height: 38px; color: #333;}
.tanchudaoju{ width:300px;font-size: 14px;color: #666;line-height: 1.1em;border-collapse:separate;}
.tanchudaoju img{ width:60px; height:60px;}
.tanchudaoju td{text-align: center;border: none;line-height: 1.3em;padding: 5px 0;border: 1px solid #fff;}
.tanchudaoju .select{ border:1px solid #a11; background:url(images//duigou.png) bottom right no-repeat;}
.tanchudaoju input{ margin: 0 0 0 10px;}
.ggbtn{background: #a11;color: #fff;font-size: 16px;font-family: '微软雅黑';display: block;width: 160px;text-align: center;line-height: 40px;margin: 0 auto;}
.ui-button-text-only .ui-button-text{background: #a11;color: #fff;}

div.ui-front{z-index: 5000;}
/* 404 */
.fzferro{ display:block; width:1000px; margin:0 auto; text-align:center;}
/*牛人弹出提示*/
.niurenyindaotanchuang{ width:400px; position:fixed; z-index:1; left:50%; top:50%; margin: -300px 0 0 -200px; border:2px solid #eee; padding:10px 0 0 0;}
.niurenyindaotanchuang .closed{ position:absolute; z-index:1; right:10px; top:10px; background:url(images/delet.png) no-repeat; width:16px; height:16px; cursor:pointer;}
.zccghmr{ width:400px; text-align:center; color:#e53531;}
.zccghmr span{ font-size:16px; font-weight:bolder; color:#333; line-height:2em;}
.wjxgsbt{ width:400px; text-align:center; color:#333; padding:5px 0; font-size:16px;}
.niurenyindaotanchuang .nrjylist-tanchuang {
  width: 400px;
  overflow: hidden;
  padding: 5px 0;
  margin:  5px auto 0;
  background: #f5f5f5;
}
.niurenyindaotanchuang .nrtop {
  width: 400px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px;
}
.niurenyindaotanchuang .nrtopl {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 10px;
}
.niurenyindaotanchuang .nrtopl img {
  width: 30px;
  height: 30px;
}
.niurenyindaotanchuang .nndmz {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  float: left;
}
.niurenyindaotanchuang .nrtop span {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0px;
  font-size: 20px;
}
.niurenyindaotanchuang .niurenbang {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  line-height: 33px;
  position: relative;
}
.niurenyindaotanchuang .nrgms {
  color: #fff;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #e53531;
  border-radius: 3px;
  display: block;
}
.niurenyindaotanchuang .nrbsj {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #eee;
  background: #f5f5f5;
}
.niurenyindaotanchuang .nrbsj td {
  border: 1px solid #eee;
  line-height: 1.5em;
  padding: 0 0 0 5px;
  font-size: 14px;
  color: #666;
}
.niurenyindaotanchuang td.tdright {
  text-align: right;
  padding: 0 3px 0 0;
  font-size: 14px;
  color: #333;
}

/* 回顶部 */
.huidingbu{ position:fixed; z-index:1; right:0; width:108px;  background:#eee; bottom:20%;}
.huidingbu1{ border-top:3px solid #d12627;}
.huidingbu1 a{ font-size:14px; color:#333; display:block; text-align:center;border-bottom:1px solid #fff; padding:8px 0; text-decoration:none;}
a.bmcs{ background:#fff; color:#e53531; font-size:16px;}
.huidingbu1 a img{ vertical-align:middle;}
a.huidingbu2{ background:#e53531; text-align:center; width:108px; display:block; padding:10px 0;}
