@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,input{padding:0;margin:0;vertical-align: baseline;font: inherit;}
body, button, select, textarea, input{font-family:"Hiragino Sans GB","Microsoft Yahei","微软雅黑",arial,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; }
li{ list-style:none;}
table{ border-collapse:collapse;}
a{ text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());  color:#333;}
/* 去掉 IE 10+ 点击链接时的灰色背去掉点击时的焦点框，同时保证使用键盘可以显示焦点框  */
a:active {    background-color: transparent;}
a:active,a:hover {    outline: 0 none;}
/**
 * 统一 Chrome 和 Safari 的焦点框样式
 * Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
 * Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
 * 
 */
a:focus {
    outline: 1px dotted;
}
/**
* 闭合浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6-7 触发 hasLayout */
}

a img{ border:none;}
.green{ color:#1bb02c;}
.red{ color:#cf3826;}
.blue{ color:#05b;}
body{ background:#fff;}
.showed{ box-shadow:1px 1px 3px rgba(0,0,0, 0.1); background:#fff;}
.bolder{font-weight: bolder;}

.nav{ width:100%; margin:0 auto 10px;}
.nav .top{width:100%;line-height:40px; font-size:14px; color:#666; background:#f5f5f5; border-bottom:2px solid #a11;}
.nav .top a{ margin: 0 25px; }
.nav .xinlang img,.nav .weixin img{ vertical-align:middle; margin: -3px 0 0 5px;}
.nav a.xinlang{ margin: 0 0 0 0px;}
.nav a.weixin{ margin: 0 20px 0 10px; position:relative;}
.nav a.weixin span{ position:absolute; z-index:2; left:-40px; top:20px; display:none;}
.nav a.weixin span img{ width:200px; height:200px;}
.nav a.weixin:hover span{ display:block;}
.top a.login{ margin: 0 0 0 20px; position:relative;}
.top a.register{ margin: 0 20px 0 0 ;}
.top span{ margin: 0 40px;}
.top1{margin:0 auto; width:1000px;text-align:right; position:relative;}
.logo{ position:absolute; z-index:2; left:10px; top:3px; background:url(images/logoqqq_03.gif) no-repeat; width:161px; height:35px;}
.login img{ width:16px; height:16px; border-radius:99px; vertical-align:middle; margin: 0 5px 0 0;}
.login b,.top .top1 ul li a b{ background:#a11; color:#fff; position:absolute; z-index:1; width:20px;min-width:20px; height:20px; line-height:20px; text-align:center; border-radius:99px; top:-2px; right:5px; font-size:12px;}
img.sjjt{ width:9px; height:5px;}
.top1 ul{ position:absolute; z-index:99; right:360px; width:110px; border:1px solid #a11; top:30px; background:#fff; text-align:left;}
.top .top1 ul li a{border-bottom:1px solid #ddd; line-height:2.5em; display:block; margin:0; width:84px; padding: 0 0 0 26px; position:relative;}
.top .top1 ul li a b{ top:5px;}
.top .top1 ul li a:hover{ background:#a11; color:#fff; border-bottom:1px solid #a11;}
.banner{ background:url(images/banner.jpg) repeat-x center; height:305px;}

.nav2{ width:1000px; overflow:hidden; padding:15px 0 8px; margin:0 auto;}
.nav2 li{ float:left; margin: 0 0px 0 40px; border-right:1px solid #eee; line-height:1.6em; padding: 0 20px 0 0;}
.nav2 li a{ font-size:14px;text-decoration: none; padding: 0 8px; margin: 0 3px;}
.nav2 .synav{ height:52px; line-height:52px;}
.nav2 .gpnav{ width:200px;}
.nav2 .pxnav{ width:170px;}
.nav2 .cpnav{ width:330px; border:none;}
.nav2 .select{ background:#a11; color:#fff; border-radius:2px;}
.nav3{ line-height:40px; height:40px; text-align:center; width:100%; background:#a11;}
.nav3 a{ color:#fff; padding:10px 25px;}

.main{ width:1000px; margin:0 auto 20px; overflow:hidden;}
.footer{ font-size:14px; width:100%;margin:0 auto; border-top:5px solid #a11; text-align:center; background:#fff; padding:10px 0 30px; line-height:2.0em;}
.footer a{ color:#666; padding: 0 10px;}

/* 翻页 */

.fanye{ width:740px; text-align:center; padding:20px 0; clear:both;}
.fanye a{ color:#a51417;}
.fanye a,.fanye span{ margin: 0 0 0 20px;}

.tanchudaoju{ width:320px;}
.tanchudaoju img{ width:60px; height:60px;}
.tanchudaoju td{text-align: center;border: none;padding: 10px 0;}
.tanchudaoju .select{ border:1px solid #a11; background:url(images/duigou.png) bottom right no-repeat;}
.tanchudaoju input{ margin: 0 0 0 10px;}
.ggbtn{background: #a11;color: #fff;font-size: 16px;font-family: '微软雅黑';display: block;width: 160px;text-align: center;line-height: 40px;margin: 0 auto;}
