@charset "utf-8";
/* CSS Document */
.mainleft{ width:710px; float:left;  }
.mainright{ width:270px; float:right;}
.mainleft2{ float:left; width:550px; position:relative; height:310px;}
.mainleft2 a{ position:absolute; z-index:1; bottom:0; left:0; line-height:37px; height:37px; width:510px; background:rgba(0,0,0,0.5); color:#fff; padding: 0 20px;  }


.mrlist{ width:270px; padding:10px 0 5px;}
.mrlist h3{ font-weight:bolder; line-height:1.6em; padding: 0 0 5px;}
.mrlist p{ font-size:14px; color:#666;}
.mrlist .more{ color:#999;}
.mrlist1{ border-bottom:1px dashed #ccc; padding-bottom:15px;}
.morebaoda a{ color:#3a6dd6; font-size:14px;}

.dsgfsj,.dsgfsj1{ position:absolute; z-index:1;opacity: 0.5; width:220px; height:195px; background: rgb(0, 0, 0); border-radius:3px; font-size:14px; right:30px; top:40px;}
.dsgfsj1{ opacity:1; background:none; z-index:2; color:#fff; padding:10px 0 0 0;}
.dsgfsj1 li{ padding: 10px 0; text-indent:28px;}
.dsgfsj1 img{ margin: 0 10px 0 0; vertical-align:middle;}

.dsmrt{ background:#f7f7f7; width:670px; height:180px; padding:15px 20px; position:relative; overflow:hidden;}
.dsmrtlist{ width:210px; height:170px; background:#fff; padding:10px 0 0 10px; border-radius:4px; float:left; margin: 0 5px 0 0; position:relative;}
.dsmrtlistt{ overflow:hidden; line-height:1.3em; margin: 0 0 10px;}
.dsmrtlisttl,.dsmrtlisttl img{ float:left; width:60px; height:60px;}
.dsmrtlisttr{ float:left; margin: 0 0 0 10px; font-size:12px;}
.dsmrname a{ font-size:12px; font-weight:bolder;}
.dsmrtzsy{ color:#999;}
.dsmrtlist2{ font-size:12px; color:#666; line-height:1.6em;}
.dsmrtlist3 a{ float:right; margin: 0 10px 0 0 ; color:#fff; background:#eb0000; border-radius:3px; display:block; width:80px; height:29px; font-size:14px; line-height:29px; text-align:center;}
.huangguan1{ position:absolute; z-index:1; background:url(images/dasaimingrentang_03.png) no-repeat; width:35px; height:28px; right:5px; top:5px;}
.huangguan2{ background:url(images/dasaimingrentang_05.png);}
.huangguan3{ background:url(images/dasaimingrentang_07.png);}
.dsmrtlistlast{ margin:0;}
.dsmrtleft,.dsmrtright{ background:url(images/dasaimingrentang_13.png) no-repeat center #f7f7f7;; width:20px; height:210px; position:absolute; z-index:1; left:0; top:0;}
.dsmrtright{ background:url(images/dasaimingrentang_16.png) no-repeat center; right:0; left:auto;}

.mainright1{ width:270px; height:40px; margin:  0 0 8px 0; line-height:40px; text-align:center;}
.mainright1 a{ float:left; background:#d12627; width:130px; height:40px; text-align:center; line-height:40px; color:#fff;  margin:0 10px 0 0; border-radius:3px;}
.mainright1 a.loginout{ color:#a11; background:none; display:inline; float:none; cursor:pointer;}
a.last{ margin:0;}
.banner3 img{ width:270px; height:200px;border-radius:3px;}



.main h2{ width:100%; height:38px; line-height:38px; font-size:14px; color:#fff; text-indent:1.5em; position:relative; border-bottom:1px solid #ddd; }
.main h2 a{ color:#a11; font-size:16px; font-weight:400;}
.main h2 .more{ position:absolute; z-index:1; right:0px; top:0;font-size:12px; color:#999; font-weight:100; width:60px; text-align:center; text-indent:0;}
.main h2 span{ font-size:12px; margin: 0 0 0 80px;}
.main h2 .title{ color:#fff; font-weight:400;  background:#d12627; border-radius:3px 3px 0px 0px;}
h2.tybt{ text-indent:0; }
.main h2.tybt .title{ padding:9px 30px; text-decoration:none;}
h2.tybt span{ color:#999; margin: 0 0 0 260px; }
h2.tybt2{ text-indent:0; margin:0;}


h2.dspm{ background:#d12627; border-bottom:1px solid #8c0003; border-radius:3px 3px 0  0;}
h2.dspm a{ color:#fff; line-height:40px;}
h2.dspm .tab{ padding: 5px 15px 7px 15px; margin: 0 10px -5px ;font-size:14px; font-weight:bold; }
h2.dspm .select{color:#a11; background:#fff;border:1px solid #8c0003; border-bottom:none;line-height:45px;  border-radius: 3px 3px 0 0;}

.dllist{ padding: 10px 0 0px 0;}
.infolist{ width:270px; padding: 0 15px 15px; line-height:2.8em; font-size:14px;}
.infolist li{ border-bottom:1px solid #eee;}
.infolist a{ color:#a11;}
.advert,.advert img{ width:300px; height:175px;}
table{ width:710px; font-size:12px;  text-align:center;  margin:0 auto;}
table th{ color:#333;line-height:33px;border-bottom:1px solid #ddd;font-weight:bolder;}
table td{ line-height:48px; border-bottom:1px solid #eee; color:#666;}
.ranking{ color:#a11;}
.caozuoicon{ background:url(images/caozuo.jpg) no-repeat 0 3px; padding: 0 0 0 15px; color:#a11;}
.main2{ float:left; width:100%; margin: 0 0 30px;}
.adverttl{ width:1000px; text-align:center; margin: 0 auto 30px;}
.adverttl2{ padding:0; width:1000px; height:90px;}
.adverttl2 img{ width:1000px; height:90px;}

	.border-angle { font-style: normal; border-color: #a11 #fff #fff #a11; border-style: solid; border-width: 19px 8px; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden;}
	.main-title h2 em{ padding: 0 28px 0 15px; display: inline-block; float: left; font-style: normal; height: 38px; line-height: 38px; background-color: #a11; color: white; font-size:16px;}
	.main-title h2 .notice-text { float: left;height: 38px; line-height: 38px; font-size: 12px; color: #666; margin:0;}
	.main-title h2 .notice-text i{ color: #a11; font-size: 14px; vertical-align: middle; margin: 0 4px 0 10px;}
	.main-title h2 .border-angle { float: left; margin:0;}
	.main-title h2 .more-dian { display: inline-block;width: 17px; height: 33px; background: url('../images/moreico.png') left center no-repeat; float: right; margin-right: 15px;}

	/* Elegant demeanour
	-------------------------------------------------------------------------------- */
	.elegant-demeanour{ padding: 15px 5px 0px;}
	.elegant-demeanour ul li{ float: left; margin: 0 10px 18px; width: 206px; *display: inline; *line-height: 0;}
	.info-box{ font-size: 0;}
	.face-link-el{ position: relative; display: inline-block; float: left; width: 78px; height: 78px; overflow: hidden; border: 1px solid #ddd;}
	.face-link-el img{ width: 78px; height: 78px;}
	.face-link-el span{display: inline-block; width: 78px; height: 20px; line-height: 20px; position: absolute; bottom: 0; left: 0; background-color: #a51417; font-size: 12px; color: white; text-align: center;}
	.face-txt{ width: 118px; float: right; font-size: 12px; line-height: 12px;}
	.face-txt p{ font-size: 0;}
	.face-txt h4 a{ display: inline-block; height: 14px; line-height: 14px; width: 118px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
	.face-txt h4{ }
	.face-txt h4 a,
	.face-txt p a,
	.face-txt p span{ font-size: 12px;}
	.face-txt p span{ color: #666;}
	.face-txt p span em{ font-size: 14px; font-style: normal;color: #a51417;}
	.face-txt p .support-link{ background: url(images/zhichi.png) left center no-repeat; margin-right: 10px;}
	.face-txt p .subscribe{ background: url(images/caozuo.jpg) left center no-repeat; }
	.face-txt p .support-link,
	.face-txt p .subscribe{ color: #a11; padding-left: 18px; *display: inline-block; *float: left;}
	.face-txt .info-icon{ margin-top:5px; *clear: both; *overflow: hidden;}
	.face-txt .info-icon a:hover{ color: #a51417; text-decoration: underline;}
	.elegant-demeanour .pagination-content{ margin: 0 10px;}


	.tab-title{ width: 100%; border-bottom: 1px solid #a11;}
	.tab-title li{ width: 150px; float: left;}
	.tab-title li a{ display: inline-block; width: 100%; height: 38px; text-align: center; font-size: 16px; line-height: 38px; color: #a11;}
	.active{ }
	.tab-title .active a{ background-color: #a11; color: white;}
	.tab-inner-title{background-color: #f9f9f9;padding: 8px 0; height: 16px; overflow: hidden;}
	.tab-inner-title span,
	.tab-inner-title i{ display: inline-block; font-size: 14px; font-style: normal; float: left; text-align: center;}
	.tab-inner-title span{ width: 133px; color: #666;}
	.tab-inner-title i{ width: 4px; color: #e6e6e6; font-size: 16px;}
	.tab-content{ display: none;}
	.tab-active{ display: block;}
	.dl-list{ overflow: hidden;}
	.dl-list dl{ padding: 15px 0; margin: 0 15px; border-bottom: 1px dashed #e3e4e8; margin-top: -1px;}
	.dl-list dl dt,
	.dl-list dl dd{ float: left; font-size: 14px; line-height: 28px; color: #666;}
	.dl-list dl dt{ width: 18px; text-align: left;}
	.dl-list dl .best-user{ color: #a11;}
	.dl-list dl dd{ width: 149px;}
	.dl-list dl .dl-number{ width: 66px; padding-left: 5px; text-align: center;}
	.dl-list dl dd .list-user-img{ display: inline-block; width: 28px; border: 1px solid #ddd; float: left; font-size: 0; line-height: 0;}
	.dl-list dl dd .list-user-img img{ width: 28px; height: 28px;}
	.dl-list dl dd .list-user-name{  border: none; margin-left: 6px; font-size: 14px;}
	.dl-list dl dd a:hover{ color: #a11;}


/*  */
.syFocusThumb{ width:1000px;}
.gsgd{ width:1000px; padding:20px 0; overflow:hidden; position:relative;}
.gsgdleft,.gsgdright{ background:url(images/leftrightban.png) no-repeat  0 center; width:21px; height:53px; float:left; cursor:pointer;}
.timelist{ position:absolute; z-index:1; width:940px; left:30px; top:18px; overflow:hidden;}
.timelist2{  width:4000px; margin: 0 0 0 10px;}
.gsgdright{ float:right; background-position:-21px center;}
.timelist2 i{ float:left; width:50px; height:50px; border:3px solid #a11; border-radius:199px; text-align:center; line-height:50px; margin: 0 0 0 15px; cursor:pointer;}
.timelist2 i.selected,.timelist2 i:hover{ background:#a11; color:#fff;}




.gsdgxq{ width:980px; padding:10px; overflow:hidden; margin: 0 0 10px 0;}
.gsdgxqleft{ width:530px; float:left;}
.gsdgxqleft a img{ width:530px; height:330px;}
.gsdgxqleft a{ display:block; width:530px;}
.gsdgxqleft .title{ font-size:16px; line-height:1.8em;}
.gsdgxqleft p{ font-size:14px;}
.gsdgxqleft p a{ display:inline; color:#a11;}
.gsdgxqright{ width:450px; float:left;}
.gsdgxqright li { float:left; width:140px; margin: 0 0px 5px 10px; overflow:hidden;}
.gsdgxqright li a,.gsdgxqright li a img{ display:block; width:140px; font-size:14px; line-height:2em;}
.gsdgxqright li a img{ height:100px;}

/*  */
.zjdpzj{ width:1000px; overflow:hidden; padding:0px 0 10px 0;}
.zjdpzj li{ float:left; width:192px; background:#fff; position:relative;box-shadow:1px 1px 3px rgba(0,0,0, 0.1); margin: 0 10px 0 0;}
.zjdpzj li.last{ margin:0;}
.zjdpzj li a img,.zjdpzj li a{ display:block; width:192px;}
.zjdpzj li a img { height:144px;}
.zjdpzj li .title{ padding:5px  10px 5px 10px; width:172px;}
.zjdpzj2 .title{ position:absolute; z-index:1; bottom:0px; background:rgba( 0,0,0,0.6) !important; filter:Alpha(opacity=60); background:#000; left:0; color:#fff; }

.dllist2{ padding: 10px 0 16px ;}
.dllist2 table td{ line-height:36px;}
/* 策略排行榜*/
	.info-list-ol{padding: 10px 10px 10px}
	.info-list-right ol { font-size: 14px;;}
	.info-list-right ol li{ list-style-type: decimal; list-style-position: inside; position: relative; background: #fff; border: 1px solid #fff; padding: 0 5px;}
	.info-list-right ol li h4{ display: inline;*display: inline-block; font-size:14px;height: 28px; line-height: 28px; overflow: hidden; font-weight: normal; text-align: left;}
	.info-list-right ol li h4 span{ *padding-left: 4px;}
	.info-list-right ol li h4 em{ position: absolute; right: 5px;_right: 15px; top: 0; color: #999; font-style: normal;}
	.ol-content{ padding-bottom: 10px; display: none;}
	.ol-content img{ float: left; width: 78px; height: 78px; border: 1px solid #ddd;}
	.ol-content .ol-text{ float: right; width: 179px; height: 79px; overflow: hidden; font-size: 12px;}
	.ol-content .ol-text a{ color: #333; line-height: 20px; text-align: justify;}

/* 开始 */
.toutiao{ float:left; width:280px;}
.banner2{ width:720px; float:left; margin: 0 0 10px 0; position:relative;}
.KinSlideshow a img{ width:720px; height:280px;}
.KSS_titleBar,.KSS_titleBox{ display:none;}
.loginlo{ float:left; width:270px;}
.left-gsgd{ width:490px; float:left;}
.left-gsgd1{ margin: 0 20px 0 0;}
.left-gsgd table{ width:490px;}
.left-gsgd th{ padding: 0 5px; }

.tablist p a{ font-size:14px; color:#07237a;}
.tablist{ width:490px; line-height:21px;  overflow:hidden;}
.tablist h2 { padding: 0 0 0px 0;width: 100%;height: 30px;line-height: 30px;color: #a11;text-indent: 0em;position: relative;border-bottom:none;}
.tablist h2 a{ font-size:14px; line-height:2.3em;}
.tablist h2 span{ font-size:12px; color:#999; margin:0 0 0 30px; font-weight:normal;}
.tablist p{ color:#666;font-size: 12px;}
.zzzb{ margin:6px 0;}
.zzzb a{ background:#a11; padding:3px 10px; color:#fff;}



.spkhdmm{ float:left;}
.spkhdmm p{ color:#666; font-size:18px; padding:10px 0 0 0;}




.paimngtab-m{background:url(<%= image_url "custom/dasai/sanjianup.png" %>) no-repeat  55px center;padding: 2px 14px 2px 5px;color: #a11;}
.paimngtab{background:url(<%= image_url "custom/dasai/sanjianup2.png" %>) no-repeat #a11 55px center;color: #fff;padding: 2px 14px 2px 5px;border-radius: 3px;}
.paimngmore,.paimngmore a{font-size: 14px;color: #a11;background: #FAFAFA;line-height: 40px;}

/*牛人直播*/
.live-index-block-cnt { border-bottom: 1px solid #ddd; background: #f1f1f1; height: 395px; overflow: hidden;}
.live-index-block-cnt ul { position: relative;}
 .live-index-block-cnt ul li { padding: 10px 0;
  height: 45px;
  font-size: 14px;
  border-bottom: 1px dashed #ddd;
  float: left;
  width: 710px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all 600ms ease,opacity 300ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease,opacity 300ms ease;
  -o-transition: all 600ms ease,opacity 300ms ease;
  transition: all 600ms ease,opacity 300ms ease;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.live-index-block-cnt ul li div {
  float: left;
  height: 45px;
  line-height: 45px;
}
.live-index-block-cnt ul li div.tit-wrap{ line-height:1.5em;}
.live-index-block-cnt ul li div.col-1 {
  padding-left: 15px;
  width: 50px;
}
.live-index-block-cnt ul li div.col-2 {
  width: 70px;
  padding-left: 10px;
  overflow:hidden;
}
.live-index-block-cnt ul li div.col-3 {
  font-size: 12px;
  color: #666;
  width: 75px;
  text-align: center;
}
 .live-index-block-cnt ul li div.col-4 {
  width: 370px;
}
.live-index-block-cnt ul li div {
  float: left;
  height: 35px;
  line-height: 35px;
}
.btn-88-30 {
  width: 88px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #eb0000;
  font-size: 14px;
  border-radius: 3px;
  display:block;
  text-align:center;
}
.live-index-block-cnt ul li div.col-1 .avatar {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  overflow: hidden;
}
.live-index-block-cnt ul li div.col-1 .avatar img {
  display: block;
  width: 45px;
  height: 45px;
}


/* 推荐牛播 */
.tuijiannniubo{ padding:5px 0 0 0;}
.tuijiannniubolist{ overflow:hidden; border-bottom:1px solid #eee; padding:10px 0; height:45px;}
.tuijiannniubohead{ float:left; width:40px; margin: 0 0 0 10px;}
.tuijiannniubohead img{ width:40px;}
.tuijiannniuboname{ float:right; font-size:12px; width:200px; color:#666; height:37px; overflow:hidden;}
.tuijiannniuboname a{ color:#333; font-size:14px;}

/* 邀请好友 */

.yqhytitle{ border-left:3px solid #e53531; text-indent:10px; height:16px; line-height:1em; margin:30px 0 15px 10px ; font-size:16px;}
.yqljfz{ background:#f5f5f5; padding:20px;  color:#999; overflow:hidden;}
.yqljfz div{ height:46px; line-height:46px; float:left;font-size:14px;}
.wenbenkuang{ float:left;  background:#fff; border:1px solid #ddd; font-size
:14px;  border-radius:3px; width:360px; vertical-align:middle; padding: 0 0 0 5px;}
.copylink a{ background:#e53531; color:#fff;  border-radius:3px; display:block; width:137px; height:46px; text-align:center; margin: 0 20px 0 10px;}
.wenbenkuang a{ color:#e53531;}

.shfxan{ height:60px;}
.shfxan a{ float:left; width:23%; height:60px; margin: 0 0 0 2%; background:url(images/fenxiangtubiao.png) no-repeat #f5f5f5; border-radius:3px;}
a.xinlangweibo{ background-position:38px 10px;}
a.tengxunqq{ background-position:-160px 10px;}
a.tengxunweibo{ background-position:-550px 10px;}
a.txweixin{ background-position:-740px 10px; position:relative;}
a.txweixin b{ position:absolute; z-index:1; left:50px; top:-35px; width:135px; height:135px;  background:url(images/fenxiangtubiao.png) no-repeat 0px -135px; display:none; }
a.txweixin:hover b{ display:block;}
.yqhytitle span{ font-size:12px; color:#999; margin: 0 0 0 10px;}
.wxyqewm{ background:#f5f5f5; padding:10px;}
.wxyqewm img{ vertical-align:middle; margin: 0 10px 0 0;}
.yhhygz{ background:#f5f5f5; font-size:14px; color:#666; padding:10px; line-height:1.8em;}
.yhhyjl{ width:500px; border:1px solid #eee; margin:0;}
.yhhyjl th{ background:#f5f5f5;border:1px solid #eee;}
.yhhyjl td{border:1px solid #eee;}

.zhichidanwei{ width:1000px; height:311px; background:url(images/zhichidanwie_24.png) no-repeat; overflow:hidden;}

/* 积分商城 */
.jfsc{ padding: 0 0 20px;}
.jfscl{ float:left; width:690px;}
.jfscr{ float:right; width:300px;}
.myvantages{ background:#f5f5f5; text-align:center; height:249px;}
.myvantages img{ width:80px; height:80px; border-radius:80px; margin:40px 30px 10px;}
.myvantages a{ display:block; color:#999; font-size:12px; margin:40px 0 0 0;}
a.jfdenglu{ margin:0; line-height:249px; font-size:16px;}
.jiangpinliebiao{ border-left:1px solid #eee; }
.jiangpinliebiao li { float: left; width: 228px; display: inline; border-right:1px solid #eee;  border-bottom:1px solid #eee; padding: 0 0 10px;}
.jiangpinliebiaoli a img { width: 100%; height: 120px;}
.jiangpinliebiao li p { padding: 4px 6px; text-align: center;}
.jiangpinliebiao li p span { color: #666; font-size: 12px; height: 22px; line-height: 22px; margin: 0 3px;}
.jiangpinliebiao li p .integral_reward_btn { width: 190px; text-align: center; margin: 0 auto; display:block; line-height:30px;color: white; font-size: 14px; background: #a11; border-radius: 29px;}
.jfdhmd{ border:1px solid #eee; border-top:none; font-size:14px; color:#666; line-height:2.4em; text-indent:15px; margin: 0 0 20px;}
.jfdhmd2{ background:#f5f5f5;}

.wodejiangpin{ width:100%; background:#fff; text-align:center; font-size:14px;}
.wodejiangpin th{ color:#333;border:1px solid #eee;border-top:none;line-height:2.3em; }
.wodejiangpin td{ border:1px solid #eee; color:#999;line-height:2.3em; }


/* 交易规则 */
.rulse-container { font-size: 14px; padding: 15px;}
.rulse-container dl { line-height: 26px; border-bottom: 1px solid #eee; padding: 0 0 20px 0; margin-bottom: 20px;}
.rulse-container dl dd { color: #666; padding-left: 26px; position: relative; margin-bottom: 6px;}
.rulse-container .no-num dd { padding-left: 0;}
.rulse-container dl dt { font-size: 16px; font-weight: bold; margin-bottom: 8px;}

/* 奖励方案 */
.jianglifangan1{ overflow:hidden; height:990px;}
.jianglifangan1 img{vertical-align:bottom;}
.jianglifangan11 img{ margin: -15px 0 0 0;}

/* 实盘报名页面 */
.sfscspbm{ overflow:hidden; padding: 0 0 50px;}
.sfscspbm1{ padding:20px 0 0; float:left; width:50%;}
.sfscspbm1 a{ background:#e53531; color:#fff; display:block; width:280px; line-height:58px; text-align:center; border-radius:3px; margin:0px auto 10px;}
.sfscspbm2{ padding:20px 0; line-height:1.8em; width:50%; float:left; font-size:14px;}
.sfscspbm2 li{ padding:0px 0 10px 0; color:#666;}
.sfscspbm2 .title{ text-align:center; font-weight:bold; font-size:16px; }

.sfscspbm table { width:100%;}
.sfscspbm table td,.sfscspbm table th{ border:none; font-size:16px; text-align:right;}
.sfscspbm table th{ font-size:16px; text-align:left; }
.sfscspbm table td input{ border:1px solid #ddd; width:70%; height:38px; border-radius:3px;vertical-align:middle; line-height:38px;}
.sfscspbm .intext{ text-align:left; padding: 0 0 0 10px; width:388px;}
.sfscspbm .tjsh{ border:none; background:#e53531; color:#fff; height:40px; line-height:normal;}

.sfscspbm .tyxyk{ width:16px; height:16px; vertical-align:middle;}

.sfscspbm11{ text-align:center; font-size:14px; color:#666;}
.sfscspbm11 div{ text-align:center; width:283px; height:228px; margin:0 auto; font-size:15px; color:#333; background:url(images/ds_03.png); position:relative;}
.sfscspbm11 div span{ width:150px; height:150px; position:absolute; z-index:1; right:18px; bottom:20px;}
.sfscspbm11 div span img{width:150px; height:150px;}
.sfscspbm11 p{ border-bottom:1px dashed #333; width:260px; margin:0 auto; padding: 10px 0 10px;}

.sfscspbm12 a{background:none; color:#333; display:inline; width:280px; line-height:auto; text-align:center; border-radius:3px; margin:0px auto 10px; }
.sfscspbm .spbmtit{ text-align:center; width:100%; font-weight:bolder; font-size:16px;}
.sfscspbm .spbmtit span{ color:#999; font-weight:normal; font-size:14px; padding:10px 0 20px 0; display:block;}
.spbmtit1 span{ color:#666; font-size:14px; display:block; text-align:center; line-height:40px;}
.spbmtit1 a{ background:#e53531; color:#fff; margin:50px auto 0; width:280px; display:block; line-height:40px; }
.sfscspbm13 .spbmtit{ padding:42px 0 0px 0; color: #e53531;}

/* 大赛致词 */
.wdzc{ width:100%;margin:0 auto;}
.wdzc1{ background:url(images/p_02.jpg) center;width:100%; height:126px;}
.wdzc2{ background:url(images/p_03.jpg) center;width:100%; height:400px;}
.wdzc3{ background:url(images/p_04.jpg) center;width:100%; height:446px;}
.wdzc4{ background:url(images/p_05.jpg) center;width:100%; height:432px;}
.wdzc p{ display:none;}










