@charset "utf-8";
/* CSS Document */
.mainleft{ width:690px; float:left; margin:0 0 10px 0;}
.mainright{ width:300px; float:right;margin:0 0 10px 0;}
.mainleft2{ float:left; width:550px; position:relative; height:310px;}
.mainleft2 a{ position:absolute; z-index:1; bottom:0; left:0; line-height:37px; height:37px; width:510px; background:rgba(0,0,0,0.5); color:#fff; padding: 0 20px;  }

/*  */
.pgwSlider{ width:470px; height:270px;}
.pgwSlider .ps-current img{ width:348px;}
.pgwSlider .ps-current{ width:348px; }
ul.pgwSlider,.pgwSlider > ul {float: right;width:110px; }
.pgwSlider li ,.pgwSlider li a { width: 100% !important;}
.lbqh li a span {
    display: block;
    position: absolute;
    bottom:0;
	left:0;
	z-index:2;
    color:#fff;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis; padding:0; margin:0;
	line-height:1.1em;
	padding: 6px 0 0 3px;
	font-size:12px;
}
ul.lbqh{ float:left; width:110px; margin: 0 0 0 10px;}
.lbqh li{ height:57.2px !important; position:relative; margin: 0 0 5px; width:110px; overflow:hidden;}
.lbqh li img,ul.pgwSlider > li img, .pgwSlider > ul > li img{ height:58px; width:110px;}
.lbqh li a{ display:block; width:130px; height:58px; overflow:hidden;}
.lbqh li.select a{ border:2px solid #ec5639; height:44px; padding:8px 0 0 0;}
.mainright1{ width:230px; height:40px; margin:  0 0 10px 0; line-height:40px; text-align:center;}
.mainright1 a{ float:left; background:url(images/btnredbg_03.png) no-repeat; width:110px; height:40px; text-align:center; line-height:40px; color:#fff; font-weight:bolder; margin:0 10px 0 0;}
.mainright1 a.loginout{ color:#a11; background:none; display:inline; float:none; cursor:pointer;}
a.last{ margin:0;}
.mrlist{ width:270px; padding:10px 0;border-bottom:1px solid #eee;}
.mrlist h3{ font-weight:bolder; line-height:1.6em; padding: 0 0 5px;}
.mrlist p{ font-size:14px;}
.main h2{ width:100%; height:38px; line-height:38px; font-size:14px; color:#fff; text-indent:1.5em; position:relative; border-bottom:1px solid #a11; }
.main h2 a{ color:#a11; font-size:16px; font-weight:bolder;}
.main h2 .more{ position:absolute; z-index:1; right:0px; top:0;font-size:12px; color:#fff; font-weight:100; width:60px; text-align:center; text-indent:0;}
.main h2 span{ font-size:12px; margin: 0 0 0 80px;}
.main h2 .title{ color:#fff; font-weight:bolder; margin: 0 30px 0 0; background:#a11;}
h2.tybt{ text-indent:0; margin:0 0 10px 0;}
.main h2.tybt .title{ padding:8px 30px;}
h2.tybt span{ color:#999; margin: 0 0 0 260px; }
h2.tybt2{ text-indent:0; margin:0;}


h2.dspm{ background:#a11; border-bottom:1px solid #8c0003;}
h2.dspm .tab{ padding: 5px 20px 10px;font-size:14px; font-weight:bolder; }
h2.dspm .select{color:#a11; background:#fff;border:1px solid #8c0003; border-bottom:none;}
h2.dspm a{ color:#fff;}

.dllist{ padding: 10px 0 15px 0;}
.infolist{ width:270px; padding: 0 15px 15px; line-height:2.8em; font-size:14px;}
.infolist li{ border-bottom:1px solid #eee;}
.infolist a{ color:#a11;}
.advert,.advert img{ width:300px; height:175px;}
table{ width:670px; font-size:12px;  text-align:center;  margin:0 auto;}
table th{ color:#333;line-height:33px;border-bottom:1px solid #ddd;font-weight:bolder;}
table td{ line-height:33px; border-bottom:1px solid #eee; color:#666;}
.ranking{ color:#a11;}
.caozuoicon{ background:url(images/caozuo.jpg) no-repeat 0 3px; padding: 0 0 0 15px; color:#a11;}
.main2{ float:left; width:100%;}
.adverttl{ width:1000px; text-align:center; padding:15px 0; margin: 0 0 10px 0;}
.adverttl2{ padding:0;margin: 0 0 10px 0; width:1000px; height:90px;}
.adverttl2 img{ width:1000px; height:90px;}

	.border-angle { font-style: normal; border-color: #a11 #fff #fff #a11; border-style: solid; border-width: 19px 8px; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden;}
	.main-title h2 em{ padding: 0 28px 0 15px; display: inline-block; float: left; font-style: normal; height: 38px; line-height: 38px; background-color: #a11; color: white; font-size:16px;}
	.main-title h2 .notice-text { float: left;height: 38px; line-height: 38px; font-size: 12px; color: #666; margin:0;}
	.main-title h2 .notice-text i{ color: #a11; font-size: 14px; vertical-align: middle; margin: 0 4px 0 10px;}
	.main-title h2 .border-angle { float: left; margin:0;}
	.main-title h2 .more-dian { display: inline-block;width: 17px; height: 33px; background: url('../images/moreico.png') left center no-repeat; float: right; margin-right: 15px;}

	/* Elegant demeanour
	-------------------------------------------------------------------------------- */
	.elegant-demeanour{ padding: 15px 5px 0px;}
	.elegant-demeanour ul li{ float: left; margin: 0 10px 18px; width: 206px; *display: inline; *line-height: 0;}
	.info-box{ font-size: 0;}
	.face-link-el{ position: relative; display: inline-block; float: left; width: 78px; height: 78px; overflow: hidden; border: 1px solid #ddd;}
	.face-link-el img{ width: 78px; height: 78px;}
	.face-link-el span{display: inline-block; width: 78px; height: 20px; line-height: 20px; position: absolute; bottom: 0; left: 0; background-color: #a51417; font-size: 12px; color: white; text-align: center;}
	.face-txt{ width: 118px; float: right; font-size: 12px; line-height: 12px;}
	.face-txt p{ font-size: 0;}
	.face-txt h4 a{ display: inline-block; height: 14px; line-height: 14px; width: 118px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
	.face-txt h4{ }
	.face-txt h4 a,
	.face-txt p a,
	.face-txt p span{ font-size: 12px;}
	.face-txt p span{ color: #666;}
	.face-txt p span em{ font-size: 14px; font-style: normal;color: #a51417;}
	.face-txt p .support-link{ background: url(images/zhichi.png) left center no-repeat; margin-right: 10px;}
	.face-txt p .subscribe{ background: url(images/caozuo.jpg) left center no-repeat; }
	.face-txt p .support-link,
	.face-txt p .subscribe{ color: #a11; padding-left: 18px; *display: inline-block; *float: left;}
	.face-txt .info-icon{ margin-top:5px; *clear: both; *overflow: hidden;}
	.face-txt .info-icon a:hover{ color: #a51417; text-decoration: underline;}
	.elegant-demeanour .pagination-content{ margin: 0 10px;}


	.tab-title{ width: 100%; border-bottom: 1px solid #a11;}
	.tab-title li{ width: 150px; float: left;}
	.tab-title li a{ display: inline-block; width: 100%; height: 38px; text-align: center; font-size: 16px; line-height: 38px; color: #a11;}
	.active{ }
	.tab-title .active a{ background-color: #a11; color: white;}
	.tab-inner-title{background-color: #f9f9f9;padding: 8px 0; height: 16px; overflow: hidden;}
	.tab-inner-title span,
	.tab-inner-title i{ display: inline-block; font-size: 14px; font-style: normal; float: left; text-align: center;}
	.tab-inner-title span{ width: 148px; color: #666;}
	.tab-inner-title i{ width: 4px; color: #e6e6e6; font-size: 16px;}
	.tab-content{ display: none;}
	.tab-active{ display: block;}
	.dl-list{ overflow: hidden; padding-bottom: 8px;}
	.dl-list dl{ padding: 10px 0; margin: 0 15px; border-top: 1px dashed #e3e4e8; margin-top: -1px;}
	.dl-list dl dt,
	.dl-list dl dd{ float: left; font-size: 14px; line-height: 28px; color: #666;}
	.dl-list dl dt{ width: 18px; text-align: left;}
	.dl-list dl .best-user{ color: #a11;}
	.dl-list dl dd{ width: 117px;}
	.dl-list dl .dl-number{ width: 118px; padding-left: 17px; text-align: center;}
	.dl-list dl dd .list-user-img{ display: inline-block; width: 28px; border: 1px solid #ddd; float: left; font-size: 0; line-height: 0;}
	.dl-list dl dd .list-user-img img{ width: 28px; height: 28px;}
	.dl-list dl dd .list-user-name{ width: 81px; border: none; margin-left: 6px; font-size: 14px;}
	.dl-list dl dd a:hover{ color: #a11;}


/*  */
.syFocusThumb{ width:1000px;}
.gsgd{ width:1000px; padding:20px 0; overflow:hidden; position:relative;}
.gsgdleft,.gsgdright{ background:url(images/leftrightban.png) no-repeat  0 center; width:21px; height:53px; float:left; cursor:pointer;}
.timelist{ position:absolute; z-index:1; width:940px; left:30px; top:18px; overflow:hidden;}
.timelist2{  width:4000px; margin: 0 0 0 10px;}
.gsgdright{ float:right; background-position:-21px center;}
.timelist2 i{ float:left; width:50px; height:50px; border:3px solid #a11; border-radius:199px; text-align:center; line-height:50px; margin: 0 0 0 15px; cursor:pointer;}
.timelist2 i.selected,.timelist2 i:hover{ background:#a11; color:#fff;}




.gsdgxq{ width:980px; padding:10px; overflow:hidden; margin: 0 0 10px 0;}
.gsdgxqleft{ width:530px; float:left;}
.gsdgxqleft a img{ width:530px; height:330px;}
.gsdgxqleft a{ display:block; width:530px;}
.gsdgxqleft .title{ font-size:16px; line-height:1.8em;}
.gsdgxqleft p{ font-size:14px;}
.gsdgxqleft p a{ display:inline; color:#a11;}
.gsdgxqright{ width:450px; float:left;}
.gsdgxqright li { float:left; width:140px; margin: 0 0px 5px 10px; overflow:hidden;}
.gsdgxqright li a,.gsdgxqright li a img{ display:block; width:140px; font-size:14px; line-height:2em;}
.gsdgxqright li a img{ height:100px;}

/*  */
.zjdpzj{ width:1000px; overflow:hidden; padding:0px 0 10px 0;}
.zjdpzj li{ float:left; width:192px; background:#fff; position:relative;box-shadow:1px 1px 3px rgba(0,0,0, 0.1); margin: 0 10px 0 0;}
.zjdpzj li.last{ margin:0;}
.zjdpzj li a img,.zjdpzj li a{ display:block; width:192px;}
.zjdpzj li a img { height:144px;}
.zjdpzj li .title{ padding:5px  10px 5px 10px; width:172px;}
.zjdpzj2 .title{ position:absolute; z-index:1; bottom:0px; background:rgba( 0,0,0,0.6) !important; filter:Alpha(opacity=60); background:#000; left:0; color:#fff; }

.dllist2{ padding: 10px 0 16px ;}
.dllist2 table td{ line-height:36px;}
/* 策略排行榜*/
	.info-list-ol{padding: 10px 10px 10px}
	.info-list-right ol { font-size: 14px;;}
	.info-list-right ol li{ list-style-type: decimal; list-style-position: inside; position: relative; background: #fff; border: 1px solid #fff; padding: 0 5px;}
	.info-list-right ol li h4{ display: inline;*display: inline-block; font-size:14px;height: 28px; line-height: 28px; overflow: hidden; font-weight: normal; text-align: left;}
	.info-list-right ol li h4 span{ *padding-left: 4px;}
	.info-list-right ol li h4 em{ position: absolute; right: 5px;_right: 15px; top: 0; color: #999; font-style: normal;}
	.ol-content{ padding-bottom: 10px; display: none;}
	.ol-content img{ float: left; width: 78px; height: 78px; border: 1px solid #ddd;}
	.ol-content .ol-text{ float: right; width: 179px; height: 79px; overflow: hidden; font-size: 12px;}
	.ol-content .ol-text a{ color: #333; line-height: 20px; text-align: justify;}


.toutiao{ float:left; width:280px;}
.banner2{ width:470px; float:left; margin: 0 0 10px 0;}
.loginlo{ float:left; width:230px;margin: 0 0 0 10px;}
.KinSlideshow a img{ width:470px; height:280px;}
.left-gsgd{ width:500px; float:left; margin: 0 0 10px 0;}
.left-gsgd table{ width:500px;}
.right-tgqb{ width:490px; float:right; margin: 0 0 10px 0;}
.left-gsgd th{ padding: 0 5px; }
.right-tgqb .tybt{ margin: 0 0 10px;}

.tablist p a{ font-size:14px; color:#07237a;}
.tablist{ width:490px; line-height:21px;  overflow:hidden;}
.tablist h2 { padding: 0 0 0px 0;width: 100%;height: 30px;line-height: 30px;color: #a11;text-indent: 0em;position: relative;border-bottom:none;}
.tablist h2 a{ font-size:14px; line-height:2.3em;}
.tablist h2 span{ font-size:12px; color:#999; margin:0 0 0 30px; font-weight:normal;}
.tablist p{ color:#666;font-size: 12px;}
.zzzb{ margin:6px 0;}
.zzzb a{ background:#a11; padding:3px 10px; color:#fff;}
/* jswbox */
#jswbox{width:1000px;height:500px;margin:0 auto;position:relative;}
#jswbox ul{position:relative;height:500px;}
#jswbox li{position:absolute;width:0;height:0;z-index:0;cursor:pointer;overflow:hidden;top:152px;left:10px;}
#jswbox li img{width:100%;height:100%;vertical-align:top;float:left;}
#jswbox .prev, #jswbox .next{display:none;}
#jswbox li a{ position:absolute; z-index:22; left:0; bottom:0; width:100%; color:#fff;background:rgba( 0,0,0,0.6) !important; filter:Alpha(opacity=60); background:#000; text-indent:2em; height:40px;  line-height:40px; font-size:14px; font-weight:bolder;}
/*  */

.form-group {background-color: #f5f5f5;padding:5px 10px; width:670px;}
.control-label {color: #a11; font-size: 16px; line-height: 30px;}
.form-control {height: 30px; line-height:normal; font-size: 14px; padding: 0 6px;width: 160px;border: 1px solid #ddd; color: #666;box-shadow: none; margin: 0 0 0 10px; vertical-align:middle;}
.form-group span,.form-group a{ font-size:12px; color:#a11; margin: 0 0 0 8px; }
.form-group span { color:#333; }
/* 客户端下载 */
.khdxz{ width:950px; padding: 15px 0px 0 50px;overflow:hidden;}
.pckhdxz{ font-size:18px; color:#666; border-bottom:1px solid #eee; line-height:2em;padding: 0 0 5px;  }
.pcdown{ width:206px; float:left; margin: 0 50px 0 0;}
.download-item-block {
width: 200px;
float: left;
margin: 15px 0 0 0;
text-align: left;}
.download-item-block .btn-orange {
background-color: #ff8d3b;
}
.pcdown2 .download-item-block { margin-right:35px;}
.pcdown2  .pckhdxz{ width:435px;}
.download-item-block .btn {
width: 200px;
height: 60px;
font-size: 16px;
color: #fff;
line-height: 46px;
border-radius: 0; display:block; text-align:center; line-height:60px;}
.icons-dl-arrow {
background-image: url(http://www.ihoms.com/images/sprite.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 26px;
height: 26px;
margin-right: 5px;
background-position: -170px -720px;}
.download-tool {
margin-top: 25px;
height: 70px;
width: 200px;
position: relative;}
.download-tool .dl-hint {
margin-top: 10px;
margin-bottom: 5px;
font-size: 14px;
width: 250px;
color: #999;
margin-right: auto;
margin-left: auto;
text-align: left;
}
.hide {
display: none !important;
}
.download-item-block .download-tool a {
display: inline-block;
height: 25px;
text-align: left;
line-height: 25px;
min-width: 80px;color: #428bca; font-size:12px;
}
.icons-dl-tool {
background-image: url(http://www.ihoms.com/images/sprite.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 18px;
height: 18px;
background-position: -99px -475px;}
.download-item-block .download-tool span {
margin-right: 5px;
margin-bottom: 3px;
}

.icons-dl-fixed {
background-image: url(http://www.ihoms.com/images/sprite.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 18px;
height: 18px;
background-position: -99px -500px;
}
.icons-dl-doc {
background-image: url(http://www.ihoms.com/images/sprite.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 18px;
height: 18px;
background-position: -99px -523px;
}
.erWei {
width: 100%;
height: 100px;
margin-top: 15px;
text-align: center;
}
.erWei img {
width: 100px;
height: 100px;
}
.ios,.android {
background-image: url(http://www.ihoms.com/images/sprite1.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}
.ios {
background-position: 0 -644px;}

.android {
background-position: 0 -720px;
}
.pcdown2{ width:480px; float:right; margin:0;}
.pckhdxz2{ width:900px; margin: 0 auto;}
.article_thumbnail{ width:900px; margin:10px auto; overflow:hidden;}
.article_thumbnail li{ float:left; width:25%; font-size:14px;}
.article_thumbnail li img {width: 220px;height: 160px;display: block;text-align: center;}
.article_thumbnail li a.title-label {
font-size: 14px;
text-align: left;
font-weight: 500;
text-indent: 10px;
height: 20px;
width: 220px;
display: block;
overflow: hidden;
margin: 10px 0;
}
.spkhdmm{ float:left;}
.spkhdmm p{ color:#666; font-size:18px; padding:10px 0 0 0;}











