@charset "utf-8";
/* CSS Document */
/* top菜单 */
.wdzh .lishijilu, .wdzh .searchbt, .wdzh .searchbt2{background: url(../images/sbttn.png) no-repeat center;width:40px;height: 40px;box-shadow: none;border-radius: 0;right: 50px;}
.wdzh .searchbt2{ left:15px;}
.wdzh .refresh{background: url(../images/refresh.png)  no-repeat center;box-shadow: none;right: 10px;border-radius: 0;width: 40px;height: 40px;}
.wdzh .bianji{ position:absolute; z-index:1; left:15px; font-size:24px;}
.wdzh .shoucang{ background:url(../images/star.png) no-repeat center; right:90px;}
.wdzh .lishijilu{ background:url(../images/lishijilu.png) no-repeat center;}
.wdzh .yishoucang{ background:url(../images/star2.png) no-repeat center; right:90px;}


/* 我的 */
.mymegagame{ width:100%; background:url(../images/grzybg.png) repeat-x ; padding: 20px 0 0 0px;}
.mymegagamehd{ width:100%;overflow:hidden; border-bottom:1px solid #eee; font-size:18px; background:#fff; padding:15px 0; margin: 0 0 5px;}
.headimg {  width:80px; float:left; height:80px; margin: 0 0 0 15px; }
.headimg img{ width:80px; height:80px; border-radius:99px; }
.mymegagamehd ul{ float:left;}
.namexx{ width:225px; }
.namexx .name{font-size:24px; color:#333;}
.namexx2{ padding:20px 0 0 15px;}
.qdrc,.qdrc a{ width:120px; color:#666; font-size:20px; line-height:1.9em; text-align:right;}
.qdrc2{ padding:20px 0 0 0;}
.redtag{ position:relative;}
.redtag b{ position:absolute; z-index:2; left:10px; top:8px; border-radius:99px; background:#e53531; color:#fff; font-size:12px; line-height:1.9em; padding:0px 4px;}

.wdzcxj{ width:100%; margin:0 auto 5px; background:#fff; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:15px 0; font-size:22px; overflow:hidden; height:148px;}
.wdzcxjl{ float:left; width:325px; line-height:50px; color:#333; margin: 0 0 0 15px;}
.wdzcxjl li{ position:relative;}
.wdzcxjl li span{ position:absolute; z-index:1; right:40px;}
.wdzcxjl li span b{ color:#e53531;}
.wdzcxjr{ float:left; width:120px;}
.wdzcxjr li{ padding: 5px 0; font-size:20px;}

.jifen{ width:100%; background:#fff; border-top:1px solid #eee; border-bottom:1px solid #eee; overflow:hidden; margin: 0 0 5px; }
.jifen1{ width:156px; float:left; border-right:1px solid #f5f5f5; text-align:center; font-size:20px; padding:15px 0; color:#333;}
.jifen1 span{ font-size:24px; color:#e53531;}

.jifenr{ font-size:20px; padding: 0 0 0 20px; float:left; line-height:90px;}
.jifenr a{ margin: 0 20px 0 0;}
.jifenr img{ vertical-align:middle; margin:-3px 6px 0 0 ;}

.loginout,.loginout a{ display:block; width:100%; background:#e53531; color:#fff; font-size:24px; text-align:center; line-height:2em; border:none; border-radius:3px;}


/* 交易 */
a.pingji{color:#fff000; margin: 0 0 0 10px;}
.jzjpm{ background:#fff; width:100%; padding:15px 0; border-bottom:1px solid #eee; overflow:hidden; font-size:20px;}
.jzsl{ float:left; width:225px; position:relative; font-size:44px; text-align:center; color:#e53531; line-height:100px; height:84px;}
.jzsl span{ color:#999; position:absolute; z-index:1; left:15px; top:0px; font-size:20px; line-height:1em;}
.sypm{ float:left; width:255px ; font-size:16px; line-height:2em;}
.sypm li{ position:relative; line-height:28px;}
.sypm span{ margin: 0 0 0 10px;}
.sypm span,.sypm b{ color:#e53531;}
.sypm b{ position:absolute; z-index:1; right:15px; top:0;}

.jyzctj{ background:#fff; width:100%; overflow:hidden; border-bottom:1px solid #eee; padding:15px 0 25px; margin: 0 0 5px;}
.jyzctjl{ float:left; width:225px; font-size:18px; line-height:30px; padding: 0 0 0 15px;}
.jyzctjl li{ position:relative;}
.jyzctjl li span{ position:absolute; z-index:1; right:25px; color:#333;}
.jyzctjr{ float:left; width:240px; overflow:hidden;}
.zhsx{ width:225px; text-align:center; color:#e53531; padding: 0 0 5px 0; font-size:18px;}
.spcssq{ overflow:hidden;}
.spcssq a{ background:#e53531; color:#fff; float:left; width:110px; margin: 0 10px 0 0; font-size:14px; line-height:35px; text-align:center; border-radius:3px; }
.syqxt{ width:225px; height:140px; margin:8px 0;}
.buygp{ display:block; width:225px; background:#e53531; color:#fff; height:48px; line-height:48px; text-align:center; font-size:24px; border-radius:3px; }

.wdgpcc{ width:100%; border-top:1px solid #eee; margin: 0 0 10px 0;}
/* cmtitle */
.mytitle{ width:100%; font-size:24px; color:#333; line-height:43px; position:relative; text-indent:15px; background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); border-top:1px solid #fff;}
.mytitle a{ position:absolute; z-index:1; right:15px; top:0; font-size:22px; text-indent:0; color:#999;}
.chicangmx{ width:100%; font-size:18px; color:#666;}
.chicangmx th{ line-height:43px; background:#f9f9f9; border-bottom:1px solid #eee;}
.chicangmx td{ padding:20px 0; text-align:center; border-bottom:1px solid #eee; background:#fff;}
.pclick td{ padding:10px 0; background:#eee; font-size:20px;}
.pclick td img{ vertical-align:middle; margin: -3px 5px 0 0;}

.nrjylist{ width:100%; overflow:hidden; padding:15px 0; margin:0 0 5px; background:#fff; }
.nrtop{ width:100%; position:relative; overflow:hidden; margin: 0 0 10px 0;}
.nrtopl{ display:block; width:50px; height:50px; float:left; margin: 0 15px 0 15px;}
.nndmz{ font-size:22px; color:#666; line-height:50px; float:left;}
.nrtop span{ position:absolute; z-index:1; right:15px; top:0; font-size:20px;}
.nrbottom{ width:100%; overflow:hidden; font-size:20px; line-height:33px; position:relative; text-indent:15px;}
.mmdm{ color:#333; font-size:22px;}
.timetag{ color:#999; position:relative; padding:10px 0 0 0; font-size:18px;}
.buylook{ position:absolute; z-index:1; right:15px; bottom:15px; color:#fff; width:80px; height:35px; text-align:center; text-indent:22px; line-height:35px; background:url(../images/lookico.png) no-repeat #e53531 7px 7px; border-radius:3px; font-size:20px;}
.genmai{ background-position:7px center;}
.bgenmai{ background-position:7px -154px; background-color:#2f87e4;}

/* 牛人 */
.niuguanggao{ width:100%;  margin:0 auto; }
.niuguanggao img{ width:100%; }
.niurendbang{ width:100%; overflow:hidden; padding:30px 0 0 0; background:#fff;}
.niugebang1{ width:25%; float:left; text-align:center; padding: 0 0 20px;}
.niugebang1 p{ width:70px; height:70px; border-radius:40px; margin: 0 auto 8px;}
.niugebang1 p a{width:70px; height:70px; display:block;border-radius:40px; }
.niugebang1 span{ font-size:18px;}
.riniu{ background:#ffb400;}
.shipanbaom{ background:#ff8315;background:#ddd;}
.zongniu{ background:#c23b84;}
.duanniu{ background:#ff1616;}
.wenniu{ background:#2f9ddc;}
.qiniu{ background:#f35555;}
.myguanzhu{ background:#ffb516;}
.jifen{ background:#2a73e1;}
.kefu{ background:#5cbc3a;}

.niugebang1 p img{ margin:15px 0 0 0;}
.jhgd h5{ color:#333; font-weight:bolder;}
.jhgd{ width:93%; margin:0 auto; line-height:1.5em; font-size:20px; text-indent:0;}
.jiaguanzhu{ background:#fff; text-indent:0; top:-60px; color:#e53531; border:1px solid #e53531; font-size:18px; width:72px; }
.yijiaguanzhu{ border:none;}
.nrbottomjhgd{ overflow:visible;}
.flower{ position:absolute; z-index:1; right:15px; color:#999;}
.flower img{ margin: 0 5px  0 0;}
.dsgstj{ position:relative;}
.dsgstjl{ float:left; width:110px; background:#e53531; height:80px; border-radius:110px; color:#fff; text-align:center;  font-size:18px; padding:30px 0 0 0; margin: 0 0 0 10px;}
.dsgstjl span{ display:block;}
.dsgstjr{ float:right; width:350px; line-height:1.6em;}
.dsgstjrname a{ font-size:22px; color:#333; display:inline-block;margin: 0 5px 0 0; line-height: 1.6em;width: 130px; text-overflow: ellipsis; overflow: hidden; vertical-align: bottom; white-space: nowrap;}
.dsgstjrname{ font-size:14px; color:#999;}
.dsgstj .jiaguanzhu{ top:0; font-size:20px;}
.nrtopl img{ width:50px; height:50px;}
.bsgzjs{ background:#fff; margin:10px 0; font-size:20px; padding:15px; text-align:center;}
.bsgzjs a{ margin: 0 35px;}
a.dycp{ color:#fff; background:#e53531; padding: 0 15px; border-radius:3px;}

/* 他的主页*/
.guandian,.celue,.zhibo{ color:#e53531; background:url(../images/guandianico.png) 0 center no-repeat; padding: 0 0 0 25px;}
.dashang{ background-image:url(../images/yuanbao2.png);}
.timetag span{ position:absolute; z-index:1; top:0; right:140px;}
.tdgdlist{ width:360px; padding: 0 0 10px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.celue{ background-image:url(../images/celueico.png);}
.goumaicl{ background-image:url(../images/dingyue.png);}
.zhibo{background-image:url(../images/zhiboico.png);}
.tdgdlist2{ padding:0; line-height:35px;}
.zhibolook{ bottom:0;}

/* 自选行情 */
.qhdhyb{ width:100%; height:43px; line-height:43px; border-bottom:1px solid #eee;  font-size:24px; background:#fff; position:fixed; z-index:10; top:60px;}
.qhdhyb a{ float:left; width:50%; text-align:center;color:#999; }
.qhdhyb a.select{ border-bottom:2px solid #e53531; color:#e53531;}
.qhdhyb-zhanwei{height:43px; line-height:43px;}
.tjzxg{ display:block; width:100%; text-align:center; font-size:30px; height:300px; line-height:300px;}

/* 个股行情 */
.maintop{ width:100%;border-bottom:1px solid #eee; overflow:hidden; margin: 0 0 10px; background:#fff;}
.mainleft { width:50%;font-size: 48px;  color:#e53531; float:left; height:128px; text-align:center; padding:30px 0 0 0;}
.mainright{ width:50%; float:left;  text-align:center;padding:12px 0 0 0; line-height:36px;}
.mainleft span { display:block; font-size:26px;}
.mainright span{ display:block; font-size:22px;}
.mainright .tite{ color:#999;}
.mainright1,.mainright2{ float:left; width:50%;}
.cstmapnav { width:100%; line-height:42px;background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%);  overflow:hidden;border-top:1px solid #eee;}
.cstmapnav li{ width:20%; float:left; text-align:center;border-bottom:1px solid #ddd;border-top:1px solid #fff;}
.cstmapnav li.select{ border-bottom:2px solid #e53531;}
.fprzymzst{ width:100%; margin: 0 0 10px 0; background:#fff; border-bottom:1px solid #eee;}
.pankousj{ padding:10px 0;}
.pankousjtop{ width:100%; overflow:hidden; border-bottom:1px solid #eee; padding: 0 0 10px 0;}
.pankousjtop table{ width:100%; font-size:16px; text-align:center;}
.pankousjtopl{ float:left; width:50%;}
.pankousjtopl table{ border-right:1px solid #eee;}
.pankousjtopr{float:left;  width:50%;}
.pankousjbtm{ width:100%; overflow:hidden; padding:5px 0 0 0;}
.pankousjbtm>div{ width:50%; float:left; text-align:center;}
.pankousjbtm span{ margin: 0 5px;}

.qiandao a{ display:block; color:#b00;}
.guanzhu a{ background:url(../images/guanzhu1.png) no-repeat 10px center; padding: 0 0 0 20px;}
.yiguanzhu a{ background-image:url(../images/guanzhu2.png);}
.zfjb{ width:100%; text-align:center; font-size:24px; padding:40px 0;}
.gmjb{ width:440px; margin:0 auto; border:1px solid #ddd; height:40px; text-align:center; display:block; color:#05b;}
.gghqmm a{ background:none; width:33.33%}
.gghqmm a img{ vertical-align:middle; margin: -3px 3px 0 0;}
.nrjylist2{ margin:0; border-bottom:1px solid #eee;}
a.pjcb{ color:#333;}

/* 买卖股票 */
.maimaigp{ width:100%; overflow:hidden; background:#fff; padding:15px 0; border-bottom:1px solid #eee; margin: 0 0 10px;}
.maimaigpl{ width:65%; float:left;}
.mrmclist li{ padding:5px 10px 5px 15px; overflow:hidden;}
.mrmclist input{ border:1px solid #ddd; border-radius:3px; background:#f5f5f5; height:40px; vertical-align:middle; }
.mrmclist .jia,.mrmclist .jian{ margin: 0 -1px 0 0; border-radius:3px;color:#fff; width:19%; height:42px; background:url(../images/jianajin.png) #0c8c2d no-repeat  center 12px; line-height:60px; text-align:center; font-size:12px; float:left; }
.mrmclist .jia{ background:url(../images/jiajai.png) #e53531 no-repeat  center 6px; margin: 0 0 0 -1px;}
.srgpmc{ color:#999; font-size:20px; }
li.srgpdm{ position:relative; overflow:visible;}
.srgpdm input{ width:100%; font-size:18px; color:#333;}
.srgpdm span{ position:absolute; z-index:1; right:25px; top:12px; color:#666;}
.masrt{ float:left; width:60%;margin: 0 1%; text-align:center; font-size:20px;}
.dted{ float:left;}
.zted{ float:right;}
.xzmmsl a{ border:1px solid #e53531; color:#e53531; width:32%; float:left; text-align:center; font-size:18px;  line-height:42px; border-radius:3px; margin: 0 -1px;}
.xzmmsl .middle{ margin: 0 1.5%; color:#e53531;}
.xzmmsl2 a,.xzmmsl2 .middle{ color:#2f87e4; border:1px solid #2f87e4;}
.zhushi{ font-size:12px; clear:both; }
input.jybtn{ background:#e53531; color:#fff; font-size:18px; border:none; width:45%; margin: 0 5% 0 0; }
input.jybtn2{ width:50%; margin:0;}
input.jybtn-m{ background:#2f87e4;}

.maimaigpr{ width:35%; float:left;}
.maimaigpr table{ width:100%; font-size:16px; height:310px;}
.jygz{ width:100%; background:#fff; padding:10px 0 0 0;}
.jygz p{ padding: 0 15px;font-size:20px; line-height:1.8em; margin: 0 0 20px 0; }
div.gupiaokjsr{ position:absolute; z-index:11; left:15px; top:45px; width:92%; background:#fff; border:1px solid #ddd; box-shadow:0px 4px 6px #999;}
div.gupiaokjsr a{ display:block; font-size:18px; line-height:2em; border-bottom:1px solid #eee; text-indent:10px;}

/* 牛人榜单 */
.niurenbang {	width: 100%;overflow: hidden;font-size: 20px;line-height: 33px;position: relative;}
.nrgms {color: #fff;width: 80px;height: 30px;text-align: center;line-height: 30px;background: #e53531;border-radius: 3px;display: block;}
.nrbsj {width: 90%;margin: 0 auto;	border: 1px solid #eee;	background: #f5f5f5;}
.nrbsj td {border: 1px solid #eee;	line-height: 36px;padding: 0 0 0 5px;font-size: 16px;color: #666;width:120px;}
td.tdright {text-align: right;	padding: 0 5px 0 0;	color: #333;width:auto;}
.nrbtop-nb { width:90%; margin:5px auto; color:#999; font-size:20px; line-height:1.5em; position:relative;}
.nrbtop-nb span{ position:absolute; z-index:1; right:0; top:0; color:#e53531;}
.nrbtop-nb a{ color:#e53531;}
.nrbtop-nb .nrgms{ color:#fff;}
.nrtop span img{ border:1px solid #eee; width:110px; height:58px;}
.nrtopnr span{ right:5%;}
.nrtopnr .nrtopl{ margin: 0 15px 0 10%;}
.nrtopnr b{position:absolute; z-index:1; left:10px; top:0;  width:25px; height:34px; color:#666; font-size:24px;}
.nrfirst{ background:url(../images/niurenfst_03.png) no-repeat;}
.nrsecond{background:url(../images/niurenfst_06.png) no-repeat;}
.nrthree{background:url(../images/niurenfst_08.png) no-repeat;}

/* 搜索股票 */
.searchwins{ width:100%; padding:20px 0; background:#fff; margin: 0 0 10px 0; text-align:center;height:46px;}
.searchwins input{ width:84%; border:1px solid #ddd; border-radius:6px; background:url(../images/searchhh.png) no-repeat 5px center #f5f5f5; padding:  0 0 0 40px;height:46px; font-size:22px;}
.jiazixuan{ position:absolute; z-index:1; right:15px; top:4px; background:url(../images/jiazixuan.png) no-repeat; width:27px; height:27px;}
.shanzixuan{ background:url(../images/shanchuzixuan.png);}
.clearnrsearch{ background:url(../images/clearbtn.png) no-repeat; width:20px; height:20px; z-index:1; position:absolute; right:5%; top:34px;}

/* 搜索股票 */
.nrjylistsouniuren .nrtop{ margin:0;}

/* 评级 */
.zhdl{ font-size:128px; text-align:center; width:100%; background:#fff; border-bottom:1px solid #eee; margin:0 0 10px; padding:25px 0; color:#e53531;}
.zhdl p{ font-size:22px; color:#999;}
.pjxf{ border-top:1px solid #eee; width:100%; overflow:hidden;}
.pjxf ul li{ border-bottom:1px solid #eee; text-align:center; padding:15px 0; line-height:24px; font-size:18px;}
.pjxf ul li span{ color:#e53531; display:block;}
.pjxf ul{ width:33%; float:left; background:#fff;}
.pjxf .pjxfm{ margin: 0 0 0 0.5%;}
.pjxf .pjxfr{ float:right;}
.pjxf .title{ color:#333; font-size:24px;}
.pjxf .title b{ background:#e53531; color:#fff; border-radius:99px; padding:3px 10px; margin: 0 0 0 6px;}

/* 秀场 */
.nav_myshow a{ width:33.333%;}

/* 直播详情 */
.zhiboxq2{ position:relative; height:800px; overflow-y:scroll;}
.zhiboxq{ background:#fff;}
.zhiboxq .nrbottom{ padding:20px 0 0px 0px; text-indent:0;overflow:auto; background:url(../images/ixiangsuddd_03.png) repeat-y  35px;}
.zhiboxq .buylook{ top:20px;}
.zhiboxq .tdgdlist{ width: 85%;padding: 10px 0 20px 0;overflow:auto; text-overflow:inherit; white-space:normal; margin: 0 0 0 12%; border-bottom:1px solid #eee;}
.zhiboxq .timetag{ position:relative; padding: 0 0 0 12%;}
.zhiboxq .timetag b{ position:absolute; z-index:1; background:#e53531; width:11px; height:11px; border-radius:11px; left:30px; top:10px;}
.zbfbk { width:85%; margin:0 0 0 12%; padding: 30px 0 20px 0 ;}
.zbfbk textarea{ width:98%; border:1px solid #ddd; height:160px; font-size:20px; margin: 0 0 5px;}

/* 直播问答 */

.tdgdlist strong{ font-weight:bolder;}
.tdgdlist p{ color:#999;}
.tdgdlist img{ margin: 0 3px;}
.woyaotiwen{ position:fixed; z-index:1; bottom:0; width:100%; background:#fff; margin:0px auto; background:#f5f5f5;padding:0 0 10px; border-top:1px solid #ccc; }
.woyaotiwen textarea{ width:370px; border:1px solid #e53531; height:44px; vertical-align:middle; font-size:18px; border-radius:3px; margin: 0 0 0 10px; }
.woyaotiwen input{ width:70px; border:none; background:#e53531; color:#fff; height:50px; vertical-align:middle; font-size:22px; border-radius:3px; }

.zhanweiwend{ height:52px;}
.mywenti{ display:block; color:#e53531; font-size:22px;  position:absolute;text-indent:0px; z-index:1; right:10px; top:0; height:105px;}
.wytwtit{ position:relative; font-size:22px;line-height:2em;height:2em; text-indent:10px; text-align:left;}
.wenda{ background-image:none; text-indent:0;}
.yida{ background:#ddd; color:#fff;}

.wydzb{ position:fixed; z-index:1; bottom:70px; left:5px; background:#e53531; color:#fff; width:20px; padding: 5px 0 5px 3px; border-radius:3px;}
a.wytw{ right:5px; left:auto;}
a.wydzb2{ bottom:120px;}




/* 积分商城 */
.jfxuanchuantu{ margin:0 auto; width:480px; height:160px;}
.wodejifen{ background:#fff; padding:15px 0; margin: 0 0 10px 0; text-align:center; font-size:20px;}
.wodejifen a{ margin: 0 0 0 30px; color:#e53531;}
.jfsc{ width:100%; text-align:center; font-size:18px;}
.jfsc span{ font-size:24px; display:block; padding:20px 0 0 0;}
.jcdhjp { width:100%; overflow:hidden; margin:0 auto;}
.jcdhjp ul{ float:left; width:33.33%; font-size:14px; text-align:center; line-height:1.8em; margin: 0 0 1%; }
.jcdhjp ul li{ width:98%; background: #fff; margin: 0 0 0 1%;}
.jcdhjp ul a{ background:#e53531; color:#fff; display:block; width:145px; height:27px; line-height:27px; border-radius: 3px;display: inline-block;  margin:  0 0 10px;}
.jcdhjp ul span{ color:#e53531;}
.jcdhjp ul img{ padding:30px 0 0 0;}
.wodejiangpin{ width:100%; background:#fff; line-height:2.5em; text-align:center;}
.wodejiangpin th{ color:#333;border:1px solid #eee;}
.wodejiangpin td{ border:1px solid #eee; color:#999;}


/* 邀请好友 */
.huisetag{ color:#999; margin: 0 0 0 5px; font-size:18px;}
.yqhyan{ width:100%; padding:40px 0; text-align:center;}
.yqhyan1{ background:url(../images/yaoqinghaoyouanniu.png) center no-repeat #fa433f; display:block; margin:0 auto; border-radius:3px; width:200px; height:60px;}

.yqhyfc{ background:rgba(0,0,0,0.7);  width:100%; height:100%; position:absolute; z-index:2000; left:0; top:0; text-align:center;}
.yqgz{ position:fixed; z-index:2; left:50%; top:50%; margin: -200px 0  0 -200px; background:#fff; border:2px solid #ca0804; border-radius:10px; padding:30px 20px; font-size:14px; line-height:2em;}
.yqgz .title{ text-align:center; color:#333; font-size:20px; padding: 0px 0 20px 0;}
.yqgz .closed{ position:absolute; z-index:1; right:-15px; top:-15px; border-radius:111px; width:40px; height:40px; background:#ca0804; color:#fff; text-align:center; font-size:22px; line-height:35px;}


/* 大赛客服 */
.banner-inner{ width:100%; background:#fff; padding:20px 0;}
.banner-inner p{ padding: 0 3%; line-height:2em; font-size:1.4rem; color:#333;}

.common-problems{ background:#fff; padding: 0 2%;  margin:0 auto;}
.common-problems dl { padding: 20px 0 30px; margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.common-problems dl dt { padding-left: 30px; background: url(http://asset6.uniwa.cn/assets/custom/dasai/kefu_03-df8c1f182263837756aa45b13419d717.jpg) left top no-repeat; margin-bottom: 15px; line-height: 24px;
  font-size: 16px; font-weight: bold;}
.common-problems dl dd { padding-left: 30px; background: url(http://asset5.uniwa.cn/assets/custom/dasai/kefu_06-449c3223ff7ec2e826872e7c6a9ad0c4.jpg) left top no-repeat; line-height: 24px; font-size: 14px; color: #666;}

/* 新手奖品 */
.banner-inner2{ text-align:center;}

/* 兑奖信息 */
.mytitle2{ text-align:center; font-size:1.8rem;}
.wsdjzl{ line-height:2em; width:90%; font-size:2rem; margin: 0 0 0 5%;}
.wsdjzl td{ padding:10px 0; font-weight:bolder;}
.wsdjzl  input{ border:1px solid #ddd; border-radius:3px; width:100%; height:40px; font-size:1.8rem; font-weight:normal;}
.wsdjzl select{ height:40px;font-size:1.8rem; border:1px solid #ddd;}
.wsdjzl .smalltext{ font-size:1.6rem; text-align:center; line-height:1.2em; padding:10px 0; font-weight:normal; color:#999;}
.wsdjzl .tijiaozl input{ height:55px; line-height:55px; border:none; background:#e53531; color:#fff; border-radius:3px; margin:20px 0 0 0; font-size:2rem;}








