@charset "utf-8";
/* CSS Document */
/* top菜单 */
.wdzh .searchbt, .wdzh .searchbt2{background: url(../images/sbttn.png) no-repeat center;width:40px;height: 40px;box-shadow: none;border-radius: 0;right: 60px;}
.wdzh .searchbt2{ left:15px;}
.wdzh .refresh{background: url(../images/refresh.png)  no-repeat center;box-shadow: none;right: 10px;border-radius: 0;width: 40px;height: 40px;}
.wdzh .bianji{ position:absolute; z-index:1; left:15px; font-size:24px;}

/* 我的 */
.mymegagame{ width:100%; background:url(../images/grzybg.png) repeat-x ; padding: 20px 0 0 0px;}
.mymegagamehd{ width:100%;overflow:hidden; border-bottom:1px solid #eee; font-size:18px; background:#fff; padding:15px 0; margin: 0 0 5px;}
.headimg {  width:80px; float:left; height:80px; margin: 0 0 0 15px; }
.headimg img{ width:80px; height:80px; border-radius:99px; }
.mymegagamehd ul{ float:left;}
.namexx{ width:225px; }
.namexx .name{font-size:24px; color:#333;}
.namexx2{ padding:20px 0 0 15px;}
.qdrc,.qdrc a{ width:120px; color:#666; font-size:20px; line-height:1.9em; text-align:right;}
.qdrc2{ padding:20px 0 0 0;}
.redtag{ position:relative;}
.redtag b{ position:absolute; z-index:2; left:10px; top:8px; border-radius:99px; background:#e53531; color:#fff; font-size:12px; line-height:1.9em; padding:0px 4px;}

.wdzcxj{ width:100%; margin:0 auto 5px; background:#fff; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:15px 0; font-size:22px; overflow:hidden; height:148px;}
.wdzcxjl{ float:left; width:325px; line-height:50px; color:#333; margin: 0 0 0 15px;}
.wdzcxjl li{ position:relative;}
.wdzcxjl li span{ position:absolute; z-index:1; right:40px;}
.wdzcxjl li span b{ color:#e53531;}
.wdzcxjr{ float:left; width:120px;}
.wdzcxjr li{ padding: 5px 0; font-size:20px;}

.jifen{ width:100%; background:#fff; border-top:1px solid #eee; border-bottom:1px solid #eee; overflow:hidden; margin: 0 0 5px; }
.jifen1{ width:156px; float:left; border-right:1px solid #f5f5f5; text-align:center; font-size:20px; padding:15px 0; color:#333;}
.jifen1 span{ font-size:24px; color:#e53531;}

.jifenr{ font-size:20px; padding: 0 0 0 20px; float:left; line-height:90px;}
.jifenr a{ margin: 0 20px 0 0;}
.jifenr img{ vertical-align:middle; margin:-3px 6px 0 0 ;}

.loginout,.loginout a{ display:block; width:100%; background:#e53531; color:#fff; font-size:24px; text-align:center; line-height:2em; border:none; border-radius:3px;}


/* 交易 */
a.pingji{color:#fff000; margin: 0 0 0 10px;}
.jzjpm{ background:#fff; width:100%; padding:15px 0; border-bottom:1px solid #eee; overflow:hidden; font-size:20px;}
.jzsl{ float:left; width:225px; position:relative; font-size:44px; text-align:center; color:#e53531; line-height:100px; height:84px;}
.jzsl span{ color:#999; position:absolute; z-index:1; left:15px; top:0px; font-size:20px; line-height:1em;}
.sypm{ float:left; width:255px ; font-size:16px; line-height:2em;}
.sypm li{ position:relative; line-height:28px;}
.sypm span{ margin: 0 0 0 10px;}
.sypm span,.sypm b{ color:#e53531;}
.sypm b{ position:absolute; z-index:1; right:15px; top:0;}

.jyzctj{ background:#fff; width:100%; overflow:hidden; border-bottom:1px solid #eee; padding:15px 0 25px; margin: 0 0 5px;}
.jyzctjl{ float:left; width:225px; font-size:18px; line-height:30px; padding: 0 0 0 15px;}
.jyzctjl li{ position:relative;}
.jyzctjl li span{ position:absolute; z-index:1; right:25px; color:#333;}
.jyzctjr{ float:left; width:240px; overflow:hidden;}
.zhsx{ width:225px; text-align:center; color:#e53531; padding: 0 0 5px 0; font-size:18px;}
.spcssq{ overflow:hidden;}
.spcssq a{ background:#e53531; color:#fff; float:left; width:110px; margin: 0 10px 0 0; font-size:14px; line-height:35px; text-align:center; border-radius:3px; }
.syqxt{ width:225px; height:140px; margin:8px 0;}
.buygp{ display:block; width:225px; background:#e53531; color:#fff; height:48px; line-height:48px; text-align:center; font-size:24px; border-radius:3px; }

.wdgpcc{ width:100%; border-top:1px solid #eee; margin: 0 0 5px 0;}
/* cmtitle */
.mytitle{ width:100%; font-size:24px; color:#333; line-height:43px; position:relative; text-indent:15px; background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); border-top:1px solid #fff;}
.mytitle a{ position:absolute; z-index:1; right:15px; top:0; font-size:22px; text-indent:0; color:#999;}
.chicangmx{ width:100%; font-size:18px; color:#666;}
.chicangmx th{ line-height:43px; background:#f9f9f9; border-bottom:1px solid #eee;}
.chicangmx td{ padding:20px 0; text-align:center; border-bottom:1px solid #eee; background:#fff;}
.pclick td{ padding:10px 0; background:#eee; font-size:20px;}
.pclick td img{ vertical-align:middle; margin: -3px 5px 0 0;}

.nrjylist{ width:100%; overflow:hidden; padding:15px 0; margin:0 0 5px; background:#fff; }
.nrtop{ width:100%; position:relative; overflow:hidden; margin: 0 0 10px 0;}
.nrtopl{ display:block; width:60px; height:60px; float:left; margin: 0 15px 0 15px;}
.nndmz{ font-size:24px; color:#333; line-height:60px; float:left;}
.nrtop span{ position:absolute; z-index:1; right:15px; top:0; font-size:20px;}
.nrbottom{ width:100%; overflow:hidden; font-size:20px; line-height:33px; position:relative; text-indent:15px;}
.mmdm{ color:#333; font-size:24px;}
.timetag{ color:#999; position:relative;}
.buylook{ position:absolute; z-index:1; right:15px; bottom:15px; color:#fff; width:80px; height:35px; text-align:center; text-indent:22px; line-height:35px; background:url(../images/lookico.png) no-repeat #e53531 7px 7px; border-radius:3px;}
.genmai{ background-position:7px center;}
.bgenmai{ background-position:7px -154px; background-color:#2f87e4;}

/* 牛人 */
.niuguanggao{ width:100%; height:160px; margin:0 auto; border-top:1px solid #fff;}
.niuguanggao img{ width:100%; height:160px;}
.niurendbang{ width:100%; overflow:hidden; padding:30px 0 0 0;}
.niugebang1{ width:33.33%; float:left; text-align:center; padding: 0 0 25px;}
.niugebang1 p{ width:60px; height:60px; border-radius:10px; margin: 0 auto 8px;}
.niugebang1 span{ font-size:18px;}
.riniu{ background:#ffb400;}
.zhouniu{ background:#ff8315;}
.zongniu{ background:#b031c3;}
.duanniu{ background:#348fff;}
.wenniu{ background:#ff1642;}
.qiniu{ background:#6464ff;}

a.dycp{ color:#fff; background:#e53531; padding: 0 15px; border-radius:3px;}

/* 他的主页*/
.guandian,.celue,.zhibo{ color:#e53531; background:url(../images/guandianico.png) 0 center no-repeat; padding: 0 0 0 25px;}
.dashang{ background-image:url(../images/yuanbao2.png);}
.timetag span{ position:absolute; z-index:1; top:0; right:140px;}
.tdgdlist{ width:360px; padding: 0 0 10px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.celue{ background-image:url(../images/celueico.png);}
.goumaicl{ background-image:url(../images/dingyue.png);}
.zhibo{background-image:url(../images/zhiboico.png);}
.tdgdlist2{ padding:0; line-height:35px;}
.zhibolook{ bottom:0;}

/* 自选行情 */
.qhdhyb{ width:100%; height:43px; line-height:43px; border-bottom:1px solid #eee;  font-size:24px; background:#fff; position:fixed; z-index:10; top:60px;}
.qhdhyb a{ float:left; width:50%; text-align:center;color:#999; }
.qhdhyb a.select{ border-bottom:2px solid #e53531; color:#e53531;}
.qhdhyb-zhanwei{height:43px; line-height:43px;}
.tjzxg{ display:block; width:100%; text-align:center; font-size:30px; height:300px; line-height:300px;}

/* 个股行情 */
.maintop{ width:100%;border-bottom:1px solid #eee; overflow:hidden; margin: 0 0 10px; background:#fff;}
.mainleft { width:50%;font-size: 48px;  color:#e53531; float:left; height:128px; text-align:center; padding:30px 0 0 0;}
.mainright{ width:50%; float:left;  text-align:center;padding:12px 0 0 0; line-height:36px;}
.mainleft span { display:block; font-size:26px;}
.mainright span{ display:block; font-size:22px;}
.mainright .tite{ color:#999;}
.mainright1,.mainright2{ float:left; width:50%;}
.cstmapnav { width:100%; line-height:42px;background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%);  overflow:hidden;border-top:1px solid #eee;}
.cstmapnav li{ width:20%; float:left; text-align:center;border-bottom:1px solid #ddd;border-top:1px solid #fff;}
.cstmapnav li.select{ border-bottom:2px solid #e53531;}
.fprzymzst{ width:100%; margin: 0 0 10px 0; background:#fff; border-bottom:1px solid #eee;}
.pankousj{ padding:10px 0;}
.pankousjtop{ width:100%; overflow:hidden; border-bottom:1px solid #eee; padding: 0 0 10px 0;}
.pankousjtop table{ width:100%; font-size:16px; text-align:center;}
.pankousjtopl{ float:left; width:50%;}
.pankousjtopl table{ border-right:1px solid #eee;}
.pankousjtopr{float:left;  width:50%;}
.pankousjbtm{ width:100%; overflow:hidden; padding:5px 0 0 0;}
.pankousjbtm>div{ width:50%; float:left; text-align:center;}
.pankousjbtm span{ margin: 0 5px;}

.qiandao a{ display:block; color:#b00;}
.guanzhu a{ background:url(../images/guanzhu1.png) no-repeat 10px center; padding: 0 0 0 20px;}
.yiguanzhu a{ background-image:url(../images/guanzhu2.png);}
.zfjb{ width:100%; text-align:center; font-size:24px; padding:40px 0;}
.gmjb{ width:440px; margin:0 auto; border:1px solid #ddd; height:40px; text-align:center; display:block; color:#05b;}
.gghqmm a{ background:none; width:33.33%}
.gghqmm a img{ vertical-align:middle; margin: -3px 3px 0 0;}
.nrjylist2{ margin:0; border-bottom:1px solid #eee;}
a.pjcb{ color:#333;}

/* 买卖股票 */
.maimaigp{ width:100%; overflow:hidden; background:#fff; padding:15px 0; border-bottom:1px solid #eee; margin: 0 0 10px;}
.maimaigpl{ width:65%; float:left;}
.mrmclist li{ padding:5px 10px 5px 15px; overflow:hidden;}
.mrmclist input{ border:1px solid #ddd; border-radius:3px; background:#f5f5f5; height:40px; vertical-align:middle; }
.mrmclist .jia,.mrmclist .jian{ margin: 0 -1px 0 0; border-radius:3px;color:#fff; width:19%; height:42px; background:url(../images/jianajin.png) #0c8c2d no-repeat  center 12px; line-height:60px; text-align:center; font-size:12px; float:left; }
.mrmclist .jia{ background:url(../images/jiajai.png) #e53531 no-repeat  center 6px; margin: 0 0 0 -1px;}
.srgpmc{ color:#999; font-size:20px; }
.srgpdm{ position:relative;}
.srgpdm input{ width:100%; font-size:24px; color:#333;}
.srgpdm span{ position:absolute; z-index:1; right:25px; top:12px; color:#666;}
.masrt{ float:left; width:60%;margin: 0 1%; text-align:center; font-size:20px;}
.dted{ float:left;}
.zted{ float:right;}
.xzmmsl a{ border:1px solid #e53531; color:#e53531; width:32%; float:left; text-align:center; font-size:18px;  line-height:42px; border-radius:3px; margin: 0 -1px;}
.xzmmsl .middle{ margin: 0 1.5%; color:#e53531;}
.xzmmsl2 a,.xzmmsl2 .middle{ color:#2f87e4; border:1px solid #2f87e4;}
.zhushi{ font-size:12px; clear:both; }
input.jybtn{ background:#e53531; color:#fff; font-size:18px; border:none; width:45%; margin: 0 5% 0 0; }
input.jybtn2{ width:50%; margin:0;}
input.jybtn-m{ background:#2f87e4;}

.maimaigpr{ width:35%; float:left;}
.maimaigpr table{ width:100%; font-size:16px; height:310px;}
.jygz{ width:100%; background:#fff; padding:10px 0 0 0;}
.jygz p{ padding: 0 15px;font-size:20px; line-height:1.8em; margin: 0 0 20px 0; }

/* 牛人榜单 */
.niurenbang {	width: 100%;overflow: hidden;font-size: 20px;line-height: 33px;position: relative;}
.nrgms {color: #fff;width: 80px;height: 30px;text-align: center;line-height: 30px;background: #e53531;border-radius: 3px;display: block;}
.nrbsj {width: 90%;margin: 0 auto;	border: 1px solid #eee;	background: #f5f5f5;}
.nrbsj td {border: 1px solid #eee;	line-height: 36px;padding: 0 0 0 5px;font-size: 16px;color: #666;width:120px;}
td.tdright {text-align: right;	padding: 0 5px 0 0;	color: #333;width:auto;}
.nrbtop-nb { width:90%; margin:5px auto; color:#999; font-size:20px; line-height:1.5em; position:relative;}
.nrbtop-nb span{ position:absolute; z-index:1; right:0; top:0; color:#e53531;}
.nrbtop-nb a{ color:#e53531;}
.nrbtop-nb .nrgms{ color:#fff;}
.nrtop span img{ border:1px solid #eee; width:110px; height:58px;}
.nrtopnr span{ right:5%;}
.nrtopnr .nrtopl{ margin: 0 15px 0 10%;}
.nrtopnr b{position:absolute; z-index:1; left:10px; top:0;  width:25px; height:34px; color:#666; font-size:24px;}
.nrfirst{ background:url(../images/niurenfst_03.png) no-repeat;}
.nrsecond{background:url(../images/niurenfst_06.png) no-repeat;}
.nrthree{background:url(../images/niurenfst_08.png) no-repeat;}

/* 搜索股票 */
.searchwins{ width:100%; padding:20px 0; background:#fff; margin: 0 0 10px 0; text-align:center;height:46px;}
.searchwins input{ width:84%; border:1px solid #ddd; border-radius:6px; background:url(../images/searchhh.png) no-repeat 5px center #f5f5f5; padding:  0 0 0 40px;height:46px; font-size:22px;}
.jiazixuan{ position:absolute; z-index:1; right:15px; top:4px; background:url(../images/jiazixuan.png) no-repeat; width:27px; height:27px;}
.shanzixuan{ background:url(../images/shanchuzixuan.png);}
.clearnrsearch{ background:url(../images/clearbtn.png) no-repeat; width:20px; height:20px; z-index:1; position:absolute; right:5%; top:34px;}

/* 搜索股票 */
.nrjylistsouniuren .nrtop{ margin:0;}

/* 评级 */
.zhdl{ font-size:128px; text-align:center; width:100%; background:#fff; border-bottom:1px solid #eee; margin:0 0 10px; padding:25px 0; color:#e53531;}
.zhdl p{ font-size:22px; color:#999;}
.pjxf{ border-top:1px solid #eee; width:100%; overflow:hidden;}
.pjxf ul li{ border-bottom:1px solid #eee; text-align:center; padding:15px 0; line-height:24px; font-size:18px;}
.pjxf ul li span{ color:#e53531; display:block;}
.pjxf ul{ width:33%; float:left; background:#fff;}
.pjxf .pjxfm{ margin: 0 0 0 0.5%;}
.pjxf .pjxfr{ float:right;}
.pjxf .title{ color:#333; font-size:24px;}
.pjxf .title b{ background:#e53531; color:#fff; border-radius:99px; padding:3px 10px; margin: 0 0 0 6px;}

/* 秀场 */
.nav_myshow a{ width:33.333%;}

/* 直播详情 */
.zhiboxq{ background:#fff;}
.zhiboxq .nrbottom{ padding:20px 0 0px 0px; text-indent:0;overflow:auto; background:url(../images/ixiangsuddd_03.png) repeat-y  35px;}
.zhiboxq .buylook{ top:20px;}
.zhiboxq .tdgdlist{ width: 85%;padding: 10px 0 20px 0;overflow:auto; text-overflow:inherit; white-space:normal; margin: 0 0 0 12%; border-bottom:1px solid #eee;}
.zhiboxq .timetag{ position:relative; padding: 0 0 0 12%;}
.zhiboxq .timetag b{ position:absolute; z-index:1; background:#e53531; width:11px; height:11px; border-radius:11px; left:30px; top:10px;}
.zbfbk { width:85%; margin:0 0 0 12%; padding: 30px 0 20px 0 ;}
.zbfbk textarea{ width:98%; border:1px solid #ddd; height:160px; font-size:20px; margin: 0 0 5px;}