@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input{padding:0;margin:0;font: inherit; box-sizing: border-box;}
body, button, select, textarea, input{font-family:"Hiragino Sans GB","Microsoft Yahei","微软雅黑",arial,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; color:#666;}
textarea{ padding:0; margin:0;}
li{ list-style:none;}
table{ border-collapse:collapse;}
a{ text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur()); color:#666;}
a:visited, .xqylj .xqylj:visited, .gszylist .gszylj:visited{ color:#999;}
/* 去掉 IE 10+ 点击链接时的灰色背去掉点击时的焦点框，同时保证使用键盘可以显示焦点框  */
a:active {    background-color: transparent;}
a:active,a:hover {    outline: 0 none;}
/**
 * 统一 Chrome 和 Safari 的焦点框样式
 * Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
 * Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
 * 
 */
a:focus {
   outline: none;
}
/* 去掉iphone默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"], input[type="radio"] {-webkit-appearance: none;outline:none;}
/**
* 闭合浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6-7 触发 hasLayout */
}
img{ vertical-align:middle;}
a img{ border:none;}
.green{ color:#0c8c2d;}
.red{ color:#e53531;}
.blue{ color:#2f87e4}
.textcenter{ text-align:center;}
.bolder{ font-weight:bolder;}
html{ width:100%;ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;font-size: 66.5%;}
body{width:100%; background:#eee;font-size: 1.5rem;line-height: 1.6;  max-width: 720px; margin:0 auto;}


/* 顶部导航 */
.header{ background:#e53531; height:50px; width:100%; position:fixed; z-index:999; top:0; left:0; font-size:1.8rem; color:#fff; line-height:50px;box-shadow: 0px 3px 4px 0px rgba(6, 0, 1, 0.12); text-align:center;}
.header .fanhui{ background:url(../images/fanhui.png) no-repeat center; display:block; position:absolute; z-index:1; left:0; top:0; width:47px; height:50px; background-size:auto 50%;  }

.header2{ box-shadow:none;  background:#e53531;  text-align:center; padding:0.8rem 0; color:#fff; font-size:1.8rem;}
.header2 span{border-radius:6px ;  border:2px solid #fff; display:inline-block; width:70%;}
.header2 a{ color:#fff;font-size:1.5rem;padding:0.3rem 0; width:50%; display:inline-block;}
.header2 a.select{ color:#e53531; background:#fff;}

/* 底部导航 */
.mainnav, .xqymnav{ width:100%; position:fixed; z-index:999; bottom:0; left:0; height:8.7%;   box-shadow: 0px -1px 6px 0px rgba(6, 0, 1, 0.12); background:#fafafa; line-height:1em;}
.mainnav a{ width:25%; text-align:center; display:block; float:left; font-size: 1rem;color:#999; height:100%;}
.mainnav i{ display:block; width:100%; height:62%; margin:3% 0 0 0;position:relative; }
.mainnav span{ display:block;width:100%;height:30%; }
.mainnav i b{ position:absolute; z-index:1; background:#e53531; color:#fff; border-radius:999px; padding:2px 6px; right:10%;}

.mainnav .dasai i{background:url(../images/fbwzh.png) no-repeat center ; background-size:auto 90%;}
.mainnav .hangqing i{background:url(../images/wzgl.png) no-repeat center ; background-size:auto 90%;}
.mainnav .jiaoyi i{background:url(../images/liuyan.png) no-repeat center ; background-size:auto 90%;}
.mainnav .wode i{background:url(../images/wodeh.png) no-repeat center ; background-size:auto 90%;}
.mainnav .select{ color:#e53531;}
.mainnav .dasai.select i{background-image:url(../images/fbwz.png);}
.mainnav .hangqing.select i{background-image:url(../images/wzgl2.png);}
.mainnav .jiaoyi.select i{background-image:url(../images/liuyan2.png);}
.mainnav .wode.select i{background-image:url(../images/wode.png);}






/* loading */
.loading { text-align: center; background: -webkit-linear-gradient(top, #fff, #f5f5f5); line-height: 5.5em; width:100%; font-size:1.4rem;}
.loading img{ vertical-align:middle; margin:0px 5px 2px 0;}

.xiazai{ position:fixed; bottom:0; z-index:1000; background:#e53531; color:#fff; width:100%; height:auto; left:0; text-align:center; font-size:1.5rem;}
.xiazai img{ width:100%;}
.xiazailj{ position:absolute; z-index:1; width:20.83%; right:8.37%; top:25%;}
.xiazai .closed{ background:url(../images/deletet23.png) center; background-size:100%; width:14px; height:14px; right:6px; top:6px; z-index:1; position:absolute;}

/* 可编辑下载 */
.xiazaih{ background:rgba(0,0,0,0.7);}
.xiazaih p{ float:left; color:#fff; width:54%; text-align:left; margin:4% 0; line-height:1.6rem;}
p.xzlogo{ width:10.5%; margin:4% 2%;}
.fxxzanniu{ background:#eb2323; color:#fff; border-radius:6px; float:left;margin:4% 0%; padding:2% 0; width:23.5%; text-align:center;}
.yellow{ color:#ffd519;}


