@charset "utf-8";
/* CSS Document */
.banner{ position:relative;}
.login{ width:318px; position:absolute; z-index:1; top:0; left:50%; margin: 0 0 0 -600px; height:414px; padding:26px;background:url(../images/xiaixiai.png) center 295px no-repeat #fff;}
.login ul{ }
.login li{ padding:5px 0;}
.login-t{ font-size:20px; position:relative;}
.login-t span{ font-size:12px; position:absolute; z-index:1; right:0px; top:20px}
.userdl{height:44px; border:1px solid #d1d1d1; width:317px; text-indent:5px;}
.autolf{ font-size:12px; color:#333; margin:3px 0;}
.autolf input{ vertical-align:middle; margin: 0 3px 0 0;}
.autolf  a{ float:right;}
.loginbtn input{ background:#f73e3e; color:#fff; height:43px; width:317px; border:none; font-size:22px;}
.qzhuce{ text-align:center; font-size:14px; color:#a9a9a9;}
.qzhuce img{ margin:0 3px 0 0; }
.qzhuce a{ color:#f73e3e;}
li.sfdlbt{ color:#a9a9a9; text-align:center; padding:70px 0 0 0; font-size:14px;}
.sfrk a{ display:inline-block; background:url(../images/QQweixin.png) no-repeat; height:32px; width:32px; float:left;}
li.sfrk{ padding:25px 0 0 98px; overflow:hidden;}
.sfrk a.Weixin{ background-position:right; width:38px; margin: 0 0px 0 53px;}

.shaixuan{ background:#f5f5f5; width:100%; border-bottom:1px solid #dedede;}
.shaixuan-wd{ width:1200px; margin:0 auto; padding:20px 0; font-size:12px; color:#333;}
.shaixuan-wd select{  border:1px solid #ccc; height:28px;border-radius:3px; color:#666;font-size:12px; }
.shaixuan-wd img{ margin: 0 20px 0 12px;}
.search{ background:#df0064; font-size:18px; color:#fff; border:none; width:94px; height:29px; border-radius:3px; margin:  0 0 0 20px; }

.shipin{ padding:37px 0; background:#fff;}

.zdxf{ width:100%; background:#333; padding:58px 0;}
.zdxf-wd, .xktj-wd, .footer-wd{ width:1200px; margin:0 auto; overflow:hidden;}
.zdxfoo li{ float:left; margin:0 0px 0 1px;}
.zdxfoo .first{ margin:0;}
.zdxfoo a{ display:block; position:relative; width:120px; height:118px; overflow:hidden;margin:0 0px 1px 0;}
.zdxfoo a img{ width:100%;}
.zdxfoo  .datt{ width:238px; height:238px;}
.zdxfoo a div{ position:absolute; z-index:1; bottom:0px; background:rgba(0,0,0,0.6); color:#fff; font-size:12px; width:100%; line-height:28px; text-indent:5px; display:none;}
.zdxfoo a:hover div{ display:block;}
.zdxfoo a div span{ position:absolute; z-index:1; right:5px; bottom:0;}
.zdxfoo  .xatt{ height:119px;}
.zdxfoo li.xzzjdxf{ background:#ed008c;}
.zdxfoo li.xzzjdxf a{ color:#fff; font-size:42px; width:480px; height:237px; text-align:center; line-height:238px;}
.zdxfoo2 li{ margin: 0 1px 0 0;}

.xktj{ width:100%; padding:40px 0; background:#fff;}
.xktj-wd h2{ font-size:28px; padding:0px 0 20px 0;}
.xktj-wd h2 span{ font-size:18px; color:#909090; margin: 0 0 0 10px;}
.splist{ overflow:hidden;}
.spid{ float:left; width:236px; line-height:1em; margin:0 2px; background:#fff;}
.spidpic{ display:block; height:400px; overflow:hidden;}
.spidpic img{ width:100%; height:100%;}
.spid .title{ padding:10px; font-size:12.6px; display:block; text-align:center;}
.spid .jiage{ font-size:20px; color:#ff0097; display:block; text-align:center; margin:5px 0 15px 0;}
.footer{ background:#232323; width:100%; color:#b3b5ba; font-size:12px; padding:30px 0;}
.footerl{ float:left;}
.footer a{color:#b3b5ba; margin: 0 10px;}
.footerl p{ margin:  15px 0 0 10px;}
.footerr{ float:right;}
.footerr p{ font-size:12px;}
.footerr p span{ font-size:20px; color:#e5e5e5;}
.footerr .dhyx{ font-size:14px; padding:10px 0 0 0;}
.footerr .dhyx img{ margin: 0 10px 0 0;}


/* 动态 */

.dongtai{ width:1200px; margin:22px auto; overflow:hidden;}
.dongtail{width:880px; float:left;}
.dongtair{ width:300px; float:right;}

.search-dt{ margin: 0 0 18px; padding:40px 20px; background:#fff;}
.search1, .search2{ background:#bebebe; font-size:14px; width:55px; height:26px; margin: 0 0 0 5px;}
.search1{ background:#ff0097;}
.search-dt .shaixuan-wd{ width:100%; padding:0; line-height:1.5em;}
.sease{ position:relative;}
.sease span{ margin: 0 0 0 40px;}
.sease a{ position:absolute; z-index:1; right:0; top:0px; background:#f08fc8; color:#fff; display:block; width:55px; line-height:26px; text-align:center; font-size:14px;}
.search-dt .shaixuan-wd select{ margin: 0 0 10px;}

.yhdtlb{ background:#fff;padding:0px 20px 20px;}
.yhdtlb-id{ padding:25px 0px; overflow:hidden; background:url(../images/xuline.png) repeat-x bottom;}
.yhdtlb-idl{ float:left; margin: 0 10px 0 0; width:70px;}
.yhdtlb-idl img{ width:100%;}
.yhdtlb-idr{ float:left; width:760px;}
.yhdtlb-idr .title{ font-size:12px; color:#999; border-bottom:1px solid #f0f0f0; padding: 0 0 10px ;}
.yhdtlb-idr .title a{ font-size:16px; color:#333; margin: 0 20px 0 0;}
.yhdtlb-idr .neirong{ padding:10px 0 0 0; font-size:14px; line-height:24px;}
.timezan{ font-size:12px; color:#999; position:relative; margin:10px 0 0 ; line-height:30px;}
.timezan .zan{ position:absolute; z-index:1; right:0; top:0; width:60px; border:1px solid #ddd; line-height:28px; background:url(../images/c.png) no-repeat 10px center; text-indent:35px; color:#999;margin: 0;border-radius: 0;height: auto;}
.timezan .zany{ background-image:url(../images/d.png);}
.neirong .pic{ padding:15px 0 10px; width:760px}
.neirong .pic img{ max-height:126px;max-width:100%; margin:0 20px 0 0;}
.loadingmore{ text-align:center; font-size:12px; padding:20px 0 0 0;  }
.loadingmore img{ margin: 0 30px 0 0;}

.dongtair{ background:#fff; padding:15px; width:270px;}
.touxiang{ width:130px; height:130px; margin:5px auto; position:relative;}
.yuanxing{ position:absolute; z-index:1; left:0; top:0; background:url(../images/touxiangzhezhao.png) no-repeat; width:130px; height:130px;}
.touxiang2 img{ width:100%;}

.rigname{ padding:10px 0; text-align:center;}
.rigname img{ margin: 0 0 0 8px;}

.likeor {border-bottom:1px solid #f0f0f0; padding:10px 0; overflow:hidden;}
.likeor p{ float:left; text-align:center; width:49%; font-size:12px;}
.likeor p span{ font-size:18px; margin: 0 0 0 5px;}
.linel{ border-left:1px solid #f0f0f0;}

.fabudt{ font-size:18px; color:#777b82; text-align:center; display:block; line-height:72px;border-bottom:1px solid #f0f0f0;}
.fabudt img{ margin: 0 15px 5px 0; }
.mycof{ font-size:12px; color:#333; position:relative; padding:10px 0;}
.mycof span{ color:#ff0097; font-size:18px;}
.mycof a{ position:absolute; z-index:1; right:0; top:15px;}
.buycofbtn{ background:#ff0097; color:#fff; display:block; width:100%; text-align:center; line-height:32px; margin:5px 0;}

.khfw{ padding:20px 0; line-height:1.5em;}
.khfw th{ font-size:18px; padding: 0 0 10px;}
.khfw  td{ font-size:14px; color:#999;}
td.fwtitel{ color:#333;}

/* 个人主页 */
.nav2{ border:none; background:#fff;}
.gerenxinxi{ background:#be4c42; width:100%; height:410px;}
.gerenxinxi-b{ background:#4480ae;}

.gerenxinxi-wd{ width:1170px; margin: 0 auto;background: url(../images/gernzhuyebg.png) no-repeat right center ; height:380px; padding: 30px 0 0 30px;  position:relative;}

.gerenxinxil{ float:left;}
.gerenxinxir{ float:left; padding: 0 0 0 20px; color:#fff; width:430px;}


.gerenxinxil{ width:300px; height:320px; border:5px solid #fff; overflow:hidden; position:relative;}
.gerenxinxil img{ width:100%; height:100%;}
.gerenxinxil .xgtx{ position:absolute; z-index:1; right:0; background:rgba(255,0,151,0.5); bottom:0; width:80px; text-align:center; line-height:36px; color:#fff;}

.grname{ font-size:24px; color:#fff; padding:30px 0 0 0;}
.grname img{ margin:0 0 0 5px;}
.grname span{ font-size:14px; margin: 0 0 0 10px;}
.grxb{ background:#ff0097; color:#fff; border-radius:99px; text-align:center; width:70px; line-height:20px; margin:23px 0;}
.grjbxx{ font-size:18px; font-weight:bolder; margin: 0 0 25px;}
.grah{ position:relative;}
.grah span{ border-radius:999px; border:1px solid #fff; font-size:12px; margin:0 12px 10px 0; padding:3px 15px; float:left;}
.grah a{ color:#fff; background: url(../images/zi.png) 5px center  no-repeat #f08fc8; position:absolute; z-index:1; right:-50px; top:0; width:50px; height:22px; display:block; font-size:12px; text-indent:20px; line-height:22px;}
.likeorly{ margin:15px 0; overflow:hidden; }
.likeorly span{ float:left; font-size:18px; }
.likeorly span img{ vertical-align:bottom;margin:0 10px 0 0;}
.likeorly .sczp{ color:#fff; font-size:16px; background:url(../images/zhaopian.png) no-repeat; float:left; height:35px; line-height:35px; padding: 0 0 0 50px; margin: 8px 0 0 40px;}
.likeorly .like{ background:#eb90c6; color:#fff; font-size:14px; width:60px; height:23px; float:left; text-align:center; line-height:23px; border:1px solid #eb90c6;}
.likeorly .like img{ margin:0 5px 0 0;}
.likeorly .ylike{ background:#edeff5; color:#ff0097; border:1px solid #dbdbdb;}
.skfqyh{ position:absolute; z-index:1; right:56px; width:246px; height:74px; color:#704308; font-size:26px; line-height:68px; text-align:center; background:url(../images/l.png) no-repeat; bottom:112px;}
.skfqyh img{ margin:0 10px 6px 0;}

.grxy{ position:absolute; background:#fff; bottom:-40px; font-size:14px; width:1170px; height:70px; line-height:70px; text-indent:25px;}
.grxy img{ margin:0 8px;}
.grxy span{ position:absolute; z-index:1; top:-10px; left:145px; background:url(../images/zn.png) no-repeat; width:27px; height:11px;}
.grzydtts{ font-size:14px; color:#a7a7a7; width:1200px; text-indent:30px; padding:60px 0 20px 0; margin:0 auto;}
.grxy2{ z-index:10; height:auto; top:380px; line-height:normal;    bottom: initial; box-shadow:0 2px 5px 0px #ccc; display:none;}
.grxy2 .title{ font-size:18px; padding:20px 0 0 0;}
.grxy2 .title b{ font-size:12px; margin: 0 0 0 10px;}
.grxy2 .title a{ color:#7f97b4; position:absolute; z-index:1; right:20px; top:20px;font-size:12px ;}
.grxy2 textarea{ width:1120px; margin: 5px 0 0 25px; border:1px solid #d8d8d8; height:90px;}
.grxy2 .fabuts{ width:1120px; margin: 10px auto 20px;}
.grxy2 .fabuts input{ background:#ff0097;}

.grxy .bianji{ position:absolute; z-index:1; top:20px; right:20px; width:23px; height:23px; background:url(../images/bianjidubai_03.png) no-repeat; background-size:100%;}
.grxy .bianji span{ position:absolute; z-index:1; left:-70px; top:-60px; background:#fff; width:160px; height:47px; line-height:47px;box-shadow: 0 0 10px #666; background: #F3F3F3; border: 1px solid #666; border-radius:3px; text-indent:0; text-align:center; font-size:12px;}

.grxy .bianji span .icon-winlayer-arrowDown{ position:absolute; z-index:1; bottom:-8px; left:73px;
    background-position: -128px -673px;
    height: 8px;
    width: 14px;
	background-color: transparent;
    background-image: url(../images/icon_v150902.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
}
.grxy .bianji span .icon-warning-m{ background-position: 0 -185px;height: 20px; width: 20px;   background-image: url(../images/icon_v150902.png); background-repeat: no-repeat; display:inline-block; margin:13px 0px 0 10px; float:left;}


.grzydt{ width:1200px; padding-top:0; padding-bottom:20px; overflow:hidden; margin:0 auto;}
.grzydt-grl{ float:left; width:860px; margin: 0 0 0 30px; background:#fff; padding:10px 0 30px 0;}
.wddthzl{ width:815px; border-bottom:2px solid #fccabf; line-height:60px; margin:0 auto;text-indent: 0;}
.wddthzl a{ font-size:18px;  padding:19px 40px;}
.wddthzl .select{border-bottom:2px solid #ff5026; color:#ff5026; background:url(../images/j.png) no-repeat center bottom;}
.mydt{ margin:22px 0 0 0;}
.mydt .yhdtlb-idr{ float:none; width:725px; border-bottom:1px solid #e9ecf3; padding:0px 35px 0px 100px; background:url(../images/timelingbg_03.png) repeat-y 23px ; position:relative;}
.yhdtlbday{ padding:30px 0;border-bottom:1px solid #e9ecf3; margin-bottom:-1px;position:relative;}
.timeday{ position:absolute; z-index:1; border:1px solid #dfe3ed; left:-30px; background:#fff; width:88px; height:33px; line-height:33px; font-size:12px; text-indent:5px; top:38px; }
.timeday span{ font-size:22px; color:#ff3333; position:absolute; z-index:1; right:0; top:0; width:40px; text-align:center; font-weight:bold;}
.timeup{ background:url(../images/daitaiupdown_03.png) no-repeat; width:5px; height:5px; position:absolute; z-index:1; right:32px; top:-6px;}
.timedown{ background:url(../images/daitaiupdown_06.png) no-repeat; width:5px; height:5px; position:absolute; z-index:1; right:32px; bottom:-6px;}
.yhdtlbday .closed{ background:url(../images/zl.png) no-repeat center; width:15px; height:15px; position:absolute; z-index:1; top:15px; right:0;}

.grymyzl{ width:770px; margin:0 auto; font-size:14px;}
.zwjs textarea{ width:770px; height:100px; border:1px solid #ccc;} 
.grymyzl .title{ color:#ff5026; padding:30px 0 15px; position:relative;}
.grymyzl .title a{ color:#fff; background: url(../images/zi.png) 5px center  no-repeat #f08fc8; position:absolute; z-index:1; right:0px; top:30px; width:50px; height:22px; display:block; font-size:12px; text-indent:20px; line-height:22px;}
.grymyzl .title .baocun{ text-indent:0; text-align:center; background:#ff0097;}
.wdzlbd{ width:100%; overflow:hidden;}
.wdzlbd .bdtitle{ color:#787878; width:78px; }
.wdzlbd ul{ width:50%; float:left; line-height:2.4em;}
.wdzlbd  ul input, .wdzlbd  ul select{ line-height:26px; border:1px solid #ccc; vertical-align:middle;}
.wdzlbd .bdtitle5{ width:110px;}




.grzydt-grr{ float:right; width:290px;}
.adwz{ width:290px; height:260px; margin:0 0 20px;}
.gxqdr{ background:#fff;}
.gxqrtit{font-size:18px; padding:15px ; }
.gxqrtit a{ font-size:12px; color:#999; float:right; margin-top:4px;}
.gqxrlist{ overflow:hidden; padding: 10px 0 0 5px;}
.gqxrlist ul{ float:left; height:172px; overflow:hidden; width:118px; margin: 0 0 18px 15px;}
.gqxrlist .xqrpic{ width:118px; height:118px;}
.xqrpic img{ width:100%; height:100%;}
.xqrname{ padding:8px 0 5px;}
.xqrname a{ color:#ff5026; }
.xqrz{ color:#999; font-size:12px;}

/* 注册 */
.hyzc{ font-size:22px; line-height:40px; padding: 0 0 0 20px; border-left:1px solid #ccc; float:left; margin: 24px 0 0 20px;}
.yzcqdl{ float:right;font-size:16px; color:#999; margin:50px 0 0 0;}
.yzcqdl a{ margin: 0 0 0 8px;}

.zcydbz{ background:url(../images/s.png) no-repeat center; height:160px; width:1124px; margin:0 auto; }
.zcydbz span{ font-size:14px; color:#999; float:left; width:33.33%; text-align:center;}
.zcydbz2{ width:1000px; margin:0 auto; padding:118px 0 0 0;}
.zcydbz .select{ color:#ff0097;}
.ajyzclc{ width:1000px; margin:0 auto 80px; background:#fff; border:1px solid #d7d9de; padding: 50px 0 50px 200px; overflow:hidden;}
.ajyzclc .title{ font-size:24px; padding: 0 0 20px;}

.ajyzclc ul{ margin: 0 0 20px;}
.ajyzclc li{ padding:10px 0;}
.ajyzclc  i{ color:red; margin:0 5px;}
.ajyzclc input{height:30px;line-height:30px; border:1px solid #ccc; width:280px; vertical-align:middle;}
input.radio{ width:15px; margin: 0 3px 0 5px;}

.ajyzclc .ljzcan{ width:273px; line-height:42px;height:42px; color:#fff; background:#f10180;  border:none; font-size:24px; text-align:center; display:block; margin: 0 0 0 102px;}
.ajyzclc .titiel2{ font-size:12px; color:#999; border-bottom:1px solid #ddd; text-align:center; width:460px; height:0px; margin:0 0 20px;}
.ajyzclc .titiel2 span{ background:#fff; padding: 0 10px;}

li.fwtkck{ padding-left:102px; font-size:12px;}
li.fwtkck a{ color:#005aa0;}

.ajyzclc input.hqyzm{ width:136px; margin: 0 0 0 5px; border:none;}

.zcydbz-two{ background-image:url(../images/t.png);}
.zcajyl{ float:left; width:430px; border-right:1px solid #ddd;}
.zcajyl .title, .zcajyr .title{ font-size:14px; font-weight:bolder; padding:0; line-height:2em;}
.zcajyl .titlezs, .zcajyr .titlezs{ font-size:12px; color:#999;line-height:2em;}
.titlezs i{ color:#999; font-size:8px;}
.zcajyr{ float:left; padding: 0 0 0 56px;}

.zcydbz-three{ background-image:url(../images/u.png);}
.gxzcwc{ width:740px; text-align:center; font-size:24px; color:#ff0097; padding:30px 0;}
.gxzcwc img{ margin: 0 30px 0 0;}
.zcwcts{ width:740px; text-align: center; border-top:1px dashed #ccc; padding:30px 0; font-size:14px; color:#999;}
.ajyzclc a.ljzcan2{ margin:0 0 80px 234px; }

.shangchuan{ background:#eee; width:375px; height:375px; border-radius:6px; margin:15px 0;}
.ajyzclc .ljzcan3{ width:135px; height:41px; margin:0;}
.ljzcan4{ width:375px; text-align:center; padding:0 0 15px 0;}
.ljzcan4 input{ border:none; color:#ff0079; background:none; width:90px;}

/* 推荐 */
.ajytj{ width:880px;}
.tuijianlb{ background:#fff; overflow:hidden; margin: 0 0 10px; border-right:2px solid #d0d0d0;}
.tuijianlb-hover{ border-right:2px solid #f08ec7;}
.tuijianlbl{ float:left; width:150px; height:150px; overflow:hidden;}
.tuijianlbr{ float:left; width:578px; padding: 0 0 0 24px; margin: 0 20px 0 0;overflow:hidden; }
.likrdt{ float:left; border-left:1px solid #f0f0f0; text-align:center; height:120px; margin:15px 0; width:104px}
.likrdt li{ line-height:60px;}
.tuijianlbr .grxb{  margin:11px 0;}
.tuijianlbr .name{ font-size:18px; padding:20px 0 0 0;}
.tuijianlbr .grjbxx{font-size:14px; color:#666; font-weight:normal; margin:0 0 5px 0; }
.tuijianlbr .grjbxx span{  padding:0 15px; color:#e0e0e0;}
.grnxdb{ font-size:14px; white-space:nowrap; overflow:hidden; color:#666; text-overflow:ellipsis;}

/* 发动态 */
.ctpfxx{ position:fixed; z-index:999; background:#fff; border:1px solid  #4e4e4e; box-shadow:0 0 5px #666; width:590px; left:50%; top:50%; margin: -200px 0 0 -295px; font-size:12px; color:#999;}
.ctpfxx h3{ background:#f3f3f3; font-size:"宋体"; font-size:14px; width:590px; height:42px; line-height:42px; font-weight:bolder; text-indent:25px;color:#333;}
.ctpfxx h3 span{ font-size:12px; font-weight:normal;color:#999;  margin: 0 0 0 10px;}

.ctpfxx .zhushi{ width:540px; margin:0 auto; padding:20px 0 10px 0;}
.uppic{ width:540px; margin:0 auto;}
.uppic p{ float:left; margin: 0 10px 0 0; position:relative;}
.uppic p img{ width:127px; height:127px;}
.uppic p .closed{ position:absolute; z-index:1; right:3px ; top:3px; width:16px; height:16px; background:url(../images/icon_v150902.png) no-repeat -154px -225px #000; border-radius:3px;}
.uppicbtn{float:left; display:block; width:127px; height:127px; background:#c7c7c7; text-align:center; color:#fff; border-radius:4px; margin: 0 0 10px;}
.uppicbtn img{ display:block; margin:40px auto 5px;}
.ctpfxx textarea{ border:1px solid #c7c7c7; width:534px; background:#f0f0f0; margin:0px auto; display:block; height:120px;}
.fabuts{ text-align:right; width:540px; margin:10px auto;}
.fabuts input{ width:54px; height:25px; border:none; margin: 0 0 0 10px; background:#f08fc8; color:#fff;}
.fabuts b{ font-size:15px; font-weight:bold; color:#333; margin:3px;}
.ctpfxx .closed{ background:url(../images/zl.png) no-repeat center; width:20px; height:20px; position:absolute; z-index:1; right:10px; top:10px;}

/* 消息通知 */
.messagetz{ background:#fff; padding:15px; font-size:18px; margin: 0 0 10px;}

.messagetz2-left{ width:300px; background:#e0f0fd; border-bottom:2px solid #cecece;}
.messagetz2-left li{ }
.messagetz2-left li a{ height:80px; display:block; border-left:4px solid #e0f0fd; overflow:hidden;}
.messagetz2-left li a.select{ background:#f3f9fe;border-left:4px solid #d75650; }
.messagetz2-left li span{ position:relative; float:left; font-size:12px; color:#808080; }
.messagetz2-left li span i{ background:#fe28a7; color:#fff; border-radius:2px; position:absolute; z-index:1; right:-16px; padding:0px 3px; top:-5px;}
.messagetz2-left li em{ float:right; line-height:80px; font-size:12px; color:#808080; width:95px;}
.messagetz2-left li span b{ display:block; font-size: 14px; color:#000; font-weight:bolder; padding:20px 0 0 0;}
.zan, .xihuan, .fangke, .kafei, .tongzhi, .sixin{ width:51px; height:51px; background: url(../images/xiaoxitongzhiico.png) #c2cbd3 no-repeat; border-radius:99px; margin: 14px 26px 0 16px;}
.zan{ background-position:8px 7px;}
.xihuan{ background-position:8px -75px;}
.fangke{ background-position:8px -155px;}
.kafei{ background-position:8px -235px;}
.tongzhi{ background-position:8px -314px;}
.sixin{ background:url(../images/sixinico.png) no-repeat center #c2cbd3; }

.messagetz2-right{ width:840px; background:#fff; padding:20px 30px;}
.messagetab{ border-bottom:2px solid #f7f7f7; padding:10px 0;}
.messagetab a{ font-size:18px; color:#333; margin:0 30px  0 0 ; padding:8px 0;}
.messagetab a.select{ border-bottom:4px solid #f73e3e; }
.zanlist2{font-size:12px; padding:20px 0;}
.zanlist2left{ font-size:12px; color:#999; text-align:center; margin: 0 15px 0 0;}
.zanlist2left img{ width:70px; height:70px; margin: 0 0 5px;}
.zanlist2right{ width:750px;}
.zanlist2right p a{ font-size:14px; color:#4d97ef; margin: 0 5px 0 0; }
.zanlist2right strong{ display:block; width:40px; text-align:center; background:#ff0097; color:#fff; margin:5px 0;}
.timeyuehui{ color:#bababa; padding:28px 0 0 0; position:relative;  }
.timeyuehui a{ position:absolute; z-index:1; right:10px; color:#7f97b4; bottom:0; padding:4px 7px;}
.timeyuehui a img{ margin: 0 5px 3px 0; vertical-align:middle;}
.zanlist2{ border-bottom:1px solid #eceef4; overflow:hidden;}
a.jieshou{ background:#3bb444; color:#fff; right:73px;}
a.jujue{background:#c4c4c4; color:#fff; }
a.yijujue{ border:1px solid #d1d1d1; color:#999;}
a.yijieshou{ border:1px solid #d1d1d1; color:#3bb444;}

.zanlist2right p{ position:relative;}
.zanlist2right p strong{ display:inline-block;}
.fwltj{ font-size:12px; color:#666; padding:15px 0 0;}
.fwltj span{ font-size:16px; color:#333;}
.messagetz2-right .ui-scrollbar-main{ padding:30px 0 0 0;}
.zanlist2right p em{ color:#000; font-weight:bolder; font-size:14px; margin: 0 8px  0 0;}

.xxdaongtai{ background:#f3f4f6; color:#999; padding:10px; margin:10px 0 0 0;}
.xxdaongtai .pic{ margin:15px 0 -10px 0;}
.xxdaongtai .pic img{ height:126px; margin: 0 30px 0 0;}
p.likepop a{ position:absolute; z-index:1; right:60px; bottom:0; background:#edeff5; color:#ff0097; border:1px solid #dbdbdb; padding:2px 6px;}
p.likepop .qiuyuehui{ color:#fff; background:#48c3f0; border:1px solid #48c3f0;right:0;}

/* 认证 */
.aijiaoyourz{ background:#fff; margin:22px auto; width:1140px;padding: 30px}
.shenfenrenz{ font-size:12px; color:#999; background:#f0f0f0; padding:15px; margin:20px 0 0 0;}
.shenfenrenz img{ margin:5px 10px 0px 20px;}
.shenfenrenz b{ color:#333; font-size:14px; display:block;}
.aijiaoyourz .mc { color:#999;}
.aijiaoyourz .mc li{ list-style:inside;}
.aijiaoyourz  .mod-comm{     padding: 10px 60px 20px;}
.aijiaoyourz  .mod-comm .mt h3 img{ margin: 0  6px  3px -32px;}
.aijiaoyourz2{ height:800px;}

/* 私信对话 */
.mbdetailed_zbbli{ width:100%; margin:15px auto 0; overflow:hidden; position:relative; }
.mbdetailed_zbblil{ float:left; width:70px; height:70px; overflow:hidden; }
.mbdetailed_zbblil img{ width:100%; height:100%;}
.mbdetailed_zbblir{ padding:  0 105px; position:relative; }
.mbdetailed_zbblirsh{min-width:50px; max-width:100%; position:relative; }
.mbdetailed_zbblirsh .sixincont{ float:left; background:#f0f7ff; border:1px solid #f0f7ff;  padding:10px 20px; font-size:14px; line-height:20px; color:#333; font-family:"宋体"; }
.mbdetailed_zbblirsh .triangle{ position:absolute; z-index:99; background:url(../images/sixinzuoyou_07.png) no-repeat; width:8px; height:16px; left:-8px; top:0px}

.mbdetailed_zbblil2{ float:right; }
.mbdetailed_zbblirsh2{ float:right;}
.mbdetailed_zbblirsh2 .sixincont{ float:right;border:1px solid #f3f4f6; background:#f3f4f6;}
.mbdetailed_zbblirsh2 .triangle{ position:absolute; z-index:99; background:url(../images/xisinicoright_11.png) no-repeat; width:8px; height:16px; right:-8px; top:0px; left:auto;}
.mbdetailed_zbblirsh .sixincont b{ color:#bababa; font-size:12px; display:block; padding:8px 0 0 0;}

.mbdetailed_zbblirsh3 textarea{ width:630px; padding:0; margin:0; border:1px solid #dee0e8; height:63px; }
.mbdetailed_zbblirsh3 .triangle{ position:absolute; z-index:99; background:url(../images/sixinzuoyou_03.png) no-repeat; width:8px; height:16px; right:-8px; top:0px; left:auto;}
.mbdetailed_zbblirsh3 .fabuts{ width:auto;font-size:12px; color:#999;}
.mbdetailed_zbblirsh3 .fabuts input{ background:#ff0097; font-size:12px;}

.cjtouxiang{ width:640px; padding:5px;background:rgba(0,0,0,0.2); border-radius:1px; box-shadow:none; border:none; border-radius:3px; margin: -285px 0 0 -325px;}
.cjtouxiang1{ background:#fff; padding:20px;}
.cjtouxiang1 h4{ border-bottom:1px solid #ddd; padding: 0 0 15px; margin: 0 0 15px;}
.cjtouxiang1 h4 a{ font-size:16px; border-bottom:2px solid #f10180; padding: 0 0 14px;}
.cjtxctx input{ font-weight:bolder; background:#fff; border:1px solid #ccc; padding:5px 15px; margin: 0 10px 0 0; border-radius:3px;}
.ylright{ margin: 0 0 0 15px;}
.anniu{ text-align:center; padding:10px;}
.anniu a{ border:1px solid #ddd; padding:5px 45px; border-radius:5px; margin: 0 5px; background:#fafafa;}
 a.baocun{ border-color:#ffbde0; background:#fcedf2; color:#e00078;}


.jiagouwuc{ position:fixed; z-index:999; left:50%; top:50%; width:400px; height:206px;background:rgba(0,0,0,0.2); border-radius:3px;margin: -108px 0 0 -205px; padding:5px;}

.jiagouwuc2{ background:#fff; height:100%;}
.jiagouwuc2 .title{ background:#f3f3f3; font-size:14px; color:#444; font-weight:bolder; padding:10px; font-family:"宋体"; position:relative;}
.jiagouwuc2 .title .closed{ position:absolute; z-index:1; right:8px; top:8px; background:url(../images/closed.png) no-repeat center; width:20px; height:20px;}
.jiagouwuc2 p{ font-size:12px; text-align:center; line-height:3em; padding:20px 0 10px;}
.jiagouwuc2 .anniu{ font-size:12px;}
.jiagouwuc2 .anniu a{ display:inline-block; padding:0; width:128px; line-height:30px; font-family:"宋体";}
.jiagouwuc2 .anniu .baocun{ background:#f10180; color:#fff; border:1px solid #f10180;}

.kftczfmm{ height:26px; border:1px solid #ddd;}
p.shurimm{ margin: 0 0 -12px; line-height:30px;}
a.jieshou2{ right:10px; border:1px solid #3bb444;}














