@charset "utf-8";
/* CSS Document */
.azlmain{ background:#fff;}
.top-azl{ background:#f2f2f2; border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.top-azl .top-wd{line-height:33px;}
.top-azl .top-wd a{ color:#666;}
.logo-azl{ background-image:url(../images/zhilulogo.png); margin-top:24px;}
.nav-azl{ border:none; height:103px;}
.nav-azlr{ float:right;}
.azlntop { overflow:hidden; padding:20px 0 15px;}
.azlntop li{ float:left;padding: 0  11px; line-height:31px; font-size:18px;}
.azlntop li a{ font-size:12px;}
.azlntop li img{ margin: 0 8px 3px 0;}
.borderl{ border-left:1px solid #ccc;  }
.borderl i{ width:30px; float:left; line-height:1em; margin:2px 0 0 0;}
.borderl i.zxkfico{ background:url(../images/azllxfs_03.png) no-repeat; width:28px; height:28px; margin: 0 8px 0 0;}
.azlnbottom{ background:url(../images/azllxfs_11.png) no-repeat right center; display:block;width: 255px; text-indent:10px;}
.menu{ background:#f10582; line-height:40px;height:40px;}
.menu-wd{ width:1200px; margin:0 auto;}
.menu-wd a{ color:#fff; padding: 0 38px; float:left; font-size:18px;}
.menu-wd .select{ background:#bd1067;}
.shoplist{ float:right; color:#fff; background:#db0a76; padding: 0 25px;}
.shoplistico{ margin: 0 8px 2px 0;}

.azllbt{ background:url(../images/azladbg_14.jpg) center repeat-x; height:712px; width:100%;border-bottom:1px solid #dedede;}
.azllbt-wd{ width:1200px; margin:0 auto; position:relative;height:712px;}
.yhshkf{ width:620px; overflow:hidden; position:relative;}
.yhshkf img, .nvdp img{ width:70px; height:70px; border:4px solid #000; border-radius:10px;}
.yhshkf ul{ width:480px; margin: 90px 0 0 120px; text-align:center;}
.yhshkf ul li{ padding:1px 0;}
.yhshkf a{ margin:0 1px;}
.ckmore{ position:absolute ; z-index:1; left:495px; top:65px; text-decoration:underline;}
.yhshkf a.fistp{ margin: 0 0 0 80px;}

.nvdp{ position:absolute; z-index:1; right:150px; top:244px; }
.nvdp .last{ margin: 0 0 0 186px;}
.nvdp img{ width:70px; height:70px;}
.cfyhxx{position:absolute; z-index:1; line-height:1.8em; left:60px; bottom:65px; text-align:center;}
.cfyhxx a{ display:block; color:#f5d19c;}


.azlzx{ width:1200px; margin:0 auto; padding:42px 0; overflow:hidden;}
.azlzxl{ width:729px; border-right:1px solid #e5e5e5; overflow:hidden; float:left; height:332px;}
.twhh{ padding:24px 0 ;width:710px; margin: 0 0 -1px 0; border-bottom:1px solid #e5e5e5; overflow:hidden;}
.twhh-fst{ padding-top:0;}
.twhhl{ float:left; overflow:hidden; }
.twhhr{ float:left; margin:0 0 0 20px;}
.d1t1 a{ font-size:22px; color:#f73896;}
.d2t2 a{ font-size:14px; color:#999; margin: 0 15px  0 0;}
.twhhr li{ padding:0px 0 6px;}
.d1t3{ background:url(../images/dicazl_17.png) no-repeat 0 center; text-indent:10px; font-size:14px; }


.azlzxr{ float:left; width:445px; overflow:hidden; margin: 0 0 0 20px;}
.azlzxr ul{ border-bottom:1px dashed #ddd; margin: 0 0 -1px; overflow:hidden; padding:30px 0;}
.azlzxr .azlzxr-fst{ padding-top:0;}
.azlzxr li{ float:left; width:265px;}
.sptj img{ width:135px; height:135px;}
li.sptj{ width:135px; margin: 0 20px 0 0;}
.azlzxr li a{ display:block;}
.azlzxr .title{  line-height:1.6em;}
.azlzxr .jiage{ font-size:20px; color:#ff0097; margin:10px 0;}
.azlzxr .jrgwc{ background:#df0064; color:#fff; width:130px; height:32px; line-height:32px; text-align:center;}

.azlcftit{ font-size:36px; text-align:center;}
.kfgtp{ width:1200px; margin:0 auto; overflow:hidden; padding:40px 0;}
.kfgtp a{ float:left; width:290px; height:210px; position:relative; margin:0 0 0 12px;}
.kfgtp a.kfgtpfst{ margin:0;}
.kfgtp a img{ width:100%; height:100%;}
.kfgtp a span{ position:absolute; z-index:1; bottom:0; left:0; color:#fff; background:rgba(0,0,0,0.6); text-align:center; overflow:hidden; line-height:35px; width:100%;}

.zxlinfo{ width:1200px; line-height:160px; background:url(../images/infobg.png) center no-repeat; height:145px; margin:0 auto; overflow:hidden;}
.zxlinfol{ float:left; width:520px; text-align:right;}
.zxlinfor{ float:right; width:540px;}
.zxlinfo a{ background:url(../images/dicazl_17.png) no-repeat 0 center; padding: 0 0 0 15px ; margin: 0 15px ; font-size:14px;}

.zxlinfosh{ width:1200px; margin:0 auto; overflow:hidden; padding:0 0 30px;}
.zxlinfoshl{ width:565px; float:left; position:relative; position:relative;}
.zxlinfoshlp{ width:415px; height:480px; display:block; position:relative; margin: 0 0 0 75px;}
.zxlinfoshlp img{ width:100%; height:100%;}
.zxlinfoshlp  span{ background:rgba(0,0,0,0.6); color:#fff; line-height:68px; text-align:center; position:absolute; height:68px; overflow:hidden; font-size:22px; z-index:1; bottom:0; left:0; width:100%;}
.zxlinfoshl .left, .zxlinfoshl .right{ position:absolute; background:url(../images/lefirgtinfo.png) no-repeat left; z-index:9; left:0; width:42px; height:91px; top:50%; margin:-30px 0 0 0;}
.zxlinfoshl .right{ left:auto; right:0; background-position:right;}
.zxlinfoshr{ width:630px; float:left;}

.zxlinfoshrlist{ width:290px; float:left; margin: 0 0 0 25px;}
.zxlinfoshrlist ul{ padding:16px 0 0 0;}
.zxlinfoshrlist li , .zxlinfoshrlist li a{ font-size:12px; color:#888; line-height:2.2em; overflow:hidden; white-space:nowrap;}
.infopic img{ width:290px; height:175px;}
li.infotitle a{ font-size:16px; color:#333;}

.tladgg{ width:100%; height:209px; background:url(../images/ADguanggao.jpg) center;}
.tladgg a{ display:block; width:100%; height:100%;}

.bgbk{ width:1200px; margin:0 auto; overflow:hidden; padding:28px 0 0 0;}
.bgbkl{ float:left; width:630px; padding: 0 70px 0 0 ;}
.bgbkllist{margin: 0 0 44px 0;overflow:hidden; }
.bgbkll{ float:left; width:190px;}
.bgbkll img{ width:190px; height:140px;}
.bgbklr{ float:left; width:420px; padding: 0 0 0 18px; white-space:nowrap;}
.bgbklr .tag span{ padding:0 10px; font-size:14px; border-left:1px solid #333;border-right:1px solid #333;}
.bgbklr .title { padding:15px 0 10px;}
.bgbklr .zhengwen , .more a{ color:#999; font-size:12px; line-height:1em;}
.tuijian{ padding:16px 0 0 0;}
.tuijian a{background:url(../images/dicazl_17.png) no-repeat 0 center; padding: 0 0 0 15px ; margin: 0 15px 0 0; color:#999; font-size:12px;}

.bgbkr{ float:left; width:500px;}
.bgbkr p{ float:left; position:relative; width:250px; height:170px; overflow:hidden;}
.bgbkr p span{ position:absolute; z-index:1; left:0; bottom:0; background:rgba(0,0,0,0.6); width:100%; line-height:30px;height:30px; color:#fff; font-size:12px; text-indent:10px; overflow:hidden;}
.bgbkr p img{ width:100%; height:100%;}
.bgbkr ul{ background:#da0062; color:#fff; width:250px; height:170px ;float:left;text-indent:30px;}
.bgbkr ul .title{ font-size:30px; font-weight:bold; list-style:none; padding: 5px 0 5px 0; }
.bgbkr ul li{ padding:0px 0 8px; white-space:nowrap; overflow:hidden;}
.bgbkr ul a{ font-size:14px; color:#fff; font-weight:normal; line-height:1em; background:url(../images/diandiandiandian_23.png) no-repeat 0 center; padding: 0 0 0 15px ;}

.qgbgwz ul{ float:left; background:none; margin:20px 0 0 0; text-indent:0;}
.qgbgwz ul .title{ font-size:16px; padding: 10px 0px 20px 0; font-weight:normal; color:#333;}
.qgbgwz ul a{ color:#333; background-image:url(../images/diandiandiandian_27.png);}

.tladgg2{ height:230px; background-image:url(../images/tonglanguanggao2_30.jpg);}

.womenlist{ width:1200px; margin:0 auto; padding:40px 0 0 0; overflow:hidden;}
.womenlist h2{ font-size:28px; color:#000; position:relative; border-bottom:2px solid #000;padding:0 0 5px 0;}
.womenlist h2 span{ color:#858585; font-size:18px;}
.womenlist h2 a{ position:absolute; z-index:1; right:0; bottom:5px; color:#999; font-size:12px;}
.dypsp a{ float:left; position:relative; width:195px; height:295px; margin: 0 0 5px 5px;}
.dypsp a img{ width:100%; height:100%;}
.dypsp a span{ position:absolute; z-index:1; bottom:0; left:0; width:100%; height:25px; line-height:25px; text-align:center; color:#fff; background:rgba(0,0,0,0.6); overflow:hidden;}
.dypsp a:hover span{  color:#fff; background:#d7007f; overflow:hidden;}
.dypsp a.firsttop{ margin:0; width:440px;}
.dypsp a.twotop{ width:400px; margin:0; }
.womenlist ul{ width:160px; float:left; border-top:7px solid #000;}
.womenlist ul a{ font-size:12px; color:#666;}
.womenlist ul h3 a{ font-weight:bolder;}
.womenlist ul h3{ margin:12px 0 0 0;}

.help{ width:100%; background:#000; padding:30px 0; margin:60px 0 0 0;}
.help-wd{ overflow:hidden; width:1200px; margin:0 auto; font-size:12px; color:#9e9e9e;}
.help ul{ float:left; padding: 0 80px 0 90px; border-right:1px solid #2e2e2e; height:140px;}
.help ul li{ padding:3px 0; list-style:square inside;}
.help .title{ font-size:16px; color:#666; padding: 0 0 5px 0; list-style:none;}
.help .title img{ margin: 0 0 0 5px;}
.help ul li a{ color:#9e9e9e;}
ul.erweima li{ list-style:none;}
.footer2{ background:#fff; color:#666; text-align:center; line-height:2em;}
.about a{ margin: 0 5px; color:#666;}

/* 男人女人街 */
.xktj2{ background:#f3f3f3;}
.xktj2 .spid{ margin-bottom:5px; }
.xktj2 .spid .spidpic{height:400px; overflow:hidden; display:block;}
.xktj-wd2 h2{ font-weight:bolder; text-align:center; font-size:32px;}
.xktj-wd2 h2 span{ color:#000;}
.new_banner2{ height:545px;}
.nav2 .nav-m{ padding-top:0; margin: 0 0 0 175px;}
.nvrenjie{ font-size:22px; padding:48px 0 0 0; float:left;}
.nav2  .nav-wd{ height:auto; }
.nav2{border-bottom:2px solid #ee1294; padding:10px 0 0 0;}
.searchmw{ float:left; padding:30px 0 0 110px;}
.searchmw a{ font-size:12px; margin:0 20px 0 0;}
.sssrk{ width:360px; height:30px; border:2px solid #ff0097;}
.sscxbt{ background:#ff0097; color:#fff; width:87px; height:34px; border:#ff0097;}
.hotword{ width:452px; height:21px; overflow:hidden;}
.nav2 .nav-m .select{ background:url(../images/fensanjiao.png) no-repeat bottom center;}
.nav2 .nav-m a{ padding: 10px 0;}
.spfl{ position:absolute; z-index:1; left:50%; top:-38px; margin: 0 0 0 -600px; width:199px; color:#fff;}
.spfl h2{ font-size:16px; background:#333; line-height:38px; text-indent:15px;}
.spfl a{ color:#fff; font-size:12px;}
.spfl h3{ padding: 0 0 3px;}
.spfl h3 a{ font-size:14px; font-weight:bolder;}
.spfl ul{ background:#272727; height:545px;}
.spfl li{ border-bottom:1px dotted #666; overflow:hidden; padding: 10px 0 10px 15px;}
.spfl li>a{ margin: 0 16px 0 0; float:left; line-height:1.8em; color:#aaa;font-family:SimSun,"宋体";}

.dujialist h2 { overflow:hidden; padding: 0 0 10px;}
.dujialist h2 span{ font-size:12px; display:block; float:left; margin: 6px 0 0 5px; line-height:1.2em; color:#bfbfbf;}
.dujialist h2 b{ float:left;}
.dujialist .spid { width:190px; overflow:hidden; margin: 0 0 0 12px;}
.dujialist .first{ margin:0;}
.dujialist .spidpic{ height:405px; overflow:hidden; display:block;}
 .spidpic img{ width:100%; height:100%;}
.dujialist .title1{ color:#000; font-size:18px; text-align:center; display:block; padding:20px 0 15px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.dujialist .title{ padding:0 5px 20px; border-bottom:3px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}

.dujialist a.firsttop{ width:600px;}

/* 商品列表 */
.nav3{ border:none; border-bottom:1px solid #ccc;}
.spflcd{ border-bottom:1px solid #ccc; line-height:41px; }
.spflcd-wd{ width:1200px; margin:0 auto; background:url(../images/rightsanjiao.png) no-repeat 0 center; text-indent:13px; font-family:SimSun,"宋体"; font-size:12px;}
.spflcd a{ color:#333; font-size:12px; font-family:SimSun,"宋体";}
.spflcd a:hover{ color:#ff0079;}
.spflcd span{ padding:0 15px; font-family:SimSun,"宋体";}
.flxs{ width:1200px; height:170px; margin:14px auto 16px;}
.flxsl{ float:left; background:#000; height:122px; width:405px; padding: 48px 405px 0 0 ; color:#fff; font-size:36px; text-align:right; line-height:1em;}
.flxsl span{ font-size:28px; line-height:1em;}
.flxsr{ float:right; width:390px; height:170px;}
.flxsr img{ width:100%; height:100%;}

.splbfl{ width:1200px; margin:0 auto;padding: 0 0 1px 0;overflow: hidden;}
.splbfll{ float:left; width:167px; border:1px solid #e6e6e6;padding-bottom: 9999px;margin-bottom: -9999px; position:relative;}
.splbfll a{ font-size:12px; color:#444; display:block;}
.splbfll  dt { border-bottom:1px solid #e6e6e6;}
.splbfll  dt a{ font-size:14px; line-height:47px; }
.splbfll  dt i{ font-family:SimHei,"黑体" ; margin: 0 5px 0 16px;}
.splbfll dd{ border-bottom:1px dotted #ededed; line-height:30px; text-indent:33px;}
.splbfll dd a{font-family:SimSun,"宋体";}
.splbfll dd a:hover{ color:#ff0079;}

.splbfll dd.select{ background:#f8f8f8;}

.splbflr{ float:right; width:1021px; position:relative;}
.linebottom{ position:absolute; z-index:1; bottom:-1px; left:-180px; border-bottom:1px solid #e6e6e6; width:169px;}
.spflsxtj{ width:1011px; background:#faf9f9; overflow:hidden; padding:5px;}
.list-sort{ float:left;}
.list-sort a {font-size:12px; display: block; float: left; padding: 0px 8px 0px 8px;line-height:21px;  font-weight: normal; border: 1px solid #CCC; margin-right: -1px; background: #FFF; position: relative; z-index: 1;}
.list-sort a.on { box-shadow: 0 1px 2px #CCC; border-color: #f07181; color: #ec465b; background: -webkit-linear-gradient(top,#feeff0,#fbd7da); background: linear-gradient(#feeff0 0,#fbd7da 100%); z-index: 2;}
.list-sort .fa:before{display: inline-block;content:url(../images/fenleshuaixuanxia.png) ;vertical-align:middle; line-height:0;}
.list-sort .on .fa:before{content:url(../images/onhuisesanjiao.png);} 
.list-sort .on .fa-caret-up:before{content:url(../images/onhuisesanjiaoup.png);  }
.list-sort i{ margin:0 0 0 3px;}
.spflsxtj .fanye{ float:right; font-size:12px;}
.spflsxtj .fanye p{ float:left; line-height:23px; margin: 0 5px 0 0; color:#666;}
.spflsxtj .fanye p span{ color:#fe4043;}
.spflsxtj .fanye a{font-size:15px; display: block; float: left; width:46px; text-align:center; line-height:21px;border: 1px solid #CCC; margin-right: -1px; background: #FFF; position: relative; z-index: 1; font-family:SimHei,"黑体" ;}
.spflsxtj .fanye .miss{ background:#f5f5f5; color:#dcdcdc;}

.jiesplist .spid{ width:236px; height:450px;border: 1px solid #e6e6e6;border: 1px solid #e6e6e6; margin:0 -1px -1px 0; padding:9px;}
.spidpic { height:370px; display:block;}
.jiesplist .sppic img{ height:370px; width:236px;}
.splbfywd{ width:1200px; margin:0 auto; overflow:hidden;padding:30px 0 0px;}
.splbfywd .xqfanye{ margin: 0 0 0 179px;}
.xqfanye{ width:1021px; float:left; text-align:center; font-size:14px; overflow:hidden; line-height:50px;padding:0px 0 0px; font-weight:bolder;}
.xqfanye a{ border:1px solid #999; padding:5px 12px; margin: 0 3px; font-weight:bolder;}
.xqfanye b{ margin: 0 10px; color:#666;}
.xqfanye .prev{ margin: 0 3px 0 20px;}
.xqfanye .prev i:before, .xqfanye .next i:before{margin: 0 8px 3px 2px;content:url(../images/fanyeleft.png); vertical-align:middle; line-height:2px; display:inline-block;}
.xqfanye .next i:before{content:url(../images/fanyeright.png); margin: 0 2px 3px 8px;}

.xqfanye .miss{ background:#f2f2f2;}
.xqfanye .prev.miss i:before{content:url(../images/fanyeleftmiss.png);}
.xqfanye .next.miss i:before{content:url(../images/fanyerightmiss.png);}
.xqfanye .select{ background:#999; color:#fff;}


/* 商品详情 */
.spxqym{ width:1200px; margin:24px auto 0; overflow:hidden;}
.prodleft{ width:607px; float:left;}
.img-thumbs{ width:80px; float:left;}
.img-thumbs img{ width:76px; height:119px; margin: 0 0 8px; border:2px solid #fff;}
.img-thumbs .select img{ border:2px solid #080103;}
.img-media{ float:left; width:518px; height:775px; overflow:hidden; margin:0 0 0 9px;}
.middle-image{ width:100%; height:100%;}
.img-media img{ width:100%; height:100%;}

.prodright{margin: 0 0 0 15px; float:left; width:578px;}
.product-title{ font-size:18px; font-weight:bolder;line-height:1.5em; border-bottom:1px dotted #ccc; padding:0px 0 10px ;}
.product-title span{ font-size:12px; color:#ff0000; display:block;font-family:SimSun,"宋体"; }
.product-navi{ overflow:hidden; border-bottom:1px dotted #ccc; }
.product-brand{ float:left; padding:18px 0;}
.product-brand a{font-size:18px; font-weight:bolder; color:#666;}
.product-brand i:before{ content:url(../images/rightsanjiao.png); }
.view-in-mobile{ float:right; font-size:12px; color:#999; line-height:61px;}
.view-in-mobile img{ margin: 0 0 5px 5px;}
.product-prices{ padding:18px 0;border-bottom:1px dotted #ccc;}
.product-price-current{ font-size:26px; color:#ff0097; font-weight:bolder;}
.product-price-original{ color:#999; border-left:1px solid #ccc; margin:0 0 0 25px; padding: 5px 0 5px 25px;}
.product-sku{font-size:12px; }
.product-sku label {  display: block; width: 10%; float: left; line-height:54px;}
.product-sku div.value { float: left; width: 90%;}
.product-sku .img{ padding: 0 0 30px; margin: 30px 0 0 0;}
.product-sku .img a, .product-sku .txt a{ margin:0 15px 10px 0; width: 50px; height: 50px; display: block; text-align: center; border: 2px solid #CCC; float: left;}
.product-sku .img a img { width: 100%;}
.product-sku a.selected { border: 2px solid #272727; position: relative; box-shadow: 0 2px 3px #CCC;}
.product-sku a.selected i { display: block; position: absolute; bottom: 0; right: 0; _bottom: -3px; _right: -1px; width: 12px; height: 12px; background-image: url(../images/icon.png);  background-position: -12px -212px;}
.product-sku .txt{ padding: 0 0 30px;}
.product-sku .txt2{ padding: 0 0 30px;}
.product-sku .txt label{ line-height:46px;}
.product-sku .txt a { font-weight:bolder; padding: 12px 15px 11px 15px; font-size: 14px; width:auto; height:auto;}
.product-sku .txt .size-section-no, .product-sku .img a.color-section-no{ color:#eee; border-color:#bbb; opacity:0.2;}

.data-crease { width: 40px;  height: 40px; line-height: 38px; display: inline-block;   font-weight: bold; font-style: normal; font-size: 25px; color: #999; overflow: hidden; border: 1px solid #CCC; background: #f2f2f2; text-align: center; margin: 0 -1px; cursor: pointer; vertical-align: middle;}
.data-num {   display: inline-block;  border: 1px solid #CCC; padding-top: 2px; text-align: center; font-weight: bold; font-family: Arial;vertical-align: middle;width: 70px;  height: 38px; line-height: 40px; font-size: 14px;}


.store-span{ margin: 0 0 0 10px;}
.store-span b{ font-weight:bolder;}
.product-tip{ font-size:12px; padding: 0 0 10px 60px; color:#666; height:17px;}

.product-operator-button { border-radius: 3px; border: 1px solid #ff0097;  font-size: 16px; height: 46px;background: #fff; width:30%;}
button.first{ background:#ff0097; color:#fff;}

.product-attr { margin-top:30px;}
.product-attr-tab li.on { background: #FFF; border: 1px solid #CCC; border-radius: 2px; border-bottom: 0;  margin-right: -2px; margin: 0 -1px 0 -1px; font-size:12px; font-weight:bolder; text-align:center; display:inline-block; padding: 3px 25px 5px;}
.product-attr-tab ul { padding: 0 15px;}
.product-attr .tab-cont { border-top: 1px solid #CCC; padding: 15px; margin-top: -1px; overflow:hidden;}

.display-none{ font-size:12px; color:#333; line-height:1.8em;}
.designer-logo { float: left; margin-right: 15px;}
.designer-logo { width:120px; height:120px;}
.product-others { padding-top: 10px; border-top: 1px dotted #ccc;overflow: hidden;}
.share-box { float: right; margin-top: 3px;}
.product-other-operator { float: right; padding: 5px 18px 5px 0; font-family: Arial;}
.float-left { float: left; font-size:12px;}
.share-box a.share { cursor: pointer; outline: 0;  vertical-align: middle; display: inline-block; width: 16px; height: 16px; background-image: url(../images/icon_share.png);  background-repeat: no-reepat; margin: 0 1px;}
.share-box .weixin { background-position: 0 -312px;}
.share-box .qq { background-position: 0 -364px;}
.share-box .qzone { background-position: 0 0;}
.share-box .weibo { background-position: 0 -52px;}
.share-box .douban { background-position: 0 -416px;}
.share-box .tqq { background-position: 0 -156px;}

.product-other-operator a{ font-size:12px;}
.ajax-request{ margin: 0 0 0 15px;}

.product-cont-bar { width: 1198px; margin:0 auto; margin-top: 10px; background: #FFF; border: 1px solid #dcdcdc; position: relative;}
.product-cont-bar .tab li { float: left; padding-left: 25px; padding-right: 25px; position: relative; text-align: center; font-size: 12px; border-top: 2px solid #FFF; width: 150px; cursor: pointer; line-height: 50px; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc;   margin-right: -1px;font-weight:bold;}
.product-cont-bar .tab li.on { border-color: #f00; border-left: 1px solid #dcdcdc;  border-right: 1px solid #dcdcdc; position: relative;margin: -1px -1px 0 0;}
.product-cont-bar .tab li:first-child { border-left: none;}
.tab li.on:after { content: ' '; display: block; border-width: 5px; border-style: solid;  border-color: #f00 transparent transparent; width: 0; height: 0; font-family: arial; position: absolute; top: -1px; left: 50%; margin-left: -5px;}


.product-detail{ width:1200px; margin:0 auto; overflow:hidden;}
.product-detail-left{ float:left; width:860px;position:relative;min-height:710px; }

.product-detail-right{ float:left; width:338px; border:1px solid #dcdcdc;padding-bottom: 9999px;margin-bottom: -9999px; margin-top:-1px;position:relative;}
.product-info-suspend {padding: 10px; position: relative;}
.product-info-suspend .product-sku label{ float:none; line-height:1em; padding:10px 0 10px;}
.product-info-suspend .product-sku .img{ margin: 10px 0 10px; padding:0;}
.product-info-suspend .product-sku .txt{ padding:0;}
.product-info-suspend .product-sku .txt2 {padding: 0 0 30px;}
.product-detail-left .linebottom{ right:-339px; width:338px; left:auto; bottom: 0;}

.prudt { border:1px solid #f2f2f2; width:1170px; margin:40px auto 0 auto; padding:14px;}
.prudt h2{ font-size:14px; border:none; padding: 0 0 15px 0; font-weight:bolder;}
.prudt .spid{ margin:0 0 0 5px ;}
.prudt .splist .first{ margin: 0 0 0 3px;}
.prudt .splist .title{ border:none; padding:15px 0;}
.prudt .splist .spidpic{ display:block; height:300px; overflow:hidden;}


/* 购物车 */
.form-cart{ margin:30px auto; width:1200px;}
.table-lightgrey{ font-size:12px; width:100%;}
.table-lightgrey tr th {  border:1px solid #dedede;background: #f2f2f2;padding: 10px; font-weight:bolder;}
.table-lightgrey tr.item{border:1px solid #dedede; }
.table-lightgrey tr.item td { padding: 10px; vertical-align:middle;}
.table-lightgrey p.img { float: left; margin-right: 10px;}
.table-lightgrey td p { margin: 6px 0; padding: 0;}
.table-lightgrey td a { color:#36c; font-family: Arial;}
.grey{ color:#999; font-family: Arial;}
.table-lightgrey tr.space, .table-lightgrey tr.space td { height: 7px; padding: 0; border: 0;}
.num-change {  display: inline-block;  border: 1px solid #CCC; line-height: 32px;  width: 33px; font-size: 20px; vertical-align: middle;color: #36C;text-align: center;}
.input { border: 1px solid #BBB; border-radius: 2px; height: 32px; vertical-align:middle; text-align:center; width:53px; }
.button.button-s { background: #fe7a7a; background: -webkit-linear-gradient(top,#fe7a7a,#ff7171); background: linear-gradient(#fe7a7a 0,#ff7171 100%);line-height: 27px; height: 28px; padding: 0 14px;box-shadow: 0 1px 2px #CCC;    color: #FFF;  position: relative;  overflow: hidden; border:1px solid #ff7171;font-family:SimSun,"宋体"; border-radius:2px;}
.checkbox{ vertical-align:middle;}
.important.level-two { font-size: 16px;	color:red;}
.important.level-one {font-size: 20px;color:red;}
.text-right{ font-family: Arial;}

/*下单*/
.button.button-l {box-shadow: 0 1px 2px #CCC;background:#db0000;font-size:14px;	color:#fff;	border:#db0000;	border-radius:3px; line-height: 40px; height: 40px; padding: 0 25px;}

h2.order-title {font-family:airal; font-weight:bolder; font-size: 14px; border-bottom: 1px dotted #AAA; margin: 15px 0 5px 0; padding: 8px 0 5px 0; line-height: 25px;}
.guanlidizhi {	float:right; color:#cc9977; font-size:12px; font-weight:normal;}
.fa-caret-right:before{content:url(../images/rightsanjiao.png); margin: 0 2px 3px 8px;}

.address-list .address-item { float: left; width: 244px; height: 90px; padding: 5px;   font-family: Arial;  margin: 5px 10px 5px 0; border: 1px solid #ddd; cursor: pointer;  position: relative;color:#999;}
.address-list .address-item p { padding: 4px 8px; margin: 0; line-height: 200%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size:12px;}
.first-line{border-bottom: 1px dotted #CCC;}
.address-add { float: left; width: 90px; height: 90px; padding: 5px; margin: 5px 10px 5px 0;text-align: center; border: 1px solid #DDD; cursor: pointer;}
.address-item em { position: absolute; font-size:12px; right: 0; top: 0; background: #000; color: #FFF; opacity: .2; font-weight: normal; padding: 4px 10px; font-style: normal;}
.fa-check:before { content:url(../images/duigou.png);position:absolute; z-index:1; right:10px; bottom:0;}
.address-add{ font-size:12px;}
.address-add .fa-plus-circle {  display: block; font-size: 60px; line-height: 70px;	background:url(../images/tjdz2.png) no-repeat center;height:70px;}
 .fa-check{display:none;}
.address-item.selected{ border:2px solid #db0000; color:#333; }
.selected .fa-check { display:block;}
.address-item:hove .fa-check{display:block;}
.address-addhover:hover{ border:1px solid #db0000; color:red;}
.address-addhover:hover .fa-plus-circle{ background-image:url(../images/tjdz.png);}
.lybzdd{ width:335px;}
.table-lightgrey tr.item2{ border-right:0; line-height: 2em;}
.order-toggle-item{ color:#db0000; line-height:20px; margin:5px 0 8px;}
.order-toggle-item .fa-plus-circle:before{content:url(../images/shouqi.png) ; vertical-align:middle;font-size: 18px;}
.tab-small { width: 250px; height: 26px; line-height: 26px; border: 1px solid #db0000;  border-radius: 8px; text-align: center; margin-bottom: 10px;}
div.tab-small a { display: block; float: left; width: 125px; color: #db0000;}
.tab-small a.selected {  background: #db0000; color: #FFF;}
.first-child.selected{border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.last-child.selected{border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

.order-coupon-item {display: block;border: 1px solid #f1d2d2;background: #fef2f2;padding: 15px;margin:-1px 0 30px;}
.order-coupon-item input{ margin:0 5px 3px 0;}
.button.button-xl {line-height: 50px;height: 50px;font: bold 18px 'Microsoft Yahei','Helvetica Neue';padding-left: 30px;padding-right: 30px;border:1px solid #db0000;background:#db0000;color:#fff;box-shadow: 0 1px 2px #CCC;border-radius:3px;}

.table-lightgrey td .top-line{border-top: 1px dotted #CCC; padding:10px 0 0;}
.table-lightgrey td p span,.table-lightgrey td p a {margin:0 5px;}
.table-lightgrey td p b{ margin:0 10px; color:#999;}
.order-toggle-item  .fa-minus-circle:before{content:url(../images/zhankai.png) ;}
.cofjiajian { position:relative;}
.cofjiajian input{ width:50px; height:23px; border:1px solid #bbb; text-align:center; padding: 0 14px 0 0;}
.table-lightgrey td .cofjiajian a{ position:absolute; z-index:1;  width:12px; height:11px; border:1px solid #bbb; background:#fff; margin:0;padding:0; line-height:10px; text-align:center; color:#999;right: 5px; top:-4px;}
.table-lightgrey td .cofjiajian .jian{ top:8px;}
/* 支付 */
.pay-order-info { padding-left: 5%; width: 44%; line-height: 3em;float:left;font-size:12px;margin:20px 0;font-family:SimSun,"宋体";}
.pay-order-info .small{ font-family:"微软雅黑";}
.pay-order-products { width: 50%; margin-right: 1%;	float:right;font-size:12px;}
.pay-order-products li { clear: both; padding: 10px 0 0 0; height: 60px; overflow: hidden;line-height:1.6em;}
.pay-order-products li p.img { float: left; margin: 0 10px 0 0;}
.payment-div .payment-li .payment-li-label { padding: 12px 30px; display: block; cursor: pointer;font-size:12px;font-family:SimSun,"宋体";}
.payment-li-label .check-radio { display: inline-block; background-color: #db0000; padding: 9px 15px; border-radius: 3px; color: #FFF; font-weight: bold; margin-right: 20px;line-height:17px;}
.check-radio .fa-check-circle:before{ content:url(../images/duigoubai.png); vertical-align:middle;}
.pay-title { text-align: left; font-size: 16px; font-weight: bold; color: #333; margin-bottom: 15px;}
.payment-li .pay-li {float: left; margin: 0 15px 8px 0;}
.payment-li .pay-li input {float: left;margin-top: 13px;}
 .pay-li label {display: block;float: left;margin-left: 5px;background-color: #FFF;background-image: url('../images/combo.png');background-repeat: no-repeat;width: 190px;line-height: 36px;text-indent: -9999px;border: 1px solid #CCC;cursor: pointer;}
.payment-div .payment-li.on ul { display: block; margin-left: 155px;}
.pay-li label.ALIPAY {background-image: url('../images/icon_alipay.gif');}
.pay-li label.WXSCANPAY {background-image: url('../images/icon_wxpay.gif');}
.COMM {background-position: 10px -360px;}
.ICBC {background-position: 10px -504px;}
.CMB {background-position: 10px -288px;}
.CCB {background-position: 10px -144px;}
.BOC {background-position: 10px -108px;}
.ABC {background-position: 10px -0px;}
.SPABANK {background-position: 10px -720px;}
.CEB {background-position: 10px -180px;}
.CMBC {background-position: 10px -324px;}
.GDB {background-position: 10px -432px;}
.CITIC {background-position: 10px -252px;}
.HZCB {background-position: 10px -468px;}
.NBBANK {background-position: 10px -540px;}
.SDB {background-position: 10px -612px;}
.SHBANK {background-position: 10px -648px;}
.SPDB {background-position: 10px -756px;}

/* 登录 */
.loginbg{ position:relative;}
.account-wrap {position: absolute; top: 156px; left: 50%; width: 420px; margin-left: -210px; background-color: #FFF; border-radius: 3px;font-size:12px;}
.account-wrap form { padding: 25px 25px 15px 25px;}
.account-wrap .account-title { height: 55px; background: url('../images/img_account.png') 0 0 no-repeat;}
.account-wrap .account-input { border: 1px solid #DDD; margin-bottom: 10px; padding: 6px 8px;   position: relative;}

.account-wrap .account-input input { border: 0; padding: 5px; width: 86%; font-family: Arial;   font-size: 14px; color: #dc4b4b;outline: none;}

.account-wrap .account-bar { line-height:30px;height: 30px;}

.account-wrap .account-btn input { cursor: pointer; height: 42px; width: 100%; color: white;    background-color: #dc4b4b; border: 0; font: bold 18px 'Microsoft Yahei','Pingfang SC','Helvetica Neue'; letter-spacing: 5px;}
.quick-login { height: 20px; background-color: #b0cdde; margin-top: 15px; padding: 15px 15px 13px; color: #FFF;}
.account-wrap .account-bottom { height: 17px; background: url('../images/img_account.png') 0 -112px repeat-x; width: 100%;}

.account-wrap .quick-login a { float: left; display: block; width: 23px; height: 23px;   margin-bottom: 5px; border-radius: 3px; background: #FFF url('../images/login_app.png') no-repeat; text-indent: -9999px; margin-left: 5px;}
.account-wrap .quick-login .qq-login { background-position: 2px -150px;}
.account-wrap .quick-login .sina-login { background-position: 2px -127px;}
.account-wrap .quick-login .wx-login { background-position: 2px -173px;}
.fa-user:before{ content:url(../images/useico_03.png); vertical-align:middle;}
.fa-lock:before{content:url(../images/useico_06.png);vertical-align:middle;}
.account-wrap .login-title { background-position: 0 -55px;}
.account-wrap .msg { display: none; background-color: #ffb; border: 1px solid #feb; padding: 7px 0; color: red; margin-bottom: 5px; text-align: center;}
.quick-login .float-left{ margin-top: 5px;}

/* 注册 */

.zhuceym{ width:1200px; margin:0 auto; font-size:16px; padding:30px 0 110px ; }
.zhuceym .text-right{ padding:0px 0 50px; color:#a6a6a6;font-family:"微软雅黑"; }
.zhuceym .text-right a{ color:#333;}
.zhuceym .float-left{ width:682px; border-right:1px solid #ddd;}
.zhuceym .float-left span{ font-size:16px; color:#666;}
.zhuceym .float-left li{ padding: 0 0 5px; position:relative; }
.zhuceym .float-left .title{ float:left; font-size:16px; color:#666; line-height:52px; width:100px; text-align:right; margin: 0 15px 0 0;}
.zhuceym .float-left input{ width:258px; padding:16px 125px 17px 15px; border:1px solid #ddd;}
.fatanhao:before{ content:url(../images/zo.png); vertical-align:middle; margin: 0 5px  0 0;}
.zhuceym .float-left p b{ display:block; padding:5px 0; margin: 0 0 0 115px; color:#ccc;}

.zhuceym .float-left .checkbox{ width:14px; vertical-align:middle; margin: 0 3px 3px 0px;}
.zhuceym .float-left p .ydxy{ color:#666;}
.yanzhengma{ position:absolute; z-index:1; top:3px; right:170px; width:110px; height:46px;}
.yanzhengma img{ width:100%; height:100%;}
.zhuceym .float-left  .button{ background:#ee2222; color:#fff; font-size:16px; border:none; margin: 30px 0 0 115px; width:400px; padding:15px;}

.zhuceym  .float-right{ text-align:center; color:#999; font-size:18px; padding: 70px 80px 0 0;}








































