@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,input{padding:0;margin:0;font: inherit;}
body, button, select, textarea, input{font-family:"Hiragino Sans GB","Microsoft Yahei","微软雅黑",arial,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; vertical-align:middle; }
li{ list-style:none;}
table{ border-collapse:collapse;}
a{outline:none;blr:expression(this.onFocus=this.blur()); text-decoration:none;  color:#333;}
/* 去掉 IE 10+ 点击链接时的灰色背去掉点击时的焦点框，同时保证使用键盘可以显示焦点框  */
a:hover{ text-decoration: none;}
a:active {    background-color: transparent;}
a:active,a:hover {    outline: 0 none;}
/**
 * 统一 Chrome 和 Safari 的焦点框样式
 * Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
 * Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
 * 
 */
a:focus {
    outline: 1px dotted;
    outline: 0 none;
}
/**
* 闭合浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6-7 触发 hasLayout */
}

a img, img{ border:none; vertical-align:middle;}
.green{ color:#1A772A;}
.red{ color:#ff0000;}
.blue{ color:#36C}
.hidden{display: none;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.float-left{ float:left;}
.float-right{ float:right;}
.important{ font-weight:bolder;}
.display-block { display: block;}
.strong{ font-weight:bolder;}
.border-none{ border:none;}
.bolder{font-weight: bolder;}
body{ background:#edeff5;}

/* top */
.top{ background:#232323; width:100%; color:#5e5959; border-top:1px solid #3f3f3f; border-bottom:1px solid #fff; }
.top-wd{ width:1200px; margin:0 auto; overflow:hidden; line-height:45px;}
.top-l{ float:left; color:#e1e1e1; }
.top-l a{ color:#e1e1e1;font-size:12px; margin: 0 30px 0 0;}
.top-r{ float:right;}
.top-r a{ font-size:12px;color:#e1e1e1; padding:0 15px;}

.pheadlist{ width:100%; overflow:hidden; position:relative; background:#fff;}
.prv, .prv:active{ background:url(../images/leftd.png) no-repeat center #000; position:absolute; z-index:10; left:0; top:0; height:100%; width:30px; opacity:0.56;}
.nxt, .nxt:active{ background:url(../images/rightd.png) no-repeat center #000; position:absolute; z-index:10; right:0; top:0; height:100%; width:30px; opacity:0.56;}
.pheadlist-wd{ width:150%; overflow:hidden; height:125px;}
.pheadlist-wd a{ display:inline-block; position:relative;}
.pheadlist-wd a div{ position:absolute; z-index:1; bottom:0px; background:rgba(0,0,0,0.6); color:#fff; font-size:12px; width:100%; line-height:20px; text-indent:5px; display:none;}
.pheadlist-wd a:hover div{ display:block;}
.pheadlist-wd a div span{ position:absolute; z-index:1; right:5px; bottom:0;}

.nav{ width:100%; border-bottom:2px solid #ed008c; background:#fff;}
.nav-wd{ width:1200px; margin:0 auto; overflow:hidden; height:88px;}
.logo{ background:url(../images/aijiaoyoulogo.png) no-repeat; float:left; width:201px; height:56px; margin:16px 0 0 0;}
.nav-m{ float:left; padding:40px 0 0 0; margin: 0 0 0 30px;}
.nav-m a{ margin: 0 0 0 70px; float:left; font-size:18px;}
.nav-m .select{ color:#ed008c; }
.nav-m .select i{ background:url(../images/xinxiaoxi_13.png) no-repeat center; padding:5px; margin: 0 10px 0 0;}
.nav-m i{  padding:5px; margin: 0 10px 0 0;}
.nav-r{ float:right; width:136px; height:34px; margin: 30px 0 0 0; border:1px solid #e6e6e6; background:#f9f9f9; line-height:34px; font-size:12px; position:relative;}
.nav-r img{ margin: 0 9px 3px 17px; vertical-align:middle;}
.nav-r b{ background:url(../images/shuzitishi.png) no-repeat; width:16px; height:16px; position:absolute; z-index:1; color:#fff; top:0; right:25px; font-size:12px; line-height:16px; text-align:center;}









.suspend-fixed {
    position: fixed;
    margin: 0;
    top: 0;
    border-bottom: 0;
    z-index: 92;
}

.product-cont-bar.suspend-fixed {
    position: fixed;
    margin: 0;
    top: 0;
    border-bottom: 1px solid #dcdcdc;
    z-index: 92;
	background:#fff;
}
.product-cont-bar.suspend-fixed .tab{
    margin:0 auto;
    
	border: 0;
   
}
.product-cont-bar.suspend-fixed .tab li:first-child {
    border-left: 1px solid #dcdcdc;
    padding-left: 0;
}
.product-detail-right.suspend-fixed {
    position: fixed;
    margin: 0;
    top: 52px;
    z-index: 10;
	background: #fff;
	width:338px;
	left: 50%;
    margin: 0 0 0 260px;
	
}
.menu.suspend-fixed {
    position: fixed;
    margin: 0;
    top: 0;
    border-bottom: 0;
    z-index: 92;
}
.nav3.suspend-fixed {
    position: fixed;
    margin: 0;
    top: 0;
    padding: 0;
    z-index: 92;
}





.modal-mask{ background: rgba(0,0, 0, 0.3); position:fixed; width:100%; height:100%; z-index:100; left:0; top:0;}


/* 回顶部 */
.huidingbu{ position:fixed; z-index:1; right:50%; width:64px; height:55px;  background: url(../images/TTtop.png) #fff no-repeat center ; bottom:20%; margin: 0 -674px 0 0; border:1px solid #eee; }
.huidingbu1{ border-top:3px solid #d12627;}
.huidingbu1 a{ font-size:14px; color:#333; display:block; text-align:center;border-bottom:1px solid #fff; padding:8px 0; text-decoration:none;}
a.bmcs{ background:#fff; color:#e53531; font-size:16px;}
.huidingbu1 a img{ vertical-align:middle;}
a.huidingbu2{ background:#e53531; text-align:center; width:108px; display:block; padding:10px 0;}
/* 翻页 */
.xqfanye{ width:1021px; float:left; text-align:center; font-size:14px; overflow:hidden; line-height:50px;padding:0px 0 0px; font-weight:bolder;}
.xqfanye a{ border:1px solid #999; padding:5px 12px; margin: 0 3px; font-weight:bolder;}
.xqfanye b{ margin: 0 10px; color:#666;}
.xqfanye .prev,.previous_page{ margin: 0 3px 0 20px;border:1px solid #999; padding:5px 12px; margin: 0 3px; font-weight:bolder;}
.xqfanye .prev i:before, .xqfanye .next i:before{margin: 0 8px 3px 2px;content:url(../images/fanyeleft.png); vertical-align:middle; line-height:2px; display:inline-block;}
.xqfanye .next i:before{content:url(../images/fanyeright.png); margin: 0 2px 3px 8px;}

.xqfanye .previous_page{ background:url(../images/fanyeleft.png) no-repeat 15px center;;padding: 5px 20px 5px 30px;}
.xqfanye .next_page{ background:url(../images/fanyeright.png) no-repeat 65px center;;padding: 5px 30px 5px 20px ;}
.xqfanye .previous_page.disabled{ background:url(../images/fanyeleftmiss.png)  no-repeat 15px center; background-color:#f5f5f5;}
.xqfanye .next_page.disabled{background:url(../images/fanyerightmiss.png) no-repeat 65px center;background-color:#f5f5f5;}
.xqfanye .miss,.xqfanye .disabled{ background:#f2f2f2;}
.xqfanye .prev.miss i:before,.xqfanye .previous_page.disabled i:before{content:url(../images/fanyeleftmiss.png);}
.xqfanye .next.miss i:before,.xqfanye .next_page.disabled i:before{content:url(../images/fanyerightmiss.png);}
.xqfanye .select, .xqfanye .current{ background:#999; color:#fff;border:1px solid #999; padding:5px 12px; margin: 0 3px; font-weight:bolder; }
.xqfanye2{ text-align:right; width:100%; margin:10px 0 0 0;}
.xqfanye2 .select, .xqfanye2 .current, .xqfanye2 a{ padding: 5px 10px;}



