@charset "utf-8";
/* CSS Document */

.tssz, .gzdzj, .gzdzbs{ text-indent:48px; font-size:2rem; color:#333; background:url(../images/zhibodingzhiico.png) no-repeat; margin:10px auto; width:92%;}

.gzdzj{ background-position:0 center;}

.gzdzbs{ background-position:0 bottom;}


















