@charset "utf-8";
/* CSS Document */
/* 直播首页 我的关注 */
.zblist,.morelist{ width:100%; padding:50px 0 60px 0;}
.zblist1{ width:100%; background:#fff; margin: 0 0 10px; padding:10px 0; overflow:hidden; position:relative;}
.zblist1left{float:left; width:50px; margin: 0 0 0 10px; height:50px; position:relative;}
.zblist1left img{ width:100%;}
.zblist1right{ padding: 0 10px 0 70px; width:100%;}
a.zbneirong, .zbneirong{ font-size:1.5rem;line-height:1.6em; overflow:hidden; display:block; max-height:81px;text-overflow: ellipsis;}
.titletime{ position:relative; padding: 0 0 5px;line-height:1rem; }
.titletime a, .titletime b{font-size:1.7rem; color:#333;line-height:1.5em; }
.titletime span{ position:absolute; z-index:1; right:0px; color:#999; font-size:1.4rem; top:9px;}
.dianzan{ text-align:right; display:block; padding: 0px 15px 0 0; line-height:1rem; margin:10px 0 0 0;font-size:1.4rem; color:#999;}
.dianzan a{ font-size:1.4rem; color:#999;}
.dianzan img{ vertical-align:middle; margin:0px 5px 5px 0 ;}
.dianjitouxiang{ position:absolute; z-index:20; width:50px; height:50px; top:10px; left:10px;}
.dianjiquanbu{ position:absolute; z-index:10; left:0; top:0; width:100%; height:100%;}
a.xqylj{ display:block; color:#666;}
a.xqylj:visited .zbneirong{ color:#999;}

/* 更多 */
.morelist{ margin:10px 0 0 0;}
.morelist a{ background:url(../images/moreicon.png) no-repeat #fff 15px 20px ; margin:0 0 10px 0; display:block; height:60px; line-height:60px; font-size:1.7rem; color:#333; text-indent:50px; position:relative;}
a.mgaoshou{ background-position:15px -50px;}
a.zxkf{ background-position:15px -121px;}
a.mdrsz{ background-position:15px -193px;}
a.mbangzhu{ background-position:15px -260px;}
.morelist a b{ position:absolute; z-index:1; background:#e53531; width:10px; height:10px; border-radius:10px; top:15px; margin: 0 0 0 2px;}

/* 直播详细页面 */
.zbxqy{ padding:80px 0 60px 0; background:#fff;}
a.zbneirong2{ font-size:1.4rem; max-height:24px; width:75%; white-space: nowrap;}
.zbxqy .zblist1, .gszy .zblist1{ margin:0 0 0px 0; position:fixed; z-index:99; top:0; left:0;border-bottom:1px solid #f5f5f5; }
.zbxqy .zblist12, .gszy .zblist12{ position:fixed; top:0; padding:5px 0;}
.zbxqy .zblist12 .zblist1left, .gszy .zblist12 .zblist1left{ width:40px; height:40px;display: block;}
.zbxqy .zblist12 .zblist1right, .gszy .zblist12 .zblist1right{padding: 0 10px 0 60px;}
.zbxqy .zblist12 .titletime, .gszy .zblist12 .titletime { padding:0;}
.zbxqy .zblist12 .titletime a, .gszy .zblist12 .titletime a{ line-height:40px;}
.zbxqy .zblist12 .guanzhu, .gszy .zblist12 .guanzhu{ top:10px;}

.guanzhu{ position:absolute; z-index:1; right:10px; top:20px; font-size:1.5rem; color:#e53531; background:url(../images/liuyanguanzhu.png) no-repeat 8px 4px; width:70px; height:30px; line-height:30px; text-align:center; text-indent:20px;}
.liuyan{ background:url(../images/liuyanicon.png) no-repeat 8px 6px; }
.yiguanzhu{ color:#999; background:none; text-indent:0;}
.xqycontent{ padding:15px; background:#fff;}
.timezan{ font-size:14px; position:relative; color:#999;}
.timezan a{ position:absolute; z-index:1; right:0; color:#999;}
.timezan a img{ margin:0 5px 5px 0;}
.tanchuzank{ box-shadow: 0px 4px 6px 0px rgba(6, 0, 1, 0.1); position: absolute; width:70%;  z-index: 1; border:1px solid #ccc; background:#fafafa;  right:60px; top:-5px; border-radius:2px;}
.tanchuzankcont{overflow-y:auto;max-height: 325px;padding:15px ;}
.tanchuzank a{ background:#eee; color:#666; height:42px; line-height:42px; text-align:right; padding: 0 20px 0 0; display:block; position:relative;}
.tanchuzank .sanjiaoright{ background:url(../images/sanjiaoright_03.png) no-repeat; width:13px; height:16px; position:absolute; z-index:1; right:-13px; top:7px;}

.xqycontent1{ font-size:1.5rem; line-height:1.5em; padding:10px 0;}
.xqycontent1 p{ margin: 0 0 1.5em 0;}
.xqycontent1 img{max-width:100%; margin:0 auto; display:block;}
.xqycontent1 p a{ color:#999;border-bottom:1px dashed #999;}
.nextpre{ width:100%; line-height:74px; border-top:1px solid #f5f5f5; border-bottom:1px solid #f5f5f5; font-size:1.5rem;}
.nextpre a{ width:50%; display:inline-block; text-align:center;}
.next{  border-left:1px solid #f5f5f5;}
.nextpre a b{ color:#999; font-size:1.4rem; margin: 0 10px;}
.lookmore{ font-size:1.5rem; text-align:center; padding:30px 0; display:block;}
.xqymnav>li{ width:25%; text-align:center; line-height:60px;  float:left;}
.xqymnav li > a{ font-size:1.5rem; display:block;color:#999;}
 a.xqliuyan{ position:relative;}
.xqliuyan1{  position:absolute; z-index:1; background:#fafafa; border:1px solid #ddd;border-bottom:none; bottom:56px; width:25%;right:1px; margin: 0 0 0 1%; border-radius:3px;}
.xqliuyan1 li{ float:none; position:relative;}
.xqliuyan1 li a{ display:block; font-size:1.3rem; color:#333; border-bottom:1px solid #ddd;}
.xqliuyan1 .sanjiaodown{ position:absolute; z-index:1; background:url(../images/sanjiaodown_03.png) no-repeat; width:19px; height:12px; bottom: -11px; left:50%; margin: 0 0 0 -10px;}
.xqymnav b{ top:13px;}
.xqymnav .select > a{ color:#333;}

/* 高手主页 */
.gszy{ padding:114px 0 60px;}
.fxzb{ width:100%; line-height:30px;height:30px; margin:8px 0 0px 0;}
.fxzb span{ margin:0 15px 0 0;font-size:1.2rem; color:#999; float:left;line-height: 30px; height: 30px;}
.gszycont{ margin: 0 0 10px;}
.gszylist{ background:#fff; border-bottom:1px solid #f5f5f5; font-size:1.5rem; padding:15px; position:relative;}
.gszylist p{ max-height:67px; overflow:hidden; margin:5px 0; line-height:1.5em; color:#666;}
.gszylist p img, a.zbneirong img{ margin: 0 3px 3px 0;}
.gszylistclk{ position:absolute; z-index:1; width:100%; height:100%; left:0; top:0; }

/* 我的留言 */
.searchy, .wdly{ padding-bottom:0;}
a.zbneirong3{ width:100%; color:#999;}
.wdly .zblist1{ padding:15px 0; margin:0; border-bottom:1px solid #f5f5f5;}
a.zbneirong4{ color:#666;}
.zblist1left b{ position:absolute; z-index:1; background:#e53531; color:#fff; font-size:1.1rem; width:16px; height:16px;line-height:16px; text-align:center; border-radius:20px; right:-8px; top:-6px;}

/* 搜索 */
.search{ background:#fff;}
.searchinput{ background:#f5f5f5; padding: 25px 15px; }
.searchin{ float:left;width:80%;position:relative;}
.searchin input{ height:48px; background:#fafafa; vertical-align:middle; border:1px solid #eee; border-radius:48px 0 0 48px; font-size:1.7rem; text-indent:24px;width:100%;}
.serachbtn{ height:48px; background: url(../images/searchbtnico.png) no-repeat center #fff; vertical-align:middle; border:1px solid #eee; width:20%; border-radius:0 48px 48px 0; border-left:none;}
.searchin .closed{ background:url(../images/closeicon.png) no-repeat center; width:25px; height:25px; position:absolute; z-index:1; right:10px; top:12px;}
.searchxlc{ position:absolute; z-index:1; left:0px; top:48px;width:100%}
.searchxlc1{ margin: 0 0 0 24px; border:1px solid #ddd;background:#fafafa;  }
.searchxlc1 li{ border-bottom:1px solid #eee; overflow:hidden; }
.searchxlc1 a{ display:block; font-size:1.5rem; float:left; color:#999; line-height:63px;text-indent:15px; width:80%;}
.searchxlc1 .closed{ width:25px; position:relative;float:right; right:auto; margin-right:10px; top:auto; height:63px; }
.wujieguo{ text-align:center; font-size:1.7rem; padding:30px 0 0 0; color:#333;}
.searchjieguo .title, .searchlist{ text-indent:15px; color:#333; font-size:1.7rem; border-bottom:1px solid #eee; line-height:47px; width:100%;}
.searchlist{ display:block; padding:10px 0;}
.searchlist img{ margin: 0 10px 0 0; width:50px; height:50px;}

/* 直播对话 */
.mbdetailed_zbbli{ width:100%; margin:15px auto 0; overflow:hidden; position:relative; font-size:1.5rem; }
.mbdetailed_zbblil{ float:left; width:55px; height:55px;  border-radius:80px; overflow:hidden; margin: 0 0 0 10px;}
.mbdetailed_zbblil img{ width:100%; height:100%;}
.mbdetailed_zbblir{ width:100%; padding:  0 75px; position:relative; }
.mbdetailed_zbblirsh{min-width:50px; max-width:100%; position:relative; }
.mbdetailed_zbblirsh div{ float:left; background:#fff; border:1px solid #ddd; border-radius:6px; padding:15px 10px; font-size:1.5rem; line-height:1.5em; color:#333; }
.mbdetailed_zbblirsh .triangle{ position:absolute; z-index:99; background:url(../images/zhibuduihualeft_03.png) no-repeat; width:8px; height:16px; left:-7px; top:20px}

.mbdetailed_zbblil2{ float:right; margin: 0 10px  0 0;}
.mbdetailed_zbblirsh2{ float:right;}
.mbdetailed_zbblirsh2 div{ float:right;border:1px solid #dd6767; background:#fa9797;}
.mbdetailed_zbblirsh2 .triangle{ position:absolute; z-index:99; background:url(../images/zhiboduihuaright_03.png) no-repeat; width:8px; height:16px; right:-7px; top:20px; left:auto;}

.fasongliuyan{ width:100%; background:#fff; padding: 20px 10px; margin:40px 0;}
.fasongliuyanin{ width:100%; padding: 0 92px 0 0;}
.fasongliuyan textarea{height:120px; border-radius:6px; border:1px solid #ddd; font-size:1.5rem; width:100%; overflow:hidden;}
.fasongliuyan input{ float:right; width:80px; height:122px; border:none; border-radius:6px; background:#ddd; font-size:1.5rem;}
.fasongliuyan .select{ background:#fa9797;color: #fff;}

/* 高手 */
span.zxytzbsj{ float:right; margin: 0;}
.gaoshou{ padding: 100px 0 0 0 ;}
.gaoshou .guanzhu{ top:10px;}
.gaoshou .fxzb{ margin:0; }
.gaoshou .fxzb span{  padding:5px 0 0 0;}
.gaoshou .titletime{ padding:0 0 3px;}

.zbgslb{ width:100%; height:50px; line-height:50px; border-bottom:2px solid #eee; font-size:1.7rem; background:#fff; position:fixed; z-index:10; top:50px;}
.zbgslb a{ float:left; width:50%; text-align:center;color:#999; height:50px; line-height:50px;}
.zbgslb a.select{ border-bottom:2px solid #e53531; color:#333;}
.liuyan2{ background-image:url(../images/liuyanicon2.png); color:#999;}

/* 帮助 */
.bangzhu{ margin:0;  padding: 50px 0 0px 0;}
.bangzhu a{ margin:0; border-bottom:1px solid #f5f5f5;}
.bangzhu .bzwenti{ background:url(../images/wendayiwen.png) no-repeat #fff 15px 20px ;text-indent: 45px;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}

/* 帮助详情 */
.bangzhuxq a{ border:none; line-height:40px; height:40px; padding:10px 0 0 0;}
.bangzhu .bzwenti{ background-position:15px 20px;}
.xqycontent1 img.huidaico{ display:inline; margin: 0 10px 4px 0; width:20px; height:20px;}


/* 免打扰设置 */
 .tssz, .gzdzj{ text-indent:48px; font-size:1.7rem; color:#333; background:url(../images/zhibodingzhiico.png) 20px 13px no-repeat; margin:10px auto; width:100%; position:relative; padding:10px 0;}
.tssz1{ width:100%; padding: 10px 0 10px 11%; margin:0 auto; font-size:1.7rem; position:relative; background:#fff;}
.tssz11{ font-size:1.3rem; color:#999;}
.dzan{ position:absolute; z-index:1; width:90px;; right:15px; top:15px; height:38px;}
.gzdzj .dzan{position:absolute; z-index:1; right:15px; top:5px; color:#999;}
.qbqx{ position:absolute; z-index:1; right:100px; font-size:1.4rem; color:#999; top:13px;}
.zjkz, .zjkz:hover{ background:#fff; border-bottom:1px solid #eee; font-size:1.7rem; width:100%; padding: 20px 0 20px 11%; position:relative; display:block; color:#999;}
.gzdzj{ background:url(../images/liuyanguanzhu.png) 22px 13px no-repeat;}
.button { width:90px; height:28px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button span { position: absolute; display: block;}
.button span:first-of-type {
  z-index: 100;
  top: 4px;
  right: 26px;
  width: 48px;
  height: 28px;
  background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
  box-shadow: 0 4px 2px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 -0px 0px rgba(0, 0, 0, 0.2) inset, 0 -0px 0px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.4), -2px 1px 3px rgba(0, 0, 0, 0.3), 2px 0 1px rgba(242, 201, 197, 0.5) inset;
  border-radius: 36px;
  -webkit-transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
          transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
}
.button span:nth-last-of-type(-n+2) {
  z-index: 10;
  top: 4px;
  width: 34px;
  height: 28px;
  -webkit-transition: opacity 800ms ease 100ms;
          transition: opacity 800ms ease 100ms;
}
.button span:nth-last-of-type(-n+2):after {
  position: absolute;
  top: 26px;
  line-height: 1;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 24px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px #ffffff;
}
.button span:nth-of-type(2) {
  left: 16px;
  background: -webkit-linear-gradient(top, #2ecc71 0%, #7ee2a8 100%);
  background: linear-gradient(to bottom, #2ecc71 0%, #7ee2a8 100%);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3) inset, 0 -2px 6px rgba(0, 0, 0, 0.2) inset;
}

.button span:last-of-type {
  right: 7px;
  background: -webkit-linear-gradient(top, #eee 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #eee 0%, #f5f5f5 100%);
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  box-shadow: -4px 4px 12px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 8px rgba(0, 0, 0, 0.4) inset;
  opacity: 0.2;
}

.button input[type="checkbox"] { display: none;}
.button input[type="checkbox"]:checked ~ span:first-of-type {
  right: 7px;
  box-shadow: 0 4px 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(255, 255, 255, 0.2) inset, 0 -0px 0px rgba(0, 0, 0, 0.2) inset, 0 -0px 0px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.4), -4px 2px 6px rgba(0, 0, 0, 0.4), 2px 0 1px rgba(242, 201, 197, 0.5) inset;
}
.button input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  opacity: 1;
}
.button input[type="checkbox"]:checked ~ span:last-of-type {
  opacity: 0.2;
}

/* 分享后 */
.fenxianghou{ text-align:center; font-size:1.8rem; background:#f5f5f5; padding:30px 0;}
.fenxianghou img, .fenxianghoutc img{ width:50%; margin:10px 0;}
.fenxianghoutc{ position:absolute; z-index:1; width:75%; top:40%; left:50%; margin: -160px 0 0 -35%; background:#fff; border-radius:6px; border:1px solid #c1100a; box-shadow: 0px 4px 6px 0px rgba(6, 0, 1, 0.39); text-align:center; font-size:1.4rem; padding:20px 0 0 0;}
.fenxianghoutc a{ display:block; background:#eee; width:120px; line-height:40px; margin:20px auto;}

/* 分享黑色浮层 */
.yqhyfc{ background:rgba(0,0,0,0.7);  width:100%; height:100%; position:absolute; z-index:2000; left:0; top:0; text-align:right; }
.yqhyfc img{ width:90%; max-width:480px;margin: 0 10px 0 0;}






















































