@charset "utf-8";
/* CSS Document */
/* cmtitle */
.mytitle{ width:100%; font-size:24px; color:#333; line-height:43px; position:relative; text-indent:15px; background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(250,250,250) 100%); border-top:1px solid #fff;}
.mytitle a{ position:absolute; z-index:1; right:15px; top:0; font-size:22px; text-indent:0; color:#999;}
.chicangmx{ width:100%; font-size:18px; color:#666;}
.chicangmx th{ line-height:43px; background:#f9f9f9; border-bottom:1px solid #eee;}
.chicangmx td{ padding:20px 0; text-align:center; border-bottom:1px solid #eee; background:#fff;}
.pclick td{ padding:10px 0; background:#eee; font-size:20px;}
.pclick td img{ vertical-align:middle; margin: -3px 5px 0 0;}

.nrjylist{ width:100%; overflow:hidden; padding:15px 0; margin:0 0 5px; background:#fff; }
.nrtop{ width:100%; position:relative; overflow:hidden; margin: 0 0 10px 0;}
.nrtopl{ display:block; width:60px; height:60px; float:left; margin: 0 15px 0 15px;}
.nndmz{ font-size:24px; color:#333; line-height:60px; float:left;}
.nrtop span{ position:absolute; z-index:1; right:15px; top:0; font-size:20px;}
.nrbottom{ width:100%; overflow:hidden; font-size:18px; line-height:33px; position:relative; text-indent:15px;}
.mmdm{ color:#333; font-size:22px;}
.timetag{ color:#999; position:relative;}
.buylook{ position:absolute; z-index:1; right:15px; bottom:15px; color:#fff; width:80px; height:35px; text-align:center; text-indent:22px; line-height:35px; background:url(../images/lookico.png) no-repeat #e53531 7px 7px; border-radius:3px;}
.genmai{ background-position:7px center;}
.bgenmai{ background-position:7px -154px; background-color:#2f87e4;}

/* 他的主页*/
.guandian,.celue,.zhibo{ color:#e53531; background:url(../images/guandianico.png) 0 center no-repeat; padding: 0 0 0 25px;}
.dashang{ background-image:url(../images/yuanbao2.png);}
.timetag span{ position:absolute; z-index:1; top:0; right:140px;}
.tdgdlist{ width:360px; padding: 0 0 10px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.celue{ background-image:url(../images/celueico.png);}
.goumaicl{ background-image:url(../images/dingyue.png);}
.zhibo{background-image:url(../images/zhiboico.png);}
.tdgdlist2{ padding:0; line-height:35px;}
.zhibolook{ bottom:0;}

/* 自选行情 */
.qhdhyb{ width:100%; height:43px; line-height:43px; border-bottom:1px solid #eee;  font-size:24px; background:#fff;}
.qhdhyb a{ float:left; width:50%; text-align:center;color:#999; }
.qhdhyb a.select{ border-bottom:2px solid #e53531; color:#e53531;}
.qhdhyb-zhanwei{height:43px; line-height:43px;}
.tjzxg{ display:block; width:100%; text-align:center; font-size:30px; height:300px; line-height:300px;}




/* 秀场 */
.nav_myshow a{ width:33.333%;}

/* 直播详情 */
.zhiboxq2{ position:relative; height:800px; overflow-y:scroll;}
.zhiboxq{ background:#fff;}
.zhiboxq .nrbottom{ padding:20px 0 0px 0px; text-indent:0;overflow:auto; background:url(../images/ixiangsuddd_03.png) repeat-y  35px;}
.zhiboxq .buylook{ top:20px;}
.zhiboxq .tdgdlist{ width: 85%;padding: 10px 0 20px 0;overflow:auto; text-overflow:inherit; white-space:normal; margin: 0 0 0 12%; border-bottom:1px solid #eee;}
.zhiboxq .timetag{ position:relative; padding: 0 0 0 12%;}
.zhiboxq .timetag b{ position:absolute; z-index:1; background:#e53531; width:11px; height:11px; border-radius:11px; left:30px; top:10px;}
.zbfbk { width:85%; margin:0 0 0 12%; padding: 30px 0 20px 0 ;}
.zbfbk textarea{ width:98%; border:1px solid #ddd; height:160px; font-size:20px; margin: 0 0 5px;}

/* 直播问答 */

.tdgdlist strong{ font-weight:bolder;}
.tdgdlist p{ color:#333;}
.tdgdlist img{ margin: 0 3px;}
.woyaotiwen{ position:fixed; z-index:1; bottom:0; width:100%; background:#fff; margin:0px auto; background:#f5f5f5;padding:0 0 10px; border-top:1px solid #ccc; }
.woyaotiwen textarea{ width:370px; border:1px solid #e53531; height:44px; vertical-align:middle; font-size:18px; border-radius:3px; margin: 0 0 0 10px; }
.woyaotiwen input{ width:70px; border:none; background:#e53531; color:#fff; height:50px; vertical-align:middle; font-size:22px; border-radius:3px; }

.zhanweiwend{ height:52px;}
.mywenti{ display:block; color:#e53531; font-size:22px;  position:absolute;text-indent:0px; z-index:1; right:10px; top:0; height:105px;}
.wytwtit{ position:relative; font-size:22px;line-height:2em;height:2em; text-indent:10px; text-align:left;}
.wenda{ background-image:none; text-indent:0;}
.yida{ background:#ddd; color:#fff;}

.wydzb{ position:fixed; z-index:1; bottom:70px; left:5px; background:#e53531; color:#fff; width:20px; padding: 5px 0 5px 3px; border-radius:3px;}
a.wytw{ right:5px; left:auto;}
a.wydzb2{ bottom:120px;}

.guanzhu{ position:absolute; z-index:1; right:20px; top:0;}
/* 播住  */
.tablist{ width:450px; line-height:21px; padding:15px; border-bottom:1px solid #eee;overflow:hidden; margin:0 auto;}
.slta{ float:left; width:90px; margin: 0px 10px 0 0; font-size:12px; text-align:center;}
.slta a{ color:#333; font-weight:bolder;}
.slta img{ width:90px; height:120px;}
.lbyr{ float:left; width:350px;}
.tablist p a{ font-size:14px; color:#07237a;}
.adddz{ border-bottom:1px solid #ddd; line-height:2.0em; width:740px; }
.tablist h2{ position:relative;}
.tablist h2 img{ margin: 0 0 0px 5px;}
.tablist h2 a{ font-size:22px; padding: 0 0 10px;font-weight:normal; color:#333; display:block;}
.tablist h2 span{ font-size:12px; color:#999; margin:0 0 0 30px; font-weight:normal;}
.tablist p{ padding: 0 0 10px 0; color:#666; font-size:18px;}
.time{ color:#999; position:relative;  line-height: 27px; height: 27px;}
.time a,h2 a.dyzj{ position:absolute; z-index:1; right:10px; top:0; font-size:16px; background:#e53531; color:#fff; border-radius:3px; padding:3px 8px;line-height: 21px; height: 21px;}
.lbyr2{ width:450px;}
.tablist2{ background:#f5f5f5;}

.zjjs{ overflow:hidden; width:100%; margin:0 auto; background:#fff;}
.zjjsl{ float:left; width:100px; height:120px; margin: 0 10px 0 0;}
.zjjsl img{ width:100px; height:120px;}

.zjjsr{ float:right; width:340px;}
.zjjsr h2{ padding: 0 0 10px 0; color:#333;}

.zxgd{ width:450px; margin:0 auto; font-size:24px; border-bottom:1px solid #eee; border-top:1px solid #eee; line-height:50px;}
.zjzlhz{ padding:10px 0 0 0;}
.zjzlhz a{ background:#e53531; font-size:18px; color:#fff; margin: 0 10px 0 0 ; padding: 0px 10px; border-radius:3px;}
.zjjs1{ border-bottom:1px solid #eee;}
.zjjs1 .zjjsl{ width:30%; margin:2%;height:auto;}
.zjjs1 .zjjsl img{ width:100%; height:auto;}
.zjjs1 .zjjsr{ width:66%; margin:2% 0 0 0;}
.zjjs1 .zjjsr h2{ position:relative; font-size:18px; font-weight:bold;}
.zjjs1 .zjjsr h2 a{ font-size:16px; color:#fff; background:#e53531; padding:6px 15px; border-radius:3px; position:absolute; z-index:1; right:10px; top:-5px;}
.zjjs1 .zjjsr h2 span{ font-size:16px; color:#e53531; display:block;}

.zjjs12{   border-bottom: 1px solid #eee; background: #fff; border-radius: 6px;}

.zjjs1 .zjjsr h2 .zjname{ position:relative; font-size:20px; background:none; color:#333; padding:0; top:auto; right:0;}

.zjzlhz2 a{ background:none; color:#999; font-size:14px; padding:0;}
.zjzlhz2 a span{ color:#333; margin: 0 0 0 3px;}


/* dakazhibo */
.dakatoutu,.dakatoutu img{ width:100%; max-width:480px; margin:0 auto; }
.zjjsr{ color:#666;}
.ssdk { position:relative; width:480px; margin:0 auto; text-align:center; padding:10px 0;}
.ssdk input{ width:420px;  border:1px solid #ddd; height:38px; border-radius:3px; background:url(../images/searchdaka.png) #fff no-repeat 10px center; padding: 0 0 0 40px; font-size:16px; color:#333;}
.ssdk .clears{ background:url(../images/deletet2.png) no-repeat; position:absolute; z-index:1; right:20px; width:18px; height:18px; top:20px; opacity:0.8;}
.buylook:visited{ color:#fff;}
.tdgdlist2 a:visited{ color:#666;}









